[2021-08-11 21:34] kitsonk commented on #791
IMO we should I should not produce diagnostics for something that the formatter handles. They are designed to be complimentary tools.

[2021-08-11 21:47] lawrence-dol commented on #791
@kitsonk : I don't use the formatter, but I do use the linter. I might be missing something here, but what if I don't want to format my source according to the formatter's standards (and I really, *really* don't)? It seems to me that linting is entirely orthogonal to enforcing code layout and format, no?

Noting that I'm not asking for it to add the semicolons, or change the source in any way, onl

[2021-08-11 21:51] kitsonk commented on #791
IMO, if you don't use `deno fmt` you should use some other tool that enforces the formatting of the code against whatever stylistic approach.  The scope of `deno lint` ends at the point of code formatting because there are other tools better suited to the task.

[2021-08-11 21:56] lawrence-dol commented on #791
@kitsonk : Not to be argumentative, but this isn't really an issue of code formatting; it's much more one of code correctness and consistency. If our rule is to not depend on ASI, I'd like the linter to tell us when we are. Albeit that the underlying problem is ensuring the code remains correct after a simplistic minification of said code.

[2021-08-12 05:09] kitsonk commented on #791
Both `deno fmt` and `deno lint` are opinionated.  The scope of `deno lint` is to provide diagnostics for things that `deno fmt` does not address.  `deno fmt` also does not rely upon ASI and always inserts semi-colons.  One could argue that trailing commas are also a stylistic code issue.  Because `deno fmt` addresses those, `deno lint` does not provide diagnostics for them.

Again, if you don't wi

[2021-08-12 18:19] subhakundu commented on #425
Is there anyone working on it? If not, I can pick this up. Is it okay? It seems a good opportunity for me to learn things.

[2021-08-13 01:01] magurotuna commented on #425
@subhakundu Please go ahead! Before you get started to implement, consider a good & ergonomic macro interface, because macros tend to be significantly complicated due to the too high power of expression.
Feel free to ask me (and also other developers) if you have any questions! I'm available here and on discord.

[2021-08-13 02:38] subhakundu commented on #425
Thank you @magurotuna, I appreciate it.

[2021-08-13 08:43] subhakundu commented on #425
@magurotuna, with this [commit](https://github.com/denoland/deno_lint/commit/b526e5a6af475a9fba29277a1b744ec2f7596d15), the above-referred code have been modified with DirectiveKind enum. The repeated texts are being captured in static functions. In this commit, we have captured the texts in a single place, but following code block

{
  col: 0,
  message: DirectiveKind::ExpectError.as_message(),

[2021-08-13 14:33] kecrily opened #795 "Import Standard rules"
The idea is to resolve pointless code style arguments, the diversity of code styles does not make as much sense as the diversity of ideas. It brings nothing but pointless arguments, and instead of improving our development speed, it may waste time in determining the style of the code.

In this case, it clearly makes sense to establish a useful and common code style, then force it to be used. This

[2021-08-13 21:53] magurotuna commented on #795
I agree that forcing developers to use the same and opinionated code style makes much more sense. And I believe Deno's philosophy also follows this idea.

In fact, Deno ships with the bulit-in code formatter [`deno fmt`](https://deno.land/manual@v1.13.0/tools/formatter). This formatter is not configurable right now, forcing developers to use the opinionated code style. By doing this, developers do

[2021-08-13 23:18] magurotuna commented on #425
@subhakundu Yes, some rules use `enum` for their message and hint, and others don't. (for example [no-await-in-loop](https://github.com/denoland/deno_lint/blob/0827bc1a3ee800d9d714072ba754da2b3e8717b1/src/rules/no_await_in_loop.rs#L10-L11))

Your idea sounds good but also a little vague to me. What I think naively is specifically as follows:

[code]

This macro would "group" test cases by messages

[2021-08-14 08:08] bartlomieju commented on #795
I agree with @magurotuna plus Standard has come questionable conventions. We're quite happy with current status of `deno fmt` and `deno lint` so respectfully declining the request.

[2021-08-14 08:08] #795 closed

[2021-08-14 10:44] kecrily commented on #795
But in Roadmap I have seen plans to customize the enable/disable rules.

In addition, this issue is mainly about importing Standard rules, and the unified code style is just a derivative of my plan based on what is listed in Roadmap and the concept of Standard.

This may be a difference in understanding caused by my lack of clarity in expression.

What I mean is that Standard has richer, more deta

[2021-08-14 11:30] magurotuna commented on #795
@kecrily
Yes there's a plan to provide configuration on which rules are run, and I think we're open to add new lint rules if they are useful in some aspects.
If you would like some of lint rules from the JS Standard, please open a proposal issue (like #779) and let's discuss whether that rule should be implemented in deno_lint. I think it'd be better to discuss one by one than the entire JS Standa

[2021-08-14 13:05] #788 closed

[2021-08-14 13:06] #786 closed

[2021-08-15 05:18] subhakundu commented on #425
@magurotuna, I dived deep into your comments and tried an [implementation](https://github.com/subhakundu/deno_lint/commit/cb6cf86ce1d17db40a18219007c38753db40135b) based on your proposal. I agree, what I had proposed was kind of vague (and not correct the way I thought could be implemented). I have created a parent macro (for BanTSComment only) and created tests using that parent macro. Let me kno

[2021-08-15 07:45] magurotuna commented on #425
@subhakundu Your PoC looks a good first start! The next step would be:
- can it be extended to support other rules than `BanTsComment`?
- the column number is fixed per one call to `assert_lint_err_ban_ts_comment!`, and the row number cannot be specified right now. Can it be generalized so that the macro supports various error positions?

[2021-08-15 07:54] subhakundu commented on #425
Yes, these are the next steps. Also, we need to move it to testutils.rs file. I am working on that. Thank you for your guidance.

[2021-08-17 04:56] subhakundu commented on #425
Hi @magurotuna , I have generalized the macro to include all the parameters in this [commit](https://github.com/subhakundu/deno_lint/commit/e67f2a01d75b36788f61947bdc307d2e8a3bacea). I had to create another macro parse_err_test_2 which is almost a duplication of parse_err_test. I am working on reusing parse_err_test. Please let me know your thoughts on that. Also, I wanted to ask you a couple of q

[2021-08-18 14:17] #790 closed

[2021-08-18 14:45] bartlomieju commented on #745
`const enum` is not supported in Deno anyway, but I'm open to adding rule for empty enums.

[2021-08-18 14:46] bartlomieju commented on #736
@magurotuna sounds good, I'm open to both suggestions.

[2021-08-18 14:46] bartlomieju commented on #779
This sounds good to me 👍

[2021-08-18 14:47] bartlomieju commented on #682
So I'm +1 on this rule, any suggestion to the name?

[2021-08-18 14:47] crowlKats commented on #779
performance wise though .at() is quite slower

[2021-08-18 14:48] bartlomieju commented on #714
@kitsonk I don't have a strong opinion on this one, do you want to close it?

[2021-08-18 14:49] bartlomieju commented on #779
Good to know, I'm sure V8 team will work on the performance in the coming release if this API becomes prevalent.

[2021-08-18 15:14] grian32 commented on #779
On the topic of performance, I've made a rudimentary JSBench here that displays the difference: https://jsbench.me/x1krswau85

I will also attempt to implement this rule and PR if I am succesful.

[2021-08-18 17:44] lucacasonato commented on #682
`no-window-prefix`? (`self` prefix should be allowed)

[2021-08-18 19:44] grian32 commented on #779
I was not succesfull, if someone else would like to implement this feel free to.

[2021-08-18 23:26] jsejcksn opened #804 "`no-fallthrough` ignores `never` function return types"
### Lint Name
[`no-fallthrough`](https://lint.deno.land/#no-fallthrough)

### Code Snippet

[code]

### Expected Result

[code]

### Actual Result

[code]

### Additional Info

Regarding code flow analysis, it seems that using the `return` keyword is interpreted as a terminal statement, but that invoking functions whose return types are `never` are not interpreted as terminal.

### Version

[code]

[2021-08-19 01:35] magurotuna commented on #804
Duplicate of #782
To deal with all the possible situations, type analysis is required, but unfortunately we don't have that. Maybe we should try to find a solution for simple cases like the example you described.

[2021-08-19 01:44] #804 closed

[2021-08-19 01:48] jsejcksn commented on #782
I closed a duplicate issue that I opened, but wanted to quote [a comment](https://github.com/denoland/deno_lint/issues/804#issuecomment-901540809) from @magurotuna for visibility in this discussion:

[2021-08-19 03:37] kitsonk opened #805 "Consider using the language server type information for rules"
We would want to think carefully about it, but we might want to consider using the language server, in some fashion, to provide type information in certain scenarios for certain rules. Possibly keeping it behind a flag. The language server can provide very specific type information at particular points in the code which could make rules like no-fallthrough, and undeclared globals more accurate. Wh

[2021-08-19 04:05] magurotuna commented on #805
Sounds like a great idea, being able to acquire type information would solve a bunch of problems we've had for a long time.
It seems a good compromise to query type info only when diagnostics are likely produced. I think another option would be adding some tag to the rules that require type information, and then running `deno lint --quick` would skip the rules tagged with it.

[2021-08-19 04:19] kitsonk commented on #714
At this point, the rule would not be considered "best practice" and therefore wouldn't be a good idea to implement and enable.

[2021-08-19 04:19] #714 closed

[2021-08-19 13:29] magurotuna commented on #425
@subhakundu
Awesome progress.
As you said, it would be fine to reuse `parse_err_test` rather than create `parse_err_test2`.
Also, it'd be much better if `assert_lint_err_tests_generator` took another pattern, where we could specify a filename as an argument, just like `assert_lint_err` does. This is useful when adding test cases whose results depend on the target filename (e.g. `no-unused-vars` ru

[2021-08-19 15:01] subhakundu commented on #425
Thank you @magurotuna, for your valuable feedback. It makes sense to create separate PRs. For now, I am working on the following things
1. Incorporating filename
2. Reusing parse_err_test (it is my highest priority as it will reuse the existing code)
3. Making changes for ban_ts_comment.rs and no_await_in_loop.rs
4. We can reuse this macro in other tests in separate PRs.

Please let me know your t

[2021-08-19 18:36] subhakundu commented on #425
Hi @magurotuna, I have incorporated all the changes in the following [commit](https://github.com/subhakundu/deno_lint/commit/f989147cb72297431a14a308f65f87e24b2c5128). Please have a look at it and let me know if you see any concerns. As per point 3 in my previous comment, I have covered only two files.

Note: I have missed one unused code under a comment. I will remove it before raising the final

[2021-08-19 21:14] lawrence-dol commented on #791
@kitsonk : Note that this is the logical compliment to the existing "no-extra-semi". So it seems that dlint is already opinionated about use of semicolons, undercutting the argument that proper use of semicolons is not the domain of a linter.

I don't want to use *anything* to format my code. That's what my brain is for -- I write well formatted code from the outset and the optimal format for any

[2021-08-20 14:59] magurotuna commented on #425
@subhakundu Looks nice! Your latest code is almost close to adopting. I have just one comment though, which is trivial; there could be a little bit better macro name than  `assert_lint_err_tests_generator`, in my opinion. Could you consider it? I think using the same name (namely `assert_lint_err`) would also be fine, if a suitable name doesn't come to mind.

[2021-08-20 15:24] subhakundu commented on #425
Sure, I can make that change. Thank you for your suggestions. Let me think what can be a good name, if not, I will use the same name. I will raise another PR from my forked repo. I hope that is fine. If not, please let me know the preferred way.

[2021-08-20 18:05] subhakundu commented on #425
Hi @magurotuna, I have raised a PR for the issue. Let me know if I need to do anything else.

[2021-08-21 07:23] kitsonk opened #809 "Suggestion, ignore `.vscode` by default"
Maybe we'd allow it if someone does `deno fmt .vscode/settings.json` but a normal `deno fmt` call could ignore the `.vscode` directory by default.

_Originally posted by @ry in https://github.com/denoland/vscode_deno/issues/498#issuecomment-903074205_

[2021-08-21 15:45] subhakundu commented on #779
Is it okay, if I start working on this one? It will give me good opportunity to learn.

[2021-08-21 16:16] magurotuna commented on #779
@subhakundu
Sure! Please do, and as always feel free to ask about anything. We're sorry that there's no comprehensive documentation about implementing a new lint rule right now (of course I wanna do though). I'd recommend looking at other rules implementation.

[2021-08-22 16:07] subhakundu commented on #425
As the previous PR has been merged, I will cover other tests in separate PRs in the same issue. Also, if someone wants to use the macro to cover other tests, I will be more than happy to assist.

[2021-08-22 22:49] shellscape commented on #176
Lots of great things happening around this project and it's great to see. I wanted to stop in here and _very gently_ add some feedback into the pool. Since our entire team is coming to Deno from very deep Node experience, and years of experience with ESLint+Prettier, the bar the org is using for whether or not to adopt deno_lint is ESLint; the configurability and ability of ESLint. The closer deno

[2021-08-23 10:06] bartlomieju commented on #176
Thanks for feedback, could you give some more concrete examples of what you want to fine tune?

[2021-08-24 17:47] bartlomieju commented on #571
@magurotuna should we still keep this issue open?

[2021-08-24 17:50] #159 closed

[2021-08-24 17:51] bartlomieju commented on #166
Superseded by https://github.com/denoland/deno/issues/11686 and https://github.com/denoland/deno/pull/11776

[2021-08-24 17:51] #166 closed

[2021-08-24 17:51] bartlomieju commented on #162
I'm going to close this issue now, most of the rules now include a `hint` suggesting what to change to make linter happy.

[2021-08-24 17:51] #162 closed

[2021-08-24 17:52] bartlomieju commented on #169
@Brooooooklyn am I right in assumming that your project keep up to date with release of `deno_lint`? Should we link it now in the README?

[2021-08-24 17:53] bartlomieju commented on #330
@magurotuna is this issue still relevant?

[2021-08-24 17:54] bartlomieju commented on #413
This is now available in https://github.com/denoland/deno_lint/blob/main/examples/dlint/visitor.js and should make its way into plugins in the (somewhat) near future.

[2021-08-24 17:54] #413 closed

[2021-08-24 17:56] bartlomieju commented on #270
Closing in favor of #43

[2021-08-24 17:56] #270 closed

[2021-08-24 17:57] bartlomieju commented on #360
CC @magurotuna what do you think?

[2021-08-24 17:57] bartlomieju commented on #443
Deno's LSP already handles this, closing.

[2021-08-24 17:57] #443 closed

[2021-08-24 17:58] bartlomieju commented on #482
Current diagnostic system works fine, once we find ourselves lacking in its capabilities we'll reconsider.

[2021-08-24 17:58] #482 closed

[2021-08-24 17:59] bartlomieju commented on #492
@magurotuna is this still relevant after all your refactors?

[2021-08-24 18:01] bartlomieju commented on #566
@magurotuna sorry I completed missed the ping, I agree with your proposed solution.

[2021-08-24 18:02] bartlomieju commented on #620
This sounds good to me 👍

[2021-08-24 18:05] #680 closed

[2021-08-24 18:05] bartlomieju commented on #572
@kitsonk is there anything actionable left for us to do here?

[2021-08-24 18:07] bartlomieju commented on #610
The discussion about it has been quite heated over at Discord, but nothing changed since February and I believe everyone just accepted that `camelcase` is part of recommended rule set.

I'm going to close this issue now. Feel free to comment with more arguments against it.

[2021-08-24 18:07] #610 closed

[2021-08-24 18:10] bartlomieju commented on #791
I'm open to adding this rule, but this is not something that the core team will work on.

[2021-08-25 04:04] Brooooooklyn commented on #169
Yes I’m keeping up to date the `@node-rs/deno-lint`, I think it’s cool to add it to README. 🎉

[2021-08-25 07:31] subhakundu commented on #779
@magurotuna is there any routine to print ASTs (from top level to lower level) so that I can identify the type of node to use for VisitAll? I have created a barebone rule for learning how to create one. Next steps are to identify type of node (which is potentially Expr I guess) and traversing down from there till we can make sure it is arr.length, binary operation '-' and '1'. It requires more AST

[2021-08-25 11:45] bartlomieju commented on #169
Thanks, added to README in https://github.com/denoland/deno_lint/pull/815. Gonna close this issue now.

[2021-08-25 11:45] #169 closed

[2021-08-27 14:31] bartlomieju opened #817 "Integrate "deno_graph" crate into "deno_lint""
"deno_graph" is a crate that encapsulated logic of building a module graph - ie. figuring out all dependencies of a file, including lib references. This will allows us to implement more complex rules that need to operate on multiple files (ref #454) as well as shared more code with `deno` and other crates (like `deno_doc`).

Ref #672
Ref #762
Blocked on https://github.com/denoland/deno_graph/pull/

[2021-08-28 00:24] magurotuna commented on #571
sorry, didn't notice the mention. There are still lots of rules that need to be changed to use ast-view. I'll open an issue to keep track of progress.

[2021-08-28 00:45] magurotuna commented on #492
sorry I didn't notice the mention.
Yes it's still relevant, I'll look into it again

[2021-08-28 01:02] magurotuna opened #818 "Tracking issue for switching to `dprint-swc-ecma-ast-view`"
Ref #571

We are under switching to `dprint-swc-ecma-ast-view` in rules implementation. This is a tracking issue for it.

- [x] adjacent-overload-signatures
- [x] ban-ts-comment
- [x] ban-types
- [x] ban-unknown-rule-code
- [x] ban-untagged-ignore
- [x] ban-untagged-todo
- [x] ban-unused-ignore
- [x] camelcase
- [x] constructor-super
- [ ] default-param-last
- [ ] eqeqeq
- [ ] explicit-function-re

[2021-08-28 11:51] #571 closed

[2021-08-28 14:25] bartlomieju commented on #762
@kitsonk that sounds good to me, especially if you folks are already using this pattern and think this is useful.

[2021-08-29 20:02] DmitryRomaniuk commented on #745
I'll pick up that issue :)

[2021-08-30 09:22] magurotuna opened #823 "false positive: control flow analyzer goes wrong for involved switch-case statements"
### Lint Name

no-fallthrough

### Code Snippet

see https://github.com/littledivy/deno/blob/7097b7db09e3158830498a04fabebb4671216077/ext/crypto/00_crypto.js#L965-L1029

### Expected Result

no warning without `break` on line 1021

### Actual Result

we get a warning of `no-fallthrough`

### Additional Info

### Version

deno 1.13.2 (release, x86_64-unknown-linux-gnu)

[2021-08-30 09:30] magurotuna commented on #330
@bartlomieju Not really sure, let me check if the issue remains.

[2021-08-30 14:07] magurotuna commented on #360
Yes, indeed there's no harm with the `this` alias in the snippet. But in this particular case, there's a way to achieve the same goal without storing `this` in a variable. I mean, if I were to rewrite the logic, I would do:

[code]

I think this looks much clearer and simpler.

If there are cases where we definitely need to store `this` in a variable to do something, then I think we should fix the

[2021-08-30 14:11] magurotuna commented on #682
@lucacasonato
Is there a smart way to get "the known subset of APIs that are available in both the window, and workers"?

[2021-08-30 14:14] lucacasonato commented on #682
You could parse `lib.deno.window` and `lib.deno.worker` and get the intersection of types from the two. Maybe an easy way would be to get `deno doc` json output from both and intersect the two.

[2021-08-30 14:17] magurotuna commented on #682
That's great, thanks!

[2021-08-31 12:36] #682 closed

[2021-09-01 10:22] petamoriken commented on #623
FYI: https://github.com/denoland/deno/issues/7982#issuecomment-909906237

[2021-09-01 17:02] magurotuna opened #832 "New lint: `prefer-ascii` for Deno's internal JS"
Optimization around deno_core is being made now in https://github.com/denoland/deno/pull/9713. This optimization requires that all the JS code that is eventually bundled in Deno is fully written only in ASCII i.e. one-byte characters. So it would be great to have a new lint rule that makes sure of that.

Similar to `prefer-primordials`, the new lint will be dedicated to the internal of Deno. Not i

[2021-09-01 17:02] magurotuna commented on #832
I'd love to work on it

[2021-09-01 20:10] grian32 commented on #832
I believe this rule may also be of use to regular code, as you don't usually find yourself using chars outside of ASCII and if you do it might be a mistake(accidentally copy pasting a minus unicode character instead of `-` which while looking pretty similar, the minus unicode character is not valid javascript AFAIK).

[2021-09-01 20:29] bartlomieju opened #833 "Provide TS/WASM API"
Similarly to `deno_doc` we should make `deno_lint` available as WASM library.

For context here's a PR from `deno_doc` repo: https://github.com/denoland/deno_doc/pull/125

I'd like to point out that we need to consider integration with JS/TS plugins, as prototyped in [`dlint`](https://github.com/denoland/deno_lint/tree/main/examples/dlint/plugins)

[2021-09-01 20:34] bartlomieju commented on #832
Once https://github.com/denoland/deno/pull/11776 lands it will be possible to enable this rule, but I don't think it should be part of "recommended" set

[2021-09-01 20:50] grian32 commented on #832
I agree @bartlomieju

[2021-09-02 03:07] subhakundu commented on #779
Hi @magurotuna I require sometime to work on it. I am in some kind of personal emergency. Once that is sorted, I will start again. Is it okay? Else if someone wants to work on it, please go ahead.

[2021-09-02 19:01] magurotuna commented on #779
@subhakundu No problem, take your time 😉

[2021-09-03 06:43] jaydenseric opened #835 "Also lint CSS"
It would be great if Deno could also lint CSS in `.css` files, both via the `deno lint` CLI but also via the Deno LSP, which at the moment is capable of formatting `css` syntax.

The default CSS lint rules should basically just validate the CSS; there should be no formatting related rules as that's handled by Deno fmt.

Ideally there would also be rules to validate and auto fix CSS vendor-prefixes

[2021-09-03 09:53] kitsonk commented on #835
Because Deno doesn't handle CSS natively, or even import it, it seem like it is a scope issue. It is a lot more than waving a magic wand and linting CSS. It requires a parser and an opionated set of style rules, neither one Deno has any opinions about.

Personally I would be opposed up until the point where Deno imports and processes CSS, which with the current state of the discussion with TC39 an

[2021-09-03 13:25] bartlomieju commented on #835
I agree with Kitson. Deno is completely agnostic of CSS and can't use it in anyway.

Agreed, this request is currently out of scope for `deno_lint` and I'm not keen on adding CSS infrastructure.

[2021-09-04 05:42] magurotuna commented on #832
I thought what @grian32 said made a lot of sense and tried to deal with characters outside of ASCII in JavaScript syntax, like the case where `‐` (this is _not_ an ASCII, unicode code point is U+2010) is placed at the position of binary operation. However, it seems like we can't handle this case, because swc only accepts valid JavaScript. Therefore, even without this rule, using `‐` (U+2010) mista

[2021-09-05 19:58] #832 closed

[2021-09-05 21:53] dsherret opened #841 "`cargo check` in scaffold integration test causes an extra build on the CI"
The `cargo check` in the scaffold integration test is slow on the CI because the CI will build in release mode and then run this in debug. We should consider some improvement here (maybe even just run with `--release`).

https://github.com/denoland/deno_lint/blob/d11ee57c557128567386e30af75e8d444485d176/tools/tests/scaffold_integration_test.ts#L35

https://github.com/denoland/deno_lint/runs/351944

[2021-09-06 14:39] #841 closed

[2021-09-07 17:40] magurotuna opened #847 "Proposal: Control the execution order of `LintRule` trait"
### Context

Currently, `ban-unused-ignore` and `ban-unknown-rule-code` are handled specially since these rules have to be run after other rules. Moreover, there is a priority even in these two rules; `ban-unused-ignore` has to be run after `ban-unknown-rule-code`.
In short, we have to run lint rules in the following order:

1. normal rules (other than the two rules below) + plugins
2. `ban-unknow

[2021-09-07 21:33] bartlomieju commented on #847
I'm in favor of this change 👍  thanks for a great write up @magurotuna. If we can make `ban-unknown-rule-code` and `ban-unused-ignore` into regular rules that's highly preferable.

[2021-09-08 03:55] jthegedus commented on #835
I came here not for CSS, but expecting `deno lint` to support the same set of files that `deno fmt` supports. I understand these are built on separate underlying `rust` infra, however there is no clear distinction of the goals with these two cmds, one would expect their goals to align.

[2021-09-08 03:57] bartlomieju commented on #835
So you expect `deno_lint` to lint Markdown and JSON/JSONC files?

[2021-09-08 04:01] kitsonk commented on #835
What rule set would you propose for linting Markdown and JSON/JSONC?

[2021-09-08 04:50] jaydenseric commented on #835
What we don't want, is the linting wheels to be reinvented again and again like the situation the npm ecosystem is in. To lint JS files via ESLint, you need to install the dev dependency, setup it's config, setup the ESLint CLI for the GitHub Actions CI, and find an editor plugin. Then if you also need to lint CSS, you have to install the stylelint dev dependency, setup it's particular config, set

[2021-09-08 05:12] bartlomieju commented on #835
@jaydenseric I understand your sentiment and indeed linting codeblocks in Markdown files could be done from our point of view (similar to how `deno fmt` can format codeblocks in .md files).

I'm not so sure about validating JSON files against JSON schemas - best to open a separate issue about it.

As for CSS - this would be a huge undertaking and we currently don't have any infrastructure to do th

[2021-09-08 05:19] kitsonk commented on #835
How do you propose to associate a specific JSON file with a JSN schema?

[2021-09-08 05:23] bartlomieju commented on #835
https://json-schema.org/learn/getting-started-step-by-step - using `$schema` and `$id` fields. Though in https://github.com/denoland/deno/issues/11885 @dsherret suggest we shouldn't go with this solution for Deno's config file.

[2021-09-08 05:28] kitsonk commented on #835
Yeah, I know about that.  My point is "how deep is the rabbit hole"... editors already solve this problem. For example, vscode allows registration of file patterns to schemas and enforces the JSON schema.  This is how we support format enforcement and suggestions in import maps in vscode_deno.

It requires lots of configuration though, and is not something well suited for the Deno CLI.  Editors an

[2021-09-08 05:47] jaydenseric commented on #835
Deno could show lint errors/warnings for import map JSON files, and Deno config files (whatever form they end up taking). For other third-party tool specific JSON files, schemas could be associated to specific files via user Deno lint config if deno ships a configurable JSON schema rule out of the box, or just by a third party Deno lint plugin. For example, a user could install a third-party Deno

[2021-09-08 06:58] jthegedus commented on #835
Well if there are opinions about how those files should be format then I expect there are pitfalls for writing them that can be linted?

How that looks, I do not know.

At a minimum, updating the documentation for each of the commands to list the file types the apply to by default would be helpful.

---

On the further discussions, these are my thoughts & perspective:

Node.js expanded from just a

[2021-09-08 07:10] jthegedus commented on #835
Futhermore, would `deno bundle` ever support bundling HTML, CSS & JS/TS, probably not, that doesn't make much sense. But, should the default formatter of the Deno ecosystem support formatting and linting these auxiliary file types, perhaps.

[2021-09-08 08:57] kitsonk commented on #835
Let's define a few things here, so we are clear what we are talking about.

- diagnostics, warnings or errors provided the something like Deno.
- syntactic errors, for a given language, diagnostics that are errors that usually indicate the code/file is not usable
- semantic errors, the code is the correct syntax bit is still invalid because it expresses the "wrong" information.
- formatting, confo

[2021-09-08 11:31] lucacasonato opened #850 "`no-window-prefix` is too aggressive"
`no-window-prefix` makes `deno lint` annoying to use for web targeted projects. For example calling `window.history` is disallowed.

I think we should consider switching `no-window-prefix` from an allow-list (onload, onunload, closed, alert, confirm, prompt, localStorage, sessionStorage, window, Navigator), to a deny-list. The deny list would contain all the items that are known to exist on both w

[2021-09-08 12:16] magurotuna commented on #850
Makes sense, and nice script! I'll fix it

[2021-09-08 12:24] jthegedus commented on #835
I think we agree in the low value that a JSON lint would provide when a formatter would already bubble some of the information to the user.

Having said that, the ruleset is rather small as shown in [`eslint-plugin-json`](https://www.npmjs.com/package/eslint-plugin-json) and would surface the issues to those who expect to find them in a **Linter**. The desire for this is shown with [`eslint-plugin

[2021-09-08 20:28] kitsonk commented on #835
Deno and Rome's design goals are quite a bit different.

[2021-09-08 22:08] jthegedus commented on #835
Yes, I stated this was a crude measurement.

Yes, Rome will utilise Node and it's package ecosystem and so it's goals are different to Deno. The tools undoubtedly have overlap in the "batteries-included" aspects (linting, formatting etc) of which I was trying to discuss. If the minds behind Rome see a purpose in including the aforementioned, then I think that warrants sincere consideration.

[2021-09-09 02:12] kitsonk commented on #835
Rome is development tooling to develop web applications. Deno is a web platform runtime. They are very distinct things.

[2021-09-09 02:35] jthegedus commented on #835
I understand that, I feel you are specifically ignoring the actual points I am trying to raise.

[2021-09-09 02:43] dsherret commented on #835
This conversation on JSON and markdown feels off topic. Maybe there should be a separate issue?

[2021-09-09 14:52] magurotuna opened #852 "prefer-ascii: Show `\x...` value on non-ascii character in hint"
@magurotuna Great job !

A nice additional improvement would be to show the escaped `\x...` value

_Originally posted by @AaronO in https://github.com/denoland/deno/pull/9713#issuecomment-913021200_

[2021-09-09 15:40] #850 closed

[2021-09-10 06:32] jaydenseric opened #854 "`no-invalid-triple-slash-reference` rule incorrectly warns on `lib` triple slash references in `.js` files"
TypeScript `lib` triple slash references should be allowed in `.js` files, but incorrectly result in `no-invalid-triple-slash-reference` rule warnings. See:

https://github.com/denoland/deno/discussions/11973

### Lint Name

`no-invalid-triple-slash-reference`

### Code Snippet

[code]

### Expected Result

No lint errors.

### Actual Result

Lint errors:

[code]

### Additional Info

Until this i

[2021-09-10 09:02] kitsonk commented on #854
I don't know if we want to detect the ts-check or not, I suspect we would still get false positives if check-js is on in a config file. Maybe best to just "allow" the library reference in JS files.

[2021-09-10 21:36] lucacasonato opened #856 "no-redeclare false positives in class methods"
### Lint Name

`no-redeclare`

### Code Snippet

[code]

### Expected Result

No `no-redeclare` hit.

### Actual Result

`no-redeclare` triggers on `const _res` in the `z()` method.

### Version

deno 1.13.2+b31dad8

[2021-09-11 02:03] magurotuna commented on #856
@lucacasonato thanks for reporting. We've got the same kind of report in Discord as well, but I'm not able to reproduce it by running `deno lint` command in the specified canary build.
The error you encountered only appears in VSCode, right?

[2021-09-11 02:41] magurotuna commented on #856
From a quick bisecting I found this issue began since https://github.com/denoland/deno/pull/11780
@dsherret do you have any idea?

[2021-09-11 12:45] magurotuna commented on #856
@lucacasonato

Yup, I think that would be good. It's most likely due to the caching logic, not a linter issue.

[2021-09-11 12:50] #854 closed

[2021-09-11 20:54] #852 closed

[2021-09-12 00:14] rivy commented on #637
This could catch a lot of otherwise silent errors when using common JS/TS constructions.

It looks like `tslint` and SonarLint have implemented a version of this rule (see <https://github.com/typescript-eslint/typescript-eslint/issues/1314> and [SonarJS rule ~ no-ignored-return](https://github.com/SonarSource/eslint-plugin-sonarjs/blob/master/docs/rules/no-ignored-return.md)).

The unicorn plugin

[2021-09-12 06:34] satyarohith commented on #745
Closed by #848

[2021-09-12 06:34] #745 closed

[2021-09-18 22:14] bartlomieju commented on #847
Unfortunately this change clashes a bit with #845; we can't borrow lint rules list mutable because it's behind and `Arc`. I think we might want to change #845 with use `Vec<Arc<dyn LintRule>>` instead.

[2021-09-22 17:10] #847 closed

[2021-09-22 21:54] bartlomieju commented on #672
Once https://github.com/denoland/deno_lint/pull/904 lands this will be possible by checking `context.media_type()` value when executing a rule.

[2021-09-22 22:36] traceypooh commented on #176
there just doesn't seem to be enough optional rules (from what i can find) effectively replace `eslint` fully.

some example we're using and quite love, based on `airbnb-base` w/ `eslint`:
* quotes
* no-useless-concat
* max-len

i'm trying to migrate [a lot] of code from `node` to `deno` (project w/ 30,000+ lines JS)
and trying to make lines be node/eslint or deno agnostic with line-by-line commen

[2021-09-22 22:43] bartlomieju commented on #176
@traceypooh thanks for the feedback. I'm interested in helping you out with the migration, could you please open a new issue listing which rules you use that are missing so we could evaluate and look into implementing them?

[2021-09-22 23:26] traceypooh commented on #176
thanks @bartlomieju

so keeping in mind these are just from one-off lines, where doing the trick like:
`/* eslint-disable-next-line no-empty */ // deno-lint-ignore no-empty`

caused them to get flagged by deno lint as an unknown rule, etc.
(So point being, there could be some other rules that, say, the airbnb-base has that `deno lint` doesnt have... yet! :) )

[code]

[2021-09-22 23:38] traceypooh opened #906 "additional optional rules to consider"
from https://github.com/denoland/deno_lint/issues/176

some eslint + airbnb base rules that could be nice to have w/ deno lint:

[code]

some of these I could live without -- but for example `quotes` and `no-useless-concat` me and team are heavily interested in and invested in.   `no-plusplus` is nice esp. if you're not coding with semis -- where `semi` is hugely useful (to flag `;` where you're a

[2021-09-23 01:23] traceypooh commented on #906
in case useful, here's a sorted list of all the rules from doing a `eslint --print-config`

based upon this config:
[code]

[code]

[2021-09-23 12:16] #733 closed

[2021-09-23 14:25] bartlomieju commented on #175
Discussed offline with @magurotuna, we got a clear plan how to ship this feature in the near future.

Most likely we'll go with simple JS API to register multiple rules from a single plugin:
[code]

[2021-09-23 14:26] bartlomieju commented on #25
Discussed offline with @magurotuna, we agree this is highly desirable and will look into what are the prerequisites.

[2021-09-23 15:43] magurotuna opened #908 "Plugin refinement"
We already have a prototype of plugin, but it needs to be refined further to make it ready for use. This issue gives a TODO list of necessary refinements.

- making plugins writable in TypeScript, maybe powered by the internal mechanism of Deno CLI
- allowing to fetch remote modules, which also may be powered by Deno CLI
- switching from [visitor.js](https://github.com/denoland/deno_lint/blob/f7ca

[2021-09-28 00:38] bartlomieju opened #917 "lint.deno.land shows blank page"
First deployment of lint.deno.land on Deploy used `fresh` pointing to `main` branch:
https://github.com/denoland/deno_lint/commit/566b95df440a19c57ef94c94f83dc61ae2be5c00#diff-f9b16bf08e458d422b717efd5d7b2e1ab48e326079b54580ffd2bc909e8ec157

In the meantime `fresh` changes and currently going to https://lint.deno.land shows a blank page.

We need to update our usage of `fresh` and point to fixed c

[2021-09-28 00:38] bartlomieju commented on #917
CC @satyarohith @lucacasonato

[2021-09-29 04:50] tysonrm opened #923 "deno -run_as_wasm code.ts"
I'm still getting up to speed on deno so apologies in advance if something like this exists or it doesn't fit. The idea is to run your typescript in the wasm stack machine . That is, typescript that the assemblyscript compiler can compile to wasm

[2021-09-29 07:45] lucacasonato commented on #923
TypeScript can not be compiled to WASM. AssemblyScript is a language that looks very similar to TypeScript, but is not the same.

Even if JS/TS could be compiled to WASM, it would not necessarily be faster.

See
- https://www.assemblyscript.org/frequently-asked-questions.html#is-webassembly-faster-than-javascript
- https://www.assemblyscript.org/frequently-asked-questions.html#will-assemblyscript-

[2021-09-29 07:45] #923 closed

[2021-09-29 08:47] caspervonb commented on #923
There's a subset of AssemblyScript that can run on both https://www.assemblyscript.org/portability.html#differences but as Luca said it doesn't work the other way around as the subset is really small.

Our ability to directly run wasm will be inline with the esm-integration proposal (https://github.com/WebAssembly/esm-integration/blob/master/proposals/esm-integration/README.md).

[2021-09-29 17:36] subhakundu commented on #779
Hi all, I have started working on it again after resolving issues at my end. Thanks for your patience. I have taken the following example

const fruits = ['Apple', 'Banana']
const _x = fruits[fruits.length - 1];

I have understood the syntax tree. For fruits[fruits.length - 1], the following is the syntax tree (each line denotes a level)
MemberExpr (obj: fruits, prop: fruits.length-1)

MemberExpr(

[2021-10-02 10:11] golergka opened #926 "Doesn't recognise rules with @typescript-eslint prefix"
I've only just discovered this package and tried to use it as in-place replacement for ESLint. However, although the package readme says that it supports all `@typescript-eslint` rules, they seem to have different names here — without the prefix.

### Lint Name

`@typescript-eslint/no-explicit-any` or any other `@typescript-eslint` rule.

### Code Snippet

[code]

### Expected Result

deno_lint re

[2021-10-02 13:49] bartlomieju commented on #926
I thought we had this working, but looks like it doesn't. IIRC this somehow conflicted with other rules we have like `no-unused-ignore` and proposed solution was to add "aliases" to rule names (so a single rule can be known as `no-explicit-any` or `@typescript-eslint/no-explicit-any`). I guess this is still desirable to ease the migration from existing tools.

@magurotuna any thoughts on this?

[2021-10-03 11:03] magurotuna commented on #926
@bartlomieju
Adding aliases to rule names sounds great to me.

[2021-10-03 11:37] golergka commented on #926
Thanks for clarifying that this is indeed intended behaviour! It actually wasn't completely sure if this linter is intended as a drop-in and highly compatible replacement of ESLint after reading the docs. If it is, would you accept a PR that clarified that? (Or may be I'm just bad at reading documentation and it's actually stated there loud and clear).

[2021-10-05 18:02] subhakundu commented on #779
Hi all, I have added raised a PR for the issue. Please let me know your feedback on it. Some things are needed before the changes are finalized. I have added the needed information in the last comment and comment in PR.

[2021-10-06 01:57] subhakundu commented on #779
@bartlomieju I am very sorry for that mistake. I am still getting habituated with the flow. I have opened a PR: https://github.com/denoland/deno_lint/pull/932

[2021-10-10 02:52] tysonrm commented on #923
https://twitter.com/TysonMidboe/status/1447027500396253186?s=20
https://github.com/module-federation/aegis/blob/main/wasm/package.json

thanks guys

[2021-10-10 03:56] traceypooh commented on #906
1000 apologies.

after `git clone` of the repo, i realized it looks like each rule is a manually written/maintained parser file (in my naive mind, I imagined majority might be turning off => on certain eslint rules...)  :(

so... over a coupla beers...
i went over the 320 rules enabled w/ my (mostly default eslint/airbnb) setup;  compared against the 68 deno rules, leaving ~266 rules to pore over)

[2021-10-10 12:40] #917 closed

[2021-10-10 19:13] traceypooh commented on #906
OMG, that would be so sooo amazing.
I've migrated a 30,000 line JS project (mostly backend A/V + TV processing) from `node` to `deno`
and the only thing I need `npm` w/ minimal `package.json` for now is during CI [lint] phase of our pipelines,
where I:
* `deno lint`
* `npx eslint`
* `npx eslint` (using a one-off tsconfig file to hunt for async calls missing await)
* `tslint` (to find accidental  `

[2021-10-11 11:56] lts20050703 opened #934 "deno-lint does not support tracking `import =` syntax"
### Lint Name
no-unused-vars
### Code Snippet
[code]
[code]
### Expected Result
No warning
### Actual Result
[code]
### Version
deno 1.14.3 (release, x86_64-unknown-linux-gnu)
v8 9.4.146.19
typescript 4.4.2

# Why I `import Collection = mongo.Collection` and not `type Collection = mongo.Collection` (or in the case of denoland/deno#12395, why not `const Collection = mongo.Collection`)
Read https://

[2021-10-12 01:50] kitsonk commented on #934
We should actually provide diagnostics that flag `import =` syntax as not desired.

[2021-10-12 12:39] lts372005 commented on #934
acording to https://github.com/denoland/deno/issues/12395#issuecomment-940599288

**@kitsonk consider remove the design limitation label?**

[2021-10-14 10:03] lucacasonato opened #938 "no-invalid-triple-slash-reference does not like no-default-lib="true""
### Lint Name

no-invalid-triple-slash-reference

### Code Snippet

JS file:

[code]

### Expected Result

No lint diagnostic

### Actual Result

[code]

### Version

1.15.1

[2021-10-14 12:00] #938 closed, assigned to nobody

[2021-10-18 21:35] LionC opened #941 "Change recommendation on what type to use instead of `{}`"
Currently, deno lint correctly suggests not to use {} and recommends to use Record<string, never> instead if trying to type an empty object.

This however, does not actually achieve what one is trying to achieve when trying to type an empty object, as Record<string, never> allows accessing properties on it without causing TS errors and it carries the index signature with it when intersecting the t

[2021-10-20 11:23] gewoonwoutje opened #944 "Rule suggestion: no-external-imports (enforce deps.ts convention)"
I'd like to use a `deps.ts` and/or import map to load external imports (i.e. non-relative imports), and would like to enforce this convention. In other words, I'd like to block using imports from `https://...` sources in all files, except import maps and a `deps.ts` dependencies file (/ files excluded with an ignore pragma).

[2021-11-01 18:44] andreubotella opened #967 "Rule suggestion: Warn for Unicode bidirectional overrides"
Unicode has some bidirectional override characters. They are meant to be used to help properly display words in languages with a particular directionality within a text in the opposite directionality (i.e. Hebrew words in an otherwise English text, since Hebrew is RTL and English LTR). The result is that bidi-aware tools will display text in an ordering that doesn't match the ordering of the corre

[2021-11-01 20:02] andreubotella commented on #967
This lint as proposed would make life significantly harder for people who do use bidirectional text, so in the long run it would be better to try and detect bidi logical blocks, although that would be significantly more complex.

[2021-11-02 10:24] petamoriken opened #968 "prefer-primordials: Force `SafeArrayIterator` to be used in deno core"
related: https://github.com/denoland/deno/issues/12614

### Lint Name

prefer-primordials

### Code Snippet

[code]

### Expected Result

Suggest using `SafeArrayIterator`.

[code]

### Actual Result

Nothing.

### Additional Info

I think the following query (esquery) will help detect the problem points.

[code]

### Version

deno 1.15.3 (release, aarch64-apple-darwin)
v8 9.5.172.19
typescript 4.

[2021-11-08 02:44] kitsonk opened #969 "Lint proper use of jsx pragma"
[code]

The above code works fine (it uses the `@jsxImportSource`) as expected. It is not obvious to users what should happen here though, so we should add a `deno lint` to disallow this. One or the other, not both.

_Originally posted by @lucacasonato in https://github.com/denoland/deno/issues/12631#issuecomment-962707286_

[2021-11-09 04:01] petamoriken commented on #968
The `for-of` loops also need to be handled.

[code]

[2021-11-09 16:53] bartlomieju opened #970 "Add lint for ensuring a JSDoc exists for public (exported) APIs"
Ref https://github.com/denoland/deno_std/issues/650

It's useful to automatically ensure that all public APIs have appropriate JSDocs, I believe an additional lint rule is the way to go for this purpose.

[2021-11-14 12:52] DreamTexX opened #971 "explicit-function-return-type colliding with set accessor"
### Lint Name

explicit-function-return-type

### Code Snippet

[code]

### Expected Result
Linter should pass

### Actual Result
Linter complains, that set should have a return type annotation

### Additional Info
When setting a return type annotation, linter passes, but compiler does not pass ("A 'set' accessor cannot have a return type annotation").

### Version

deno 1.16.1 (release, x86_64-un

[2021-11-17 01:13] #971 closed

[2021-11-19 17:38] l-cornelius-dol opened #975 "Lint Rule: No boolean literal for arguments."
It would be great to have a lint rule to flag when `true` or `false` is passed to a function [edit] and that argument is not the only argument.

As a solution the problem of a vague true/false value passed to a function, the "boolean trap", I have a habit of creating a self-documenting constant and using that instead. Instead of `redraw(true,true)`, I'll define `const ALL_VIEWS = true, INLINE = tr

[2021-11-19 17:54] bartlomieju commented on #975
I'm open to adding such rule, but it would be an optional rule (ie. required to enable it manually via a config file). PRs are welcome!

[2021-11-19 23:08] CRBl69 commented on #975
If nobody is already working on this PR, I'd like to give it a try !

[2021-11-19 23:25] bartlomieju commented on #975
@CRBl69 please do!

[2021-11-20 00:26] bartlomieju commented on #906
@traceypooh just FYI - you can now run `eslint` natively in Deno using "Node compatbility mode", see https://deno.land/manual@main/npm_nodejs/compatibility_mode for more information. Hope it helps in the meantime until `deno_lint` can consume ESLint's plugins.

[2021-12-01 20:52] Skillz4Killz commented on #970
As a library developer this is something really important to me. I stopped using deno lint a while ago because of the headaches i had just deno-lint-ignoring so many lines. However, having proper documentation would be worth that trouble because it helps save me time since anything undocumented means i have to explain things to users when they ask how something works.

**Ideal Functionality:**

[c

[2021-12-01 21:22] kitsonk commented on #970
Do we expect this to be on by default?

This can quickly get very annoying (like when we had the lint rule about requiring a return type annotation).  For example if I write a utility function in a utility module, it isn't part of my public API, but I export it, and if it is well named and has well named parameters, JSDoc'ing that function or method is _useless_.

[2021-12-01 21:58] bartlomieju commented on #970
In the beginning definitely yes, but I would love to have it on for `deno` repo by default. Ideally we could land on a solution that doesn't involve config, but I'm afraid in this case configuration might be inevitable.

[2021-12-01 22:28] kitsonk commented on #970
I am :-1: for having it if it is on be default.  I can see it useful for `std`, but for end users, it would likely make things too annoying.

[2021-12-02 13:25] bartlomieju commented on #970
Okay sure, let's add the rule and try it out on some real life projects before deciding one way or the other.

[2021-12-07 00:00] andreubotella opened #978 "Lint rule: Import declarations must precede other statements/declarations"
This rule would be useful to catch cases like this, in which you might expect an imported module's top-level code to be eval'd at the position of its import declaration, when instead it will be eval'd before the current module (or afterwards, if there's an import cycle).

[code]

Some pending questions on how specifically to implement this:
- What about export declarations? IMO it's fine to not al

[2021-12-07 18:19] traceypooh commented on #906
ok, this is a very interesting middle ground - thanks for the add and pointer!

apologies for delay in replying -- i hadn't had the time to really drill down to figure out why my setup wasn't working.

so the good news is that i have my full normal `eslint` setup working (w/ `extends: 'airbnb-base'`, the `compat` plugin, and lots more.

the bad news is what doesn't work (and fatals running `eslint

[2021-12-07 18:45] bartlomieju commented on #906
I believe this might be caused by the fact that `eslint` doesn't support remote imports (although I'd expect it does, eg. in web projects). I'm a bit out of my depth here, and would need to do some research. @nzakas sorry for the ping, but maybe you could clear it up?

[2021-12-08 01:25] nzakas commented on #906
ESLint doesn’t interpret import statements in source code, it just sees an AST.

From my limited experience with Deno, it seems more likely that Deno is implementing something in a typesafe way that Node.js is not. I’m not sure what eslint-module-utils

You can run ESLint with `—debug` to see if that gets you any closer to finding the culprit.

If you can figure out what’s breaking, and if it’s in

[2021-12-08 11:58] bartlomieju commented on #906
@traceypooh I did some debugging and the issues seem to stem from the fact that `eslint-plugin-import` expects all specifiers to refer to either local files or packages in `node_modules`, or in other words it doesn't expect remote URLs.

In the concrete error you get context that is passed along, returns `null` from one of the functions called here here:
https://github.com/import-js/eslint-plugin-

[2021-12-08 22:24] traceypooh commented on #906
awesome, thanks muchly for the digging @nzakas and @bartlomieju

this looks potentially interesting as perhaps a way to dodge?
https://github.com/import-js/eslint-plugin-import#resolvers

perhaps we could write a little deno-friendly resolver that allows for local files and remote ones starting with https:// (not sure about following on to that to have it be able to parse the remote file and/or lo

[2021-12-09 13:49] bartlomieju opened #981 "Add integration tests for "dlint" example"
To avoid situation like in #980 we should have at least some rudimentary tests for `dlint` example.

[2021-12-11 14:54] bartlomieju commented on #906
Yes, writing a custom resolver would be the way to go; that said, writing resolver is easy, it's way harder to write tools that would check in Deno cache if the file exists. @kitsonk was making strides toward providing a standalone crate/JS API that could integrate with Deno's cache, but AFAIK it is not available yet.

[2021-12-13 01:53] traceypooh commented on #906
So for now at least, since most anything we care about at archive.org is running in docker containers these days, and mostly using GitLab CI/CD, I'm switching tactics.

* created a new [eslint] special-purpose docker image, that has `npm` in it (for native `eslint`), `deno`, and even `tslint` (there is a _very_ useful promise oops test only tslint seems to have)
* pull in the [eslint] image a only

[2021-12-14 23:54] jaydenseric opened #982 "`no-invalid-triple-slash-reference` rule incorrectly warns on `path` triple slash references in `.js` files"
### Lint Name

`no-invalid-triple-slash-reference`

### Code Snippet

[code]

### Expected Result

No lint errors.

### Actual Result

Lint errors:

[code]

### Additional Info

A similar bug was already fixed for `lib` triple slash references: https://github.com/denoland/deno_lint/issues/854 .

### Version

deno 1.16.4 (release, aarch64-apple-darwin)
v8 9.7.106.15
typescript 4.4.2

[2021-12-18 22:21] Belgabor opened #983 "[1.17.0] Linter: False positive 'require-await' issue triggered"
The following function gets incorrectly tagged with a 'require-await' issue:

[code]
Full code: https://github.com/Belgabor/aoc2021/blob/main/day18/task02.ts

[2021-12-22 14:39] sno2 opened #984 "False Positive: `no-empty` on empty `try-catch` catch block"
### Lint Name

`no-empty`

### Code Snippet

[code]

### Expected Result

No lint message.

### Actual Result

It says that you cannot have the catch block empty.  This is invalid because there are many cases where you do not want to have any code within the catch statement as it's fine if it fails.  In my project, I have a CSS4 selector parser and when you are matching a hyperlink element's href

[2021-12-22 14:43] sno2 commented on #984
Oh, ok. Thanks. I didn't think that comments would subside the lint.

[2021-12-22 14:43] #984 closed

[2021-12-22 14:44] bartlomieju commented on #984
@sno2 when you run the linter there's a hint suggesting how to fix the problem:
[code]

[2021-12-22 14:46] sno2 commented on #984
Yeah, completely my fault. I should have paid more attention. I figured that we hadn't handled for catch blocks when creating my lint.

[2021-12-22 20:56] jespertheend commented on #175
+1 on having a js api available.
I'm currently using [`eslint-plugin-rulesdir`](https://www.npmjs.com/package/eslint-plugin-rulesdir) for custom rules, which essentially makes a folder available for custom rules that you can put your own scripts in.
When writing fully fledged plugins I can see the benefits of using rust over js. But if you want to add just a single custom rule for a specific proje

[2021-12-22 21:22] bartlomieju commented on #175
@jespertheend the trouble is, we got a bespoke API ready for plugins, but that API is completely different to ESLint's API. Different as in, the AST is different and methods for visiting AST nodes are different. It is still unclear if we want to do that, instead of adding ESLint compatible API that would allow to use existing ESLint plugins in Deno. @dsherret and yours truly are gonna look into Po

[2021-12-23 02:08] jespertheend opened #985 "`no-invalid-regexp` when using the `d` flag"
### Lint Name
`no-invalid-regexp`

### Code Snippet

[code]

### Expected Result
No linting errors.

### Actual Result
Both `no-empty-character-class` and `no-invalid-regexp` are reported.

### Additional Info
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp/hasIndices

### Version
deno 1.17.0 (release, x86_64-apple-darwin)
v8 9.7.106.15
typescript 4.5.2

[2021-12-28 04:19] petamoriken opened #986 "prefer-primordials: Cache prototype for instance check"
### Lint Name

prefer-primordials

### Code Snippet

[code]

### Expected Result

Suggest using `ObjectPrototypeIsPrototypeOf`.

[code]

### Actual Result

Nothing.

### Version

deno 1.16.4 (release, aarch64-apple-darwin)
v8 9.7.106.15
typescript 4.4.2

[2022-01-01 19:45] lucacasonato commented on #986
Oh why is JS like this. :(

[2022-01-01 23:50] #985 closed

[2022-01-03 01:13] petamoriken commented on #986
The same may be said for `in` 👉 `ObjectHasOwn`.

[2022-01-10 02:00] #983 closed

[2022-01-10 02:00] #986 closed

[2022-01-10 02:08] petamoriken opened #993 "prefer-primordials: Don't use `in` operator, use `ObjectHasOwn`"
related: https://github.com/denoland/deno_lint/issues/986#issuecomment-1003818902

### Lint Name

prefer-primordials

### Code Snippet

[code]

### Expected Result

Suggest using `ObjectHasOwn`.

[code]

### Actual Result

Nothing.

### Version

deno 1.17.1 (release, aarch64-apple-darwin)
v8 9.7.106.15
typescript 4.5.2

[2022-01-13 15:42] dsherret opened #997 "Use scope analysis from deno_ast"
https://github.com/denoland/deno_lint/pull/996#pullrequestreview-851887032

[2022-01-15 01:59] chasm commented on #176
Is autofix near future or distant future?

[2022-01-15 13:13] bartlomieju commented on #176
At this point in time, there are no plans for when "autofix" feature could be delivered (or if it will be delivered at all).

[2022-01-15 13:27] shellscape commented on #176
I'd encourage you all to at least begin planning, talking about it. If the recommendation is going to be to use the platform/builtins and not a litany of secondary community tooling, this is a must-have.

[2022-01-15 13:31] bartlomieju commented on #176
Thanks for suggestion @shellscape but there's a lot of projects planned for Q1 and Q2 in Deno and we don't have bandwidth to squeeze autofix there, especially since we're planning to provide ESLint compatbility.

[2022-01-15 13:37] jespertheend commented on #176
Doesn't ESLint contain `--fix` support? Or is autofix talking about something else?

[2022-01-15 13:41] bartlomieju commented on #176
It does, but I'm talking about compatibility with existing ESLint plugins.

[2022-01-16 19:53] AnInternetTroll opened #999 "`deno-lint-ignore-file` comment conflicts with shebang"
### Lint Name
deno-lint-ignore-file

### Code Snippet

[code]

### Expected Result
no error
### Actual Result
[code]

### Version
[code]

[2022-01-17 04:15] #999 closed

[2022-01-17 16:41] #997 closed

[2022-01-29 17:52] hironichu opened #1004 "Typo when getting an error for declaring a module inside a module"
### Lint Name

prefer-namespace-keyword

### Code Snippet

[code]

### Expected Result

`module` keyword in module decl**a**ration is not allowed

### Actual Result

`module` keyword in module decl**e**ration is not allowed

### Version

deno 1.18.1 (release, x86_64-pc-windows-msvc)
v8 9.8.177.6
typescript 4.5.2

[2022-01-30 12:51] #1004 closed

[2022-02-03 17:21] malectro commented on #993
Would this be a good first issue to take on? Looks simple, and I'd like to try contributing.

[2022-02-03 22:06] bartlomieju commented on #993
@malectro yes, this is a good first issue. See https://github.com/denoland/deno_lint/pull/995 and https://github.com/denoland/deno_lint/pull/992 for examples on how to implement that.

[2022-02-04 10:06] AkinAguda commented on #982
Can I give this a shot?

[2022-02-04 11:13] bartlomieju commented on #982
@AkinAguda please do

[2022-02-07 16:28] lucacasonato opened #1008 "False positive in nested return statements inside of getters"
### Lint Name

`getter-return`

### Code Snippet

[code]

### Expected Result

No lint error.

### Actual Result

[code]

### Version

[code]

[2022-02-08 08:48] #1008 closed

[2022-02-09 17:43] matheus1lva commented on #175
Hi guys, even though it has being not much time after the last decision, are there plans to support either the plug and play eslint or plugins will have to be rewritten to support deno_lint?

[2022-02-11 00:39] #993 closed

[2022-02-15 12:55] Tricked-dev opened #1011 "`no-unused-vars` warning while type is used in decorators"
### Lint Name

no-unused-vars
### Code Snippet

[code]

[code]

### Expected Result

No lint error

### Actual Result

Lint complains about the type not being used

### Additional Info
[code]
### Version

deno 1.18.2 (release, x86_64-unknown-linux-gnu)
v8 9.8.177.6
typescript 4.5.2

[2022-02-17 06:51] magurotuna commented on #1011
Thanks for filing the issue. Looking into it a little bit, I found that this issue comes from the parser, and that it's already fixed in the latest version of swc. We first need to upgrade swc's version in the crates that deno_lint depends on, so I started from https://github.com/dprint/dprint-swc-ecma-ast-view/pull/34.

[2022-02-17 17:00] dsherret opened #1013 "Ability to automatically fix linting errors"
It might be useful for lints to include [text changes](https://github.com/denoland/deno_ast/pull/63) in the lint diagnostic that would fix the diagnostic. For example, `no-unused-var` could return text changes that would remove unused imports.

This could then be used by a `deno lint --fix` command.

[2022-02-17 21:01] bartlomieju opened #1014 "no-deprecated-deno-api doesn't catch deprecations in types"
### Lint Name

no-deprecated-deno-api

### Code Snippet

[code]

### Expected Result
Should warn about `Deno.File` being deprecated

### Actual Result

No warning

### Additional Info

### Version

Deno 1.19.0

[2022-02-17 23:03] kitsonk commented on #1013
We should consider how we can leverage this properly in the lsp.  I believe currently the only quick fixes are to insert comments to ignore the lint error, would be good to support more useful/intelligent fixes.

[2022-02-17 23:07] dsherret commented on #1013
@kitsonk oh yeah didn't think about that. That would definitely be desired. I guess it should probably have the ability to return multiple possible solutions as a fix and they should be given a description. It could use the first one for `deno lint --fix` and then present all the possible options to someone in the editor.

[2022-02-17 23:44] kitsonk commented on #1013
Good idea.  Using roughly the pattern of the [code action](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_codeAction) from the LSP protocol would make the most sense.  While it doesn't have to be exactly 1-1, there should be a method on whatever structure to be able to convert it to an LSP code action.

This would also be a good way of struc

[2022-02-19 10:20] Yaikava opened #1017 "redirect rule should ignore nest.land modules"
### Lint Name
redirect

### Code Snippet

[code]

### Expected Result

No redirect lint "warning" will be present.

### Actual Result
![image](https://user-images.githubusercontent.com/83710104/154796788-e20d6e97-03f2-4399-a96b-76d934517f32.png)

### Additional Info

[Nest.land](https://nest.land/) has these redirects for every url. I think that deno should ideally ignore this rule for all nest.la

[2022-02-19 12:27] magurotuna commented on #1017
The warning you ran into is not what deno_lint produces. This diagnostic was introduced to deno_lsp in https://github.com/denoland/deno/pull/13580, but as you said, this mechanism doesn't fit into nest.land unfortunately. Perhaps we need to consider how to deal with it...

[2022-02-19 14:50] #1017 closed

[2022-02-19 15:56] DreamTexX opened #1018 "explicit-module-boundary-types with default values"
### Lint Name
explicit-module-boundary-types

### Code Snippet

[code]

### Expected Result
Linter should run fine

### Actual Result
[code]

### Additional Info
Adding a type `c: string = "default"` results in two linter errors: `no-inferrable-types` and `explicit-module-boundary-types`

### Version

deno 1.19.0 (release, x86_64-unknown-linux-gnu)
v8 9.9.115.7
typescript 4.5.2

[2022-02-19 16:55] sigmaSd commented on #1018
It fails here https://github.com/denoland/deno_lint/blob/main/src/rules/explicit_module_boundary_types.rs#L166

Even if this is an assign, it doesn't have a type because its inferred, but `check_ann` will just trigger the lint since it doesn't see the type and don't know about the type inference I guess?

[2022-02-19 17:06] DreamTexX commented on #1018
But it also triggers "explicit-module-boundary-types" when specifically adding the type
[code]

[2022-02-21 17:40] #1011 closed

[2022-02-23 14:52] #982 closed

[2022-02-23 15:13] #1014 closed, assigned to nobody

[2022-02-23 15:36] AkinAguda commented on #981
If nobody's working on this at the moment, I'd like to give it a shot

[2022-03-03 03:57] NotFounds opened #1023 "Lint Rule: No in operator for array"
It would be great to have a lint rule to avoid using the `in` operator for an array.

`in` operator returns if an object has a given property.
If used for an array, it returns if the array index exists. But I think this is a bit confusing :(
I have expected it to return if a specified value exists in the array.

Generally, it's enough to work on only `object` except `array`.

Sorry if this rule ha

[2022-03-03 13:14] ah-yu commented on #1023
It is quite hard to acheive because currently `deno_lint` has no ability to know the type of a variable when linting.

[2022-03-15 23:36] bartlomieju opened #1024 "Try out "miette" crate in "dlint" binary"
Currently we use `annotate-snippets` crate to display diagnostics in `dlint` and `deno lint` has its own diagnostics display API.

We should try out https://docs.rs/miette/4.2.1/miette/ which seems to be well suited for this task and is now used by SWC:
https://github.com/swc-project/swc/pull/3946

[2022-03-15 23:43] kdy1 commented on #1024
Note that `Send` is required for [`SourceCode`](https://docs.rs/miette/4.2.1/miette/trait.SourceCode.html)

cc @zkat

I enabled `concurrent` feature of `swc_common` because of this bound, but deno does not use this flag and this flag is global, so I think there should be a way to use non-sync type as `SourceCode`.

Is it required because of the global hook?

[2022-03-15 23:52] dsherret commented on #1024
@kdy1 we share source text and ASTs around in an `Arc` in our LSP. I'm guessing we would just implement this trait for our `ParsedSource` struct: https://github.com/denoland/deno_ast/blob/31ef71c157d93db40dac518dfb25814b122395ca/src/parsed_source.rs#L34

[2022-03-15 23:53] dsherret commented on #1024
One thing is that we hold onto diagnostics for a long time and only surface them for certain actions in the language server. For example, we allow doing linting on files with diagnostics, but we don't allow formatting to happen if there's certain diagnostics so we check them then.

[2022-03-16 04:16] tclzcja opened #1025 "How do I turn a deno-ts information to error in VS Code?"
Hi there, recently I'm getting a deno-ts message from a typo:

The information is totally correct, I mis-spelled ok with a lowercase o. I just wonder is there a way I can leverage it as an error in VS Code? Currently it's displayed as an information only, see screenshots:

<img width="76" alt="Screenshot 2022-03-16 at 12 14 11 PM" src="https://user-images.githubusercontent.com/20711476/158515673-d

[2022-03-29 09:19] timonson opened #1031 "Problem in `finally` block"
Not a big issue but I don't think `deno lint` should throw a `no-unreachable` problem here. I could prevent the problem by moving the `return` statement outside the block.

### Lint Name
`no-unreachable`

### Code Snippet

[code]

### Expected Result

Nothing being thrown

### Version

deno 1.20.1 (release, x86_64-unknown-linux-gnu)
v8 10.0.139.6
typescript 4.6.2

[2022-03-29 14:13] lucsoft opened #1032 "Rule suggestion: Remove Unnecessary Conditional Expression"
Turns:
[code]
Into:
[code]
Also
[code]

[2022-03-31 02:18] dsherret opened #1033 "Remove no-extra-semi from the recommended set?"
I think we should remove this rule from the recommended set and perhaps entirely. It’s a formatter concern and not a linter one.

[2022-04-01 13:26] dsherret opened #1035 "Lint for unexported types on exported types"

[2022-04-13 16:06] #1024 closed

[2022-04-20 11:57] #968 closed

[2022-04-21 08:30] Zamiell opened #1040 "Feature Request: --verbose flag"
Greetings and thanks for the excellent linter.

I propose that `deno lint` should ship with a `--verbose` flag that would output extra information about what it is doing.

Specifically, I would like the following information to be outputted:

- The path to the configuration file currently being used, or `[no config file found]` if no configuration file was found by the tool.
- An alphabetical list

[2022-04-21 12:46] bartlomieju commented on #1040
`deno lint -L debug` gives some info, we can apply your suggestions for `deno lint -L info`. PRs are welcome.

[2022-04-22 09:44] KnorpelSenf opened #1041 "suggestion: fall though comment in switch statements may be that last line of a block"
The linting rule https://lint.deno.land/#no-fallthrough permits fallthough cases if an appropriate comment is added. However, sometimes, you may want to use a block behind a case. Currently, the comment must come after this block.

I suggest to allow the comment to be on the last line inside the block. Otherwise, it reads like the next case is being marked as a fallthough case.

Currenly, this is

[2022-04-22 11:19] bartlomieju commented on #1041
Sounds reasonable, PRs are welcome

[2022-05-02 00:46] lowlighter commented on #1031
I'm having the same issue, here's a minimal repro:
[code]

Both `try`/`catch` segments get classified as unreachable code

[2022-05-02 10:08] bartlomieju commented on #1031
Thanks for additional reproduction, we'll try to get it fixed soon

[2022-05-09 22:39] noxifoxi opened #1042 "Deno.exit() in switch statement yielts no-fallthrough warning without a break keyword"
### Lint Name

no-fallthrough

### Code Snippet

[code]

### Expected Result
No warnings about case fallthroughs

### Actual Result
Warns about a fallthrough

### Additional Info
deno-lint is not happy until I add `break;` after `Deno.exit();`, although it's unreachable:
![image](https://user-images.githubusercontent.com/293639/167509959-be256cc0-31e6-4191-9b62-a653d6474b08.png)

deno-ts(7027) kno

[2022-05-10 09:28] bartlomieju commented on #1042
This is somewhat of a design limitation at this point... `deno lint` is not really aware that `Deno.exit()` has a return type of `never`. I wonder if we could handle that with @kdy1 control flow analysis?

CC @dsherret

[2022-05-10 09:36] kdy1 commented on #1042
Using `never` type requires a good enough type checker

We can use a 'known list' of expression with never type alternatively

[2022-05-10 09:39] bartlomieju commented on #1042
That's a good point, it's much simpler solution than incorporating type checking and should be good enough in this case.

[2022-05-12 00:21] kyeotic opened #1043 "lint shows "redeclare" error when using the same name in another file"
### Lint Name
`Cannot redeclare block-scoped variable '_a'.deno-ts(2451)`

### Code Snippet

Place this in two files.

[code]

### Expected Result
No error

### Actual Result
`Cannot redeclare block-scoped variable '_a'.deno-ts(2451)`

### Additional Info
This is happening in VS Code with the latest Deno extension.
Any two files sharing a variable produce the error. They don't even need to be in t

[2022-05-12 09:23] bartlomieju commented on #1043
CC @kitsonk

[2022-05-15 19:54] dsherret opened #1044 "Lint for alt text in markdown images"
Might be neat to have a rule that requires alt text in markdown images.

[2022-05-20 10:38] #1031 closed

[2022-05-20 17:43] Conaclos commented on #1018
Specifying the type triggers also a recommended rule [no-inferrable-types](https://lint.deno.land/#no-inferrable-types).

IMO, we should accept undeclared types for all assignment / default param valdiated by `no-inferrable-types`.

[2022-05-20 18:01] Conaclos opened #1048 "explicit-module-boundary-types with declared type and default value"
Hi!

This could be related to https://github.com/denoland/deno_lint/issues/1018. However this is a bit different because the type annotation is present. deno-lint seems to ignore it.

### Lint Name

[explicit-module-boundary-types](https://lint.deno.land/?q=&all=on#explicit-module-boundary-types)

### Code Snippet

[code]

[code]

### Expected Result

Should pass the lint rule.

### Actual Result

[2022-05-20 18:13] Conaclos opened #1049 "explicit-module-boundary-types and JavaScript files"
Hi!

### Lint Name

[explicit-module-boundary-types](https://lint.deno.land/?q=&all=on#explicit-module-boundary-types)

### Code Snippet

[code]

[code]

### Expected Result

The rule should not be applied on JavaScript files.

### Actual Result

[code]

### Additional Info

### Version

deno 1.21.3 (release, x86_64-unknown-linux-gnu)
v8 10.0.139.17
typescript 4.6.2

I also tested with @node-rs/de

[2022-05-23 12:51] kt3k commented on #43
I recently found many unhandled `assertRejects()` calls, even in deno_std itself. People very often forget to put `await` before them.

[2022-05-23 14:38] bartlomieju commented on #43
I think as a stop-gap solution, we could warn about it for TypeScript files if there's an explicit `Promise<T>` return type specified. However it is quite involved to do so, as you currently lint files in isolation and adding support for this would require to store information cross-files.

@dsherret any ideas here?

[2022-05-23 16:05] ah-yu commented on #1018
Agree. I think all params with default values should be ignored in this rule like eslint does.

See https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/src/rules/explicit-module-boundary-types.ts#L206-L207

[2022-05-23 16:09] bartlomieju commented on #1018
@ah-yu sounds good to me

[2022-05-24 10:38] #1018 closed

[2022-05-28 20:00] saethlin opened #1052 "UB in js_regex::Reader due to constructing invalid char"
Hi, I run [Miri](https://github.com/rust-lang/miri) on a lot of published crates to look for UB. It looks to me like there is a bug related to this code: https://github.com/denoland/deno_lint/blob/dfe78729850680b68e1659c64ea69bdee447e38c/src/js_regex/reader.rs#L125-L129

To reproduce, you can run
[code]
and you should eventually see this, plus a backtrace:
[code]
Note that you do need to disable s

[2022-06-27 21:28] Skalman opened #1054 "`no-unused-vars` doesn't work in JSX and TSX files"
### Lint name

no-unused-vars

### Code Snippet

[code]

### Expected Result

`no-unused-vars` rule is triggered regardless of the file type (extension).

### Actual Result

No lint error

### Additional Info

This is an intentional duplicate of #712. That issue was closed, since the rule intentionally skips JSX files to avoid false positives around the factory functions.

However, `deno_lint` sho

[2022-07-01 10:28] #1048 closed

[2022-07-01 10:28] Conaclos commented on #1048
The issue was resolved in https://github.com/denoland/deno_lint/issues/1048

[2022-07-01 10:36] Conaclos opened #1055 "`explicit-function-return-type` and JavaScript files"
Hi!

### Lint Name
[explicit-function-return-type](https://lint.deno.land/?q=&all=on#explicit-function-return-type)

### Code Snippet

[code]

[code]

### Expected Result

The rule should not be applied on JavaScript files.

### Actual Result

[code]

### Version

deno 1.23.1 (release, x86_64-unknown-linux-gnu)
v8 10.4.132.8
typescript 4.7.2

[2022-07-02 09:25] #1055 closed

[2022-07-04 05:38] sno2 opened #1057 "Lint for Implicitly Exported Types in Declare Namespace"
Hello, as https://github.com/denoland/deno/issues/14976 has shown, it can be hard to realize TypeScript's default behavior of exporting all types in a `declare namespace` block.  It might be beneficial to add an optional lint (something like `no_implicit_declare_namespace_export`) onto `type` and `interface` members that are implicitly exported.  This should be able to help stop further costly bug

[2022-07-06 09:00] DreamTexX commented on #1018
Hey,
I still get an error when adding a type to a default parameter

[code]

[2022-07-06 10:12] ah-yu commented on #1018
@DreamTexX are you using the latest version of deno? If not, can you upgrade deno and try again?

[2022-07-14 19:26] stabai opened #1060 "Rule suggestion: Restrict usage of remote scripts"
This may sound like an odd request, but it would be nice to be able to disable remote module imports in script files. If using either an [import map](https://deno.land/manual/linking_to_external_code/import_maps) or a [deps.ts file](https://deno.land/manual/examples/manage_dependencies), it can be a good practice to ensure all remote dependencies are listed there for managing licenses, security ch

[2022-07-14 19:29] stabai opened #1061 "Rule suggestion: Require locks for remote imports"
Deno already has support for [integrity checking](https://deno.land/manual/linking_to_external_code/integrity_checking) via lock files/comments. It would be nice to be able to enforce that these are always used for remote imports that might have changed.

[2022-07-27 08:58] Phosra opened #1062 "prefer-primordials: Introduce `eval`"
`eval` is introduced as a primordial here: https://github.com/denoland/deno/pull/15110.
And I've seen it used in other places, such as [an FFI PR](https://github.com/denoland/deno/pull/15313).

[2022-08-11 10:09] #1057 closed

[2022-08-11 19:42] apacheli opened #1065 "`prefer-const` - Linter does not recognized variable is being reassigned in function parameter"
### Lint Name

prefer-const

### Code Snippet

[code]

### Expected Result

Linter should not recommend `prefer-const` rule as `x` can possibly be reassigned.

### Actual Result

Linter does not think `x` is being reassigned, thus recommending that I use `prefer-const`.

### Additional Info

### Version

1.24.2

[2022-08-24 12:44] iuioiua commented on #970
This sounds like a great way of enforcing documentation. Along the same lines, I think a cool to enforce omitting types from JSDoc tags like `@arg` and `@returns` within TypeScript files, as it's not needed. Ref:
* denoland/deno_std#2493
* denoland/deno_std#2515

[2022-08-25 02:46] kitsonk commented on #1065
I could have sworn this used to work, but no, it doesn't.  another reproduction:

[code]

It incorrectly says: `"a" is never reassigned Use "const" instead`.

[2022-08-25 09:22] ah-yu commented on #1065
This is expected behavior, right? You only assign `a` once.

[2022-08-25 23:33] mfulton26 opened #1072 "getter-return: should permit generators"
### Lint Name

getter-return

### Code Snippet

[code]

### Expected Result

no lint warnings

### Actual Result

[code]

### Additional Info

A getter within the context of `Object.defineProperty`, `Object.defineProperties`, or `Reflect.defineProperty` should be able to be defined using a generator without specifying an explicit return value.

### Version

deno 1.25.0 (release, aarch64-apple-darw

[2022-08-25 23:36] mfulton26 opened #1073 "getter-return: does not check Reflect.defineProperty"
### Lint Name

getter-return

### Code Snippet

[code]

### Expected Result

warnings on both getters which have no return values

### Actual Result

only a warning on `Object.defineProperty` usage but not on `Reflect.defineProperty`

### Additional Info

`Reflect.defineProperty` is like `Object.defineProperty` but returns a `boolean`.

### Version

deno 1.25.0 (release, aarch64-apple-darwin)
v8 1

[2022-08-25 23:55] mfulton26 commented on #1073
same goes for `Object.create`; I can open a separate issue for such if that is preferred

[2022-08-26 02:26] kitsonk commented on #1065
The is re-assigned once, it's initial value is `undefined` and it is assigned the value of `"hello"`.  With blocked scoped `let` and `const` you can't always do the assignment within the same block, and even if you put another block there, the linter still complains, and it should.  It shouldn't have opinions about why you would declare the variable and then assign it a value.

[2022-08-26 03:59] ah-yu commented on #1065
I see. Thank you for the explanation.

[2022-08-26 06:12] ah-yu commented on #1065
After looking at the documentation, I found that variables allow conditional initialization. I tested with your example and this lint rule doesn't complain.
[code]

I don't know if I misunderstood you. If we declare a variable, the variable is considered to be assigned an initial value. But it's different from what the documentation says (see below).
[code]
This means we can simplify `let a; [a] =

[2022-08-27 02:49] brenelz commented on #672
I think I can tackle this issue. I am learning Rust and this seems pretty straightforward

[2022-08-27 12:39] bartlomieju commented on #672
Sounds good @brenelz

[2022-08-28 18:06] Phosra opened #1075 "Suggestion: syntactically deny direct `eval`"
Direct `eval` occurs when the global `eval` function is directly called as `eval(...)`; that is reassigning it, obtaining it from the result of a larger expression such as a ternary operation, or used as a property (`a.eval(s)`), may not invoke direct eval. (I don't know whether (`(eval)(s)`) is direct eval.)

See my comment here: https://github.com/denoland/deno/commit/2d3df94d6164b945e0184043b00

[2022-08-29 10:23] #1062 closed

[2022-08-29 14:41] #672 closed

[2022-08-30 20:05] MarkBennett commented on #175
Just a suggestion for dogfooding this... perhaps leverage [mdn/browser-compat-data](https://github.com/mdn/browser-compat-data) to add a linting rule to check that Deno code can be deployed to Deno Deploy? You'd need to add a Deploy target to the browser compat JSON but that might have other uses as well.

[2022-08-31 09:59] waptik commented on #360
Any updates? I have a class and in a method where i use cheerio to grab some data, i have a property say `name`.
And to have access to the right value for `this.name` within a cheerio element map (`$(element).map(function(){ ... })`) inside a method, i have to first assign `this` to a variable(eg: `const parent = this`) and inside the loop, i can have access to the value by using `parent.name`. If

[2022-09-02 07:02] ild0tt0re commented on #175
The mantainer of swc is working on a separate package that can emit ESTree AST
swc-project/bindings#4

[2022-09-04 18:15] binyamin opened #1076 "Feature Request: Syntax for ignore-directives should allow for an explanation"
### Summary
When a programmer bypasses a configured linting rule, they should be able to document why they made an exception. This can improve code clarity, and should encourage future programmers only to ignore a rule when there's a clear reason for doing so.

### Syntax
It could use a dash preceded by a space:
[code]

Two dashes might be clearer, and easier to distinguish from rules when parsing

[2022-09-04 19:09] bartlomieju commented on #1076
Makes sense, PRs are welcome!

[2022-09-07 08:24] hadriann opened #1077 "Output in compact format"
I am using the Node.js binding (@node-rs/deno-lint) and am having a hard time integrating it with vim. It would help a lot if deno-lint had a way of controlling the output, such as the "--format compact" option in eslint. So, besides the pretty multiline colorized output that it now gives, it would be great (for integrating with other tools) to also have a plain text basic output format. For examp

[2022-09-07 12:44] bartlomieju commented on #1077
Makes sense, PRs are welcome

[2022-09-07 12:48] #1065 closed

[2022-09-11 00:36] brenelz commented on #1077
Took a bit of a stab at this. If you have feedback let me know

[2022-09-16 22:39] #1077 closed

[2022-09-21 13:30] tdillon opened #1080 "no-self-assign rule grammar"
The grammar of the help text seems off.  Should it be `made` instead of `make`?

https://github.com/denoland/deno_lint/blob/190a5e09332f8aaf4c8375fc3312e265961c9630/src/rules/no_self_assign.rs#L39

[2022-09-21 15:12] tdillon opened #1081 "no_self_assign - getter and private class member with same name"
Deno lint is flagging the snippet below with the `no_self_assign` rule.  It appears having a getter and a private class member with the same name (besides the `#` prefix) triggers the rule with Deno Lint.

### Lint Name
no_self_assign

### Code Snippet

[code]

### Expected Result

The above snippet should not trigger the `no_self_assign` rule.

### Actual Result

Deno Lint complains about `this.#

[2022-09-21 15:25] Conaclos commented on #731
@magurotuna made a relevant point.

@cvng do you agree? Can we close this issue?

[2022-10-04 15:13] hirasawayuki opened #1083 "Is it appropriate to use MediaType to check file types in `src/rules` ?"
Is it appropriate to use MediaType instead of filename when checking file types in `src/rules` ?

https://github.com/denoland/deno_lint/blob/55a3d5b6eb6beacd5782134aa764ea89f792136f/src/rules/no_namespace.rs#L40

If checking file type using MediaType is more appropriate, I will fix this code.

Related issues: #672

[2022-10-06 10:04] magurotuna commented on #1083
Good catch, that sounds like the way to go. Please go ahead if you're interested in working on it.

[2022-10-06 10:09] magurotuna commented on #1080
Yes, `made` sounds even better here to me too. Are you interested in fixing it? Otherwise I'll do, though feel free to work on it :) If you are interested, please leave a comment prior to starting to avoid conflict.

[2022-10-06 11:43] tdillon commented on #1080
I'll work on this issue.

[2022-10-07 04:01] #1081 closed

[2022-10-07 04:02] #1080 closed

[2022-10-07 04:19] #1083 closed

[2022-10-09 10:31] #1073 closed

[2022-10-09 11:04] magurotuna commented on #1043
<img width="1129" alt="image" src="https://user-images.githubusercontent.com/23649474/194753130-32dcb22f-499c-4c24-8fd4-42a4ca5d50ac.png">

Confirmed this issue was resolved already at some point, so closing now. Let us know if there's still an issue.

extension v3.13.1
deno 1.26.1 (release, aarch64-apple-darwin)
v8 10.7.193.3
typescript 4.8.3

[2022-10-09 11:04] #1043 closed

[2022-10-09 11:09] magurotuna commented on #1035
This sounds like a reasonable lint rule. I'll implement it.

[2022-10-10 03:41] hirasawayuki opened #1088 "getter-return: does not check `Object.create` and `Object.defineProperties`"
### Lint Name

getter-return
### Code Snippet

[code]

[code]

### Expected Result
warnings on getters which have no return values.

### Actual Result
no warning on `Object.create` and `Object.defineProperties` usage.

### Version
deno 1.25.0 (release, aarch64-apple-darwin)
v8 10.6.194.5
typescript 4.7.4

[2022-10-10 15:20] hirasawayuki commented on #1072
@magurotuna
If `is_generator` of `Function` is true, skipping the check for the getter_return rule seems to solve this problem.
Should I also check for the existence of `YieldExpr`?

**code sinipet**
[code]
**ast**
[code]

[2022-10-11 11:04] #1088 closed

[2022-10-11 11:20] magurotuna commented on #1072
@hirasawayuki Yes, that approach sounds fine. Generators are beyond the scope of this rule, so there's no need to check `yield` in this rule in my opinion. In fact, we have another rule called `require-yield` that checks if generators have `yield` statements in there. It should be nice to leave the check for `yield` to this rule.

[2022-10-26 09:47] Nikaple commented on #360
@waptik You should use arrow functions. See: https://typescript-eslint.io/rules/no-this-alias/

[2022-10-29 16:49] dsherret opened #1094 "Lint for unversioned npm specifiers"
Doing something like `import chalk from "npm:chalk"` is nice for quick hacking, but shouldn't be used in real apps. I think maybe this lint might be best done in the cli though because it involves resolving import maps in some cases.

[2022-11-01 04:30] magurotuna opened #1095 "prefer-primordials: add check for `Promise.all`"
https://github.com/denoland/deno/pull/16326

This PR has introduced `SafePromiseAll` which is a safe version of `Promise.all`. It would be nice if `prefer-primordials` could check for this.

Also, in my opinion, it would be much better if `PromisePrototypeThen` (and other similar stuff) could be checked by the linter.
My rudimentary idea is that we have the linter check for all `.then(...)` and wa

[2022-11-07 13:02] petamoriken opened #1097 "prefer-primordials: imperfect `instanceof` detection"
imperfect `instanceof` detection has caused it to be used by Deno's internal code.

https://github.com/denoland/deno/blob/0d52945d43601c6ca228d89f5b4f9cb0acb84794/ext/flash/01_http.js#L437-L445

https://github.com/denoland/deno/blob/0d52945d43601c6ca228d89f5b4f9cb0acb84794/ext/node/02_require.js#L683

ref: #986, #992

[2022-11-08 14:02] petamoriken commented on #1097
It appeared to be due to a delay in updating [deno_third_party/prebuilt](https://github.com/denoland/deno_third_party/tree/master/prebuilt) and not due to deno_lint.

[2022-11-08 14:02] #1097 closed

[2022-11-08 17:45] RobertAKARobin commented on #835
Linting CSS is really a solved problem, thanks to Stylelint. Instead of Deno reinventing the wheel I would prefer Deno just introduce a way to run Stylelint.

[2022-11-08 18:05] RobertAKARobin commented on #25
Deno's linter doesn't provide alternatives for all the Eslint rules we've historically used, which is a deal-breaker for us switching to Deno. We tried adding workarounds to Eslint to let it run in Deno files (see https://github.com/typescript-eslint/typescript-eslint/issues/5921), but it's overly complicated and really outside the scope of Eslint. IMO it would really behoove Deno Lint to natively

[2022-11-09 03:03] jrson83 commented on #835
Yes, you cannot use the vscode stylelint extension with deno and for me it is also not working when installed stylelint globally with npm. It is really annoying. If you don't want to install stylelint with npm inside a deno project, the only way using stylelint is to install it outside the project folder and set a relative path in the extension stylelint path config.

[2022-11-09 03:05] RobertAKARobin commented on #835
Sort-of related to https://github.com/denoland/deno_lint/issues/25, which concerns Eslint.

[2022-11-13 13:34] KnorpelSenf commented on #303
I disagree. In the majority of cases, async ops are network calls. These may always fail, which would kill the process. That is never the desired behaviour.

I would be open to accept code as valid that has a floating promise with `.catch` install on it. Even then I think it would be better to be more explicit, and add a comment ignoring the linting error.