[2020-03-28 12:35] bartlomieju opened #1 "MVP lint rules"
Decide on list of lint rules that are required for MVP linter.

Good idea to go through recommended sets and compile a list:
- [`eslint`](https://eslint.org/docs/rules/)
- [`typescript-eslint`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/src/configs/recommended.json)

[2020-03-28 12:37] bartlomieju opened #2 "MVP rule ignores"
The only way to ignore a lint rule should be inline comment:
[code]

[2020-03-29 18:52] lucacasonato commented on #1
I think we should start with all of the recommended rules in the `possible errors` section of `eslint`. These are lints that prevent runtime errors, so they are most useful. Those would be:

- [ ] for-direction
- [ ] getter-return
- [ ] no-async-promise-executor
- [ ] no-compare-neg-zero
- [ ] no-cond-assign
- [ ] no-constant-condition
- [ ] no-control-regex
- [ ] no-debugger
- [ ] no-dupe-args
-

[2020-03-29 20:09] lucacasonato opened #5 "[bug] walk_expression is only called for top level expressions."
`walk_expression` is not being called for function arguments, if statement tests, variable assignments, switch cases and all other non top level expressions.

The same is true for many other properties.

[2020-03-29 21:29] kevinkassimo commented on #5
Yeah I also noticed this. I changed a bit to make it work with #3

[2020-04-01 19:13] bartlomieju commented on #1
@lucacasonato thanks for compiling the list, presented approach seems to be reasonable.

Keep in mind I'm still iterating heavily on AST traversal and the `AstTraverser` will most likely be removed altogether in the near future.

[2020-04-02 10:42] bartlomieju commented on #5
Replaced with `swc_ecma_visit` https://github.com/swc-project/swc/pull/743

[2020-04-02 10:42] #5 closed

[2020-04-02 11:33] bartlomieju commented on #1
Update: `AstTraverser` was replaced with `swc_ecma_visit::Visit` trait which serves the same purpose. I'm working on control flow analysis for more complex rules, but a lot of listed rules could now be implemented.

[2020-04-02 17:59] bartlomieju opened #20 "write tests for existing rules"
* remove `test.ts`
* write tests for each existing rule

Example test:
https://github.com/denoland/deno_lint/blob/34a2528389f16288a46cdce4303e25bfd71bd07a/src/rules/no_var.rs#L44-L71

[2020-04-02 21:45] #2 closed

[2020-04-03 10:20] #20 closed

[2020-04-08 05:05] chances opened #25 "Interoperate with Existing ESLint Rules and Configs"
@axetroy If you say there are too many options, why build out a `deno lint` at all? That's only adding more options. We already have a linting tool for linting JavaScript and TypeScript and it is called `eslint`. I don't see a value in duplicating all that work again.

Unless a developer only writes backend code, they will still need to touch `eslint`.

If a parallel lint tool must be built (are t

[2020-04-08 10:23] nayeemrmn commented on #25
What if `deno lint` worked for frontend code?

[2020-04-08 12:11] axetroy commented on #25
My opinion is that **linter should be fewer configurations (even 0)**

The most popular eslint rules should be adopted, but no options are provided.

In the short term, this is very bad, because everyone's writing habits are different

But in the long term, it unifies the code style

As I think about `deno fmt`

We should not add some flags to set the code style, eg. whether use trailing commas, w

[2020-04-08 12:25] Soremwar commented on #25
Code style is only limited by your project and your personal writing style as you said. But having no option to thinker with that options only removes value to an otherwise highly (though opinionated by default) customizable environment

As has been discussed before, Deno doesn't do magic, doesn't pick default files and prefers to allow customization even though it allows defaults

[2020-04-24 20:05] trevordmiller commented on #25
I would suggest having the linting setup include only preventing errors out of the box; perhaps extending `eslint:recommended` (which is [common problems only](https://eslint.org/docs/rules/)), something like:

[code]

[2020-05-04 21:43] nayeemrmn opened #27 "Ignore directive should be deno-lint-ignore"
The ignore directive should be `deno-lint-ignore`. This will match `deno-fmt-ignore` https://github.com/denoland/deno/pull/5075. It is the most explicit and least opinionated choice. The current `deno:ignore` confuses with lots of other Deno concepts.

[2020-05-05 17:06] Raynos opened #28 "Missing documentation on why not eslint"
Would it be possible to document why eslint is not used for linting typescript used in `deno` ?

I would understand the desire to write a linter in rust if `eslint` is deemed too slow.

I would also understand that the deno community does not wish to rely on a binary like `eslint` that only works with `node dist/eslint.js` ( That being I said i see `eslint` as a third_party module ( https://github

[2020-05-05 17:11] bartlomieju commented on #28
It is; this project is still work-in-progress and it is not yet used in deno codebase.

:+1: that's the reason for `deno_lint`

I agree, we plan to implement `recommended` set of rules from eslint.

I can't really say; haven't tried.

[2020-05-05 17:21] Raynos commented on #28
Opened a PR https://github.com/denoland/deno_lint/pull/29 that mentions why `deno_lint` > `eslint`.

[2020-05-14 07:46] DomParfitt commented on #1
Hi @bartlomieju, are you looking for contributors for any of these rules? If so, I would be happy to have a look at one or more of them.

[2020-05-14 09:51] bartlomieju commented on #1
Hey @DomParfitt; this project hasn't received much attention in the past weeks due to release of Deno. There is still some core infrastructure missing, but if you can find a rule and implement it feel free to open a PR :) Keep in mind that scope analysis is not complete #21

[2020-05-16 12:53] #28 closed

[2020-05-18 18:53] bartlomieju commented on #27
Closed in #37

[2020-05-18 18:53] #27 closed

[2020-05-20 13:43] bartlomieju opened #40 "Add caching to CI"
We should set up Github Actions cache to speed up CI builds.

Example set up in Deno repo:
https://github.com/denoland/deno/blob/f366e5e9bb5982376b160bebd35c3edf2c9ff19b/.github/workflows/ci.yml#L106-L121

[2020-05-20 13:45] bartlomieju opened #41 "Add benchmarks"
We should have some minimal benchmarks comparing performance with `ESlint`.

ESLint benchmarks should use same set of rules that are available in `deno_lint`, with configuration producing same results as `deno_lint`.

It will require to setup a project with decent number of files.

[2020-05-20 14:03] #40 closed

[2020-05-21 01:41] sgtpep commented on #1
How about `no-unused-vars`?

[2020-05-21 08:47] bartlomieju commented on #1
@sgtpep `no-unused-vars` requires scope analysis, which is WIP in #21

[2020-05-21 09:37] Skillz4Killz opened #43 "[deno lint] Uncaught Promise Warning"
Would it be possible to somehow warn a user when a Promise is not properly handled? Deno will always crash on uncaught errors. I guarantee there will be many users that will have an issue because their project continues to crash because they forgot to catch a promise. Somewhere in the hundreds, thousands, or millions of lines of code for some project someone is gonna forget a promise and have it c

[2020-05-25 09:59] matklad opened #46 "Thanks for making this :-)"
Not really an issue, just a :+1: on the push to a self-contained TypeScript toolchain :) I spend a significant amount of time babysitting TypeScript build for vscode extension for rust-analyzer, and I am looking forward to a (distant) future, where I need only `deno`, and don't have a 100k lockfile just to make sure I use `;` consistently.

[2020-05-25 10:13] bartlomieju commented on #46
@matklad thank you for kind words :) there's still long way to go for this project, but we'll get there eventually.

Thanks you for rust-analyzer! It's been a game changer!

[2020-05-25 10:13] #46 closed

[2020-05-25 10:22] bartlomieju opened #47 "Show code snippets in report output"
Current report is very minimalistic:
[code]

It should be changed to contain a snippet of code that shows where the problem occurs (much like ESLint):
[code]

@disizali had a PR with colorful output at https://github.com/denoland/deno_lint/pull/26, but I'd rather not introduce new crates for the sake of formatting right now.

Instead we should copy-paste color helpers from `deno` and construct dia

[2020-05-25 10:30] bartlomieju opened #48 "ESLint recommended rules"
Tracking issue for rules from `eslint:recommended` set.

- [x] constructor-super
- [x] for-direction
- [x] getter-return
- [x] no-async-promise-executor
- [x] no-case-declarations
- [x] no-class-assign (<i>broken, needs scope analysis</i>)
- [x] no-compare-neg-zero
- [x] no-cond-assign
- [x] no-const-assign (<i>broken, needs scope analysis</i>)
- [x] no-constant-condition
- [x] no-control-regex <i

[2020-05-25 10:30] bartlomieju commented on #1
I've written down list of all recommended rules from ESLint in: https://github.com/denoland/deno_lint/issues/48

[2020-05-25 10:30] #1 closed

[2020-05-29 11:42] bartlomieju opened #51 "CI cache not working properly"
It seems there is problem with caching in CI - pipeline take about 3-4 minutes and installation of crates can be seen during `clippy` stage.

[2020-05-29 12:09] bartlomieju commented on #47
@disizali would you be interested in giving this issue another go?

[2020-05-29 12:14] disizali commented on #47
@bartlomieju of course, I'll give it a try 👍
ping you for any guidance if needed.

[2020-05-29 12:15] bartlomieju commented on #47
@disizali awesome, kudos 🎉

[2020-06-01 10:43] #47 closed

[2020-06-01 11:45] bartlomieju opened #67 "Refactor testing setup"
Writing test cases for lint rules is a cumbersome at the moment.

We should refactor testing setup to be able to write tests easily, here are some things that would be useful:
- create testing fn for lint rule:
  - `assert_lint_ok<T>(lint_rule: T, source_code)`
  - `assert_lint_err<T>(lint_rule: T, source_code) -> Vec<Diagnostic>`
- compare diagnostics partially - ie. assert that starts on certain

[2020-06-01 11:48] bartlomieju opened #68 "Add CLI parser"
It will take a few more months before linter is good enough to be shipped with `deno`.

In the meantime we could still use it as a standalone binary for testing purposes. That means we need a CLI parser - we should use `clap` (because it's already used in Deno).

For starters CLI should only two situations:
- printing help - `dlint -h`, `dlint --help`, `dlint help`
- running linter on provided lis

[2020-06-01 12:51] lucacasonato commented on #67
This is what I have right now:

[code]

Does that seem reasonable? I don't think we should be ignoring line number because it is actually important in many cases. I agree the file name can be ignored. Also should we also check the error message? I personally think the error code is enough.

[2020-06-01 12:58] bartlomieju commented on #67
@lucacasonato looks good - I suggested skipping line number because in most cases tests can be written on single line:
[code]
Maybe it would make sense to have a helper that asserts there is **single** diagnostics returned and separate helper that returns array of diagnostics (user gives number of expected diagnostics)?
[code]

[2020-06-01 13:03] bartlomieju commented on #67
One more thought: asserting valid code can probably be done by passing vector of test cases
[code]

[2020-06-01 16:37] davidcallanan opened #74 "Deno fmt feature request"
Not essential but I think it would be cool and catch bugs.

I propose that the `deno fmt` command would do the following to each `case` block in a `switch` statement:

 - Add a `// fallthrough` comment to the end of the case if there is no unconditional `break` statement.
 - Remove any `// fallthrough` comment otherwise.

# Examples

[code]

would be formatted to:

[code]

# Why?

 - Makes it clea

[2020-06-01 18:54] davidcallanan commented on #74
I think it should be part of both fmt and lint

[2020-06-01 19:06] cknight commented on #68
As a thought, what about shipping it hidden/undocumented now in Deno, which is enabled only through an `-experimental` flag?  Might make dog-fooding easier.  You could even hook it into the CI running alongside eslint once it's robust enough (which it might already be?).  I'm guessing you would be more likely to get better engagement and feedback this way.  Looking forward to the final product!

[2020-06-01 19:27] bartlomieju commented on #68
@cknight that's the idea - probably we'll end up with `deno lint --unstable` for starters. Thinking about shipping it in Deno `v1.2.0`.

That's a good idea. `deno_lint` is definitely not robust enough - we'll missing a lot of recommended rules from ESLint (#48) and there's also quite a few of them in typescript-eslint.

We definitely want to get more eyes on this project. Thanks!

[2020-06-01 20:17] bartlomieju commented on #67
Cleanly done by @lucacasonato in #72

[2020-06-01 20:17] #67 closed

[2020-06-01 20:39] #68 closed

[2020-06-01 21:54] bartlomieju opened #78 "Integration with Deno CLI"
Tracking issue for all things that need to be worked out before linter can be integrated with Deno CLI

- [x] CLI integration (clap)
- [x] source file loading
- [x] error handling
- [x] dependency duplication (`termcolor`)
- [x] publish crate with `lib.rs` to crates.io (#83)

[2020-06-02 10:35] bartlomieju opened #82 "Lint rule code - camelCase or kebab-case"
Currently rule codes are written using camelCase:
- `noExplicitAny`
- `noEval`
- `getterReturn`

In ESLint rule codes are written using kebab-case:
- `no-explicit-any`
- `no-eval`
- `getter-return`

Ignore directives are currently spelled out using kebab-case (`deno-lint-ignore` which follows convention from Deno for formatting ignores - `deno-fmt-ignore`).

We should make a decision one way or an

[2020-06-02 10:42] bartlomieju opened #83 "Publish to crates.io and release binaries"
CI pipeline should be updated to publish `deno_lint` to crates.io on tag (similar to Deno).

Built binary artifacts should be uploaded to Github and be downloadable from releases page

[2020-06-02 17:16] bartlomieju opened #86 "typescript-eslint recommended rules"
Tracking issues for recommended rules of typescript-eslint

https://github.com/typescript-eslint/typescript-eslint/blob/v3.1.0/packages/eslint-plugin/src/configs/recommended.ts

- [x] adjacent-overload-signatures <i>(easy)</i>
- [x] ban-ts-comment
- [x] ban-types
- [x] explicit-module-boundary-types <i>(easy)</i>
- [x] no-array-constructor
- [x] no-empty-function (needs to be fixed, false positive

[2020-06-02 20:23] lucacasonato commented on #82
I vote for kebab case because ESLint uses it.

[2020-06-02 20:24] lucacasonato commented on #41
I am working on this.

[2020-06-02 20:26] crowlKats commented on #82
ye kebab-case would be the best to follow current existing conventions. keeps things just easier

[2020-06-02 20:36] bartlomieju opened #91 "ci: clippy should fail on warnings"
It seems CI is passing even if clippy produces warnings.

[2020-06-02 21:12] #51 closed

[2020-06-02 21:12] #91 closed

[2020-06-02 21:42] lucacasonato opened #93 "deno_lint --version doesn't print version"

[2020-06-02 22:37] bartlomieju commented on #83
Done in https://github.com/denoland/deno_lint/releases/tag/v0.1.2

[2020-06-02 22:37] #83 closed

[2020-06-02 22:38] bartlomieju opened #96 "Handle NO_COLOR env variable"
Required for #78

[2020-06-03 18:53] bartlomieju commented on #41
Done in #89

[2020-06-03 18:53] #41 closed

[2020-06-03 22:00] #82 closed

[2020-06-03 22:01] #93 closed

[2020-06-03 22:02] #96 closed

[2020-06-03 22:08] lucacasonato commented on #86
I don't think `no-var-requires` makes sense for us: https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-var-requires.md

[2020-06-03 22:51] bartlomieju opened #107 "no-octal rule broken"
[code]

CC @disizali

[2020-06-03 22:52] bartlomieju opened #108 "no-empty-character-class rule broken"
[code]

[2020-06-03 22:53] bartlomieju commented on #108
CC @disizali

[2020-06-03 22:54] bartlomieju opened #109 "no-empty rule broken"
[code]

[2020-06-03 22:55] bartlomieju commented on #107
[code]

[2020-06-04 09:20] #107 closed

[2020-06-04 09:21] #108 closed

[2020-06-04 09:34] disizali commented on #109
also :
[code]

[code]

eslint only warns about `no-empty-function`

[2020-06-04 11:54] ry opened #112 "rule suggestion: use arrow syntax for non-top-level functions"
There's a lot of code like this in Deno:
[code]
It would be nice to have a rule to suggest to use arrow syntax for the anonymous function here.

[However, for top-level functions, the function syntax should be used.](https://deno.land/manual/contributing/style_guide#top-level-functions-should-not-use-arrow-syntax)

[2020-06-05 10:53] #109 closed

[2020-06-05 14:43] bartlomieju opened #121 "remove bin target and move it to examples"
`deno_lint` library target shouldn't depend on `clap` after all. We need to move `main.rs` into `examples/`

[2020-06-05 20:02] David-Else commented on #112
I think the original ESLint rule `prefer-arrow-callback` does what you want with no extra strict settings:

https://eslint.org/demo#eyJ0ZXh0IjoiY29uc3QgRGVubyA9IHt9O1xuXG5mdW5jdGlvbiBiYXIoKXt9XG5iYXIoKVxuXG5EZW5vLnRlc3QoXCJmb29cIiwgZnVuY3Rpb24gKCkgeyAvKiAuLi4gKi8gfSk7Iiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjoxMSwic291cmNlVHlwZSI6InNjcmlwdCIsImVjbWFGZWF0dXJlcyI6e319LCJydWxlcyI6eyJj

[2020-06-05 20:09] lucacasonato commented on #112
@David-Else That doesn't enforce the rule `However, for top-level functions, the function syntax should be used.` though, right?

[2020-06-05 20:20] David-Else commented on #112
Looking at it again, you are right, it is not _enforcing_ the use of top-level function syntax, just allowing it.

[2020-06-05 20:26] lucacasonato commented on #112
Thinking about this more, this should probably be two seperate rules. ESLint's `prefer-arrow-callback` and additionally a `no-top-level-arrow` which forbidds the use of arrow syntax to declare top level functions.

[2020-06-06 09:19] #121 closed

[2020-06-07 20:24] bartlomieju commented on #78
Closing as resolved, because integration with Deno CLI is going smoothly.

[2020-06-07 20:24] #78 closed

[2020-06-07 21:09] bartlomieju commented on #86
I've marked this issue with `0.2.0` milestone. I want to implement remaining rules this week so they will be included in `deno v1.1`

[2020-06-07 21:29] bartlomieju opened #129 "Ignore directives should be linted"
`deno-lint-ignore <code...>` allows to ignore diagnostics matching codes originating on the next line.

Each ignore directive should be checked that it was used, otherwise a new diagnostic should be produced to avoid bit rot.

[2020-06-07 21:30] bartlomieju opened #130 "Add deno-lint-ignore-file directive"
Deno has `// deno-fmt-ignore-file` directive to skip formatting of a file. Linter should have analogous directive: `// deno-lint-ignore-file`

[2020-06-07 21:36] bartlomieju opened #131 "Add Deno scripts for formatting and linting Rust code"
`tools/format.ts` should run:
[code]

`tools/lint.ts` should run:
[code]

CI script should be updated to run those scripts

[2020-06-08 03:34] disizali commented on #86
@bartlomieju
i'm almost done with `no-this-alias` and `ban-ts-comment`,
Also `no-inferrable-types` is my next goal.
you can start the rest first.

[2020-06-08 14:32] iykekings commented on #131
@bartlomieju there's no tools folder, should I add it? I want to work on this. I can easily adapt deno tools

[2020-06-08 14:41] bartlomieju commented on #131
Yeah, go ahead!

[2020-06-09 13:47] #130 closed

[2020-06-09 14:38] #129 closed

[2020-06-09 21:04] caspervonb opened #139 "Panic with missing return?"
So built on master a few hours ago and while it works fine on a bunch of modules in cli/js and std/* I found a case that ends with a crash.

[code]

See [mod.ts](https://github.com/caspervonb/deno-wasi/blob/master/mod.ts)

[2020-06-09 21:11] lucacasonato opened #140 "Disable all non `recommended` rules for now"
I think while we have no config options we should disable all non `recommended` rules because they can give false positives very often (eg `eqeqeq`, https://discordapp.com/channels/684898665143206084/684911491035430919/720016434314608710)

:heavy_check_mark: are all rules which are part of `eslint:recommended` or `typescript-eslint:recommended`
:sauropod: are all rules not present in `eslint` or `

[2020-06-09 21:44] bartlomieju commented on #140
I'm open to that as long as they are still tested

[2020-06-10 11:51] #140 closed

[2020-06-10 17:38] newtack opened #148 "Support for React"
I love the promise of this project (linting, but fast).

We are using eslint not just for js/ts but also React specific rules (e.g. hooks, etc.).

Is this project eventually planned to support this?

[2020-06-11 16:58] ry opened #151 "empty-block too strict"
Doesn't allow this valid code:
[code]

[2020-06-11 20:02] #151 closed

[2020-06-11 20:43] bartlomieju opened #154 "Buggy rules"
False positives found while linting `deno_std` (https://github.com/denoland/deno/pull/6240)

- `no-misued-new`
[code]

- `no-case-declarations`
[code]

- `no-empty`
[code]

- `no-empty-function`
[code]

[2020-06-11 20:50] bartlomieju opened #155 "Remove "no-sparse-array" from recommended rule list"

[2020-06-11 22:39] bartlomieju opened #156 "False negatives in no-explicit-any"
[code]
[code]

[code]
[code]

[2020-06-11 22:43] #154 closed

[2020-06-11 22:43] #155 closed

[2020-06-12 00:07] disizali opened #157 "[suggestion] remove ban-untagged-ignore and add no-invalid-ignore"
two suggestion :
1) `deno-lint-ignore` ignore all rules for the next line ( remove `ban-untagged-ignore` )
2) `deno-lint-ignore no-war` should be reported in a rule like `no-invalid-ignore`

[2020-06-12 03:37] KSXGitHub opened #158 "eqeqeq is cryptic"

[2020-06-12 10:13] bartlomieju commented on #157
I'm pretty much against it - if that's a wildcard ignore it may lead to unwanted supression of some diagnostics. I think requiring lint rule name to be specified is a sane requirement.

So, just rename from `ban-untagged-ignore` to `no-invalid-ignore`? I like the name, but right now unrecongnized rules are not reported - otherwise we'd end up with a lot of errors for rules that we haven't incorpor

[2020-06-12 10:14] bartlomieju commented on #158
Not sure what's the problem here? `eqeqeq` follows naming from [ESLint](https://eslint.org/docs/rules/eqeqeq)

[2020-06-12 11:46] disizali commented on #157
make sense , so let's leave it as it is.

yeah, I also agree with the name.
I close this issue for now and after adding all the rules, I'll reopen and add this rule.

[2020-06-12 11:46] #157 closed

[2020-06-12 13:32] iykekings commented on #86
I'm working on `no-non-null-asserted-optional-chain` and `no-non-null-assertion`.

[2020-06-12 14:03] bartlomieju opened #159 "Add descriptions and examples to each lint rule"
All lint rules should be updated to contains some kind of method that returns description as well as some examples of valid and invalid. This feature will be used to generate documentation.

- [x] adjacent-overload-signatures
- [x] ban-ts-comment
- [x] ban-types
- [x] ban-untagged-ignore
- [x] ban-untagged-todo
- [x] constructor-super
- [x] default-param-last
- [x] eqeqeq
- [x] explicit-function-r

[2020-06-12 14:40] bartlomieju opened #160 "Finish scope analysis"

[2020-06-12 18:26] iykekings opened #162 "Feature request: Add suggestion(s) to error messages"
Error messages should also have suggestions for possible fixes of the error.

[2020-06-13 12:52] zjopy commented on #148
This should be added only as a plugin. Otherwise the deno lint rule set will grow indefinitely, since React isn't eternal and there will come more frameworks.

And even without support for frameworks, core rules should be added very carefully. Rules with little use case or possibility of being outdated should be added via a plugin system. Just look how ESLint ended up with 280 rules! I really hope

[2020-06-13 16:56] ardyfeb opened #166 ".deno-lint configuration file (suggestion)"
User can enable / disable rules, but not customize the rules https://github.com/denoland/deno/issues/1880#issuecomment-601303015

[2020-06-13 19:57] #131 closed

[2020-06-14 19:16] luvies opened #168 "getter-return does not consider flow analysis"
Using the following example:

[code]

I get the following output:

[code]

As a side-note, this rule is only useful in JS, as the TypeScript compiler errors with the following if a getter does not return:

`A 'get' accessor must return a value. ts(2378)`

Is it worth keeping the rule in recommended?

[2020-06-15 03:08] jetfontanilla opened #169 "Feature Request: Webpack Loader for Deno Lint"
I think it would be great if we have a webpack loader for deno lint, and would be configurable to break the build whenever it encounters a lint error

example webpack configuration:
[code]

[2020-06-15 09:05] disizali commented on #168
Thank you for reporting this bug,
I will push the fix in a few minutes.

**javascript**, and typescript actually, so this rule must remain where it is IMO.

[2020-06-15 09:46] #168 closed

[2020-06-15 10:19] Brooooooklyn commented on #169
@bartlomieju  Could you please assign this issue to me? I will try to implement it with [napi-rs](https://github.com/napi-rs/napi-rs)

[2020-06-15 10:22] bartlomieju commented on #169
I'm not very familiar with webpack loaders so I might need a bit more context.

There's two possible ways I see to handle that:
- call external binary - this can be either `deno lint` or some custom built binary like [`examples/dlint`](https://github.com/denoland/deno_lint/tree/master/examples/dlint)
- compile linter to WASM lib

[2020-06-15 10:23] bartlomieju commented on #169
@Brooooooklyn sure, thanks for pointing out `napi-rs`

[2020-06-15 16:53] Brooooooklyn commented on #169
Working on https://github.com/napi-rs/node-rs/pull/61

[2020-06-16 12:55] disizali commented on #160
@bartlomieju Do you plan to work on this soon?
I can work on some parts if you don't have enough time ...

[2020-06-16 12:57] bartlomieju commented on #160
@disizali go ahead, this week I'm working mostly on Deno.

A good start would be to:
- ensure all types of scopes are created when needed
- all bindings are added for each type of scope - warning: this is quite complex for `Pat` (func arguments)

After we got those two working we could think about discovering references to bindings.

[2020-06-16 19:38] nachoguru opened #172 "cargo install deno fails to compile deno_lint v0.1.10 under rustc 1.41.0"
Hi & thank you for Deno! I hope I'm not wasting your time with this but here goes.

A few weeks ago, I successfully installed deno with cargo on Fedora 32. Today I was able to use the **install-update** crate to update deno to v1.1.0 under rustc/cargo 1.44.0. So all good there.

Separately, on another machine, a new Ubuntu Server 20.04 LTS install that thinks rustc 1.41.0 and cargo 1.41.0 are curr

[2020-06-16 20:07] bartlomieju commented on #172
Hi @nachoguru! Thanks for opening the issue.

`deno_lint` (as well as `deno` itself) require latest stable Rust.

You can update Rust on your system using [`rustup`](https://rustup.rs/) - `rustup default stable`

I'll update the README accordingly.

[2020-06-16 21:38] nachoguru commented on #172
Thank you @bartlomieju -- I have un-installed the apt-managed rustc and cargo since I suspect they'll regularly be a bit behind the curve.

[code]

Then following the instructions at https://www.rust-lang.org/tools/install I ran:

[code]

...as myself (not as root).

Now I have the latest (1.44.0) rustc and cargo on Ubuntu 20.04 as I did on Fedora 32 and when I retried `cargo install deno` it got

[2020-06-16 21:38] #172 closed

[2020-06-17 19:28] lucacasonato opened #175 "discussion: plugin support"
It would be great if deno_lint had support for plugins that can add rules. Here are _my thoughts_:

**Constraints**:
- Plugins should be written in Rust and use the same infrastructure as the rules that are part of this repository.
- Plugins should be loaded at runtime, and should not have to be available at compile time. This means they need to be dynamically executed.
- Plugins should not have t

[2020-06-18 09:56] bartlomieju opened #176 "Roadmap"
Opening this issue for tracking purposes as well as to better communicate what can be expected of `deno_lint` in the near future.

Here are the issues that current development focuses on (in the order it must be implemented):
- [x] Scopes analysis #160 - requirement for any "more advanced" rule
- [x] ESLint recommended rule set #48
- [x] typescript-eslint recommended rule set #86

Next:
- [x] bett

[2020-06-18 09:59] bartlomieju commented on #48
Update: there are still some rules that can be implemented right now (eg. `no-extra-boolean-cast`, `no-dupe-class-members`), but a lot others are blocked by scope analysis (#160)

[2020-06-18 20:58] Nasafato opened #179 "Support multiple comma-separated ESLint directives"
https://github.com/denoland/deno/pull/6327#discussion_r441969628

ESLint requires multiple directives to be comma-separated, otherwise it treats the comment as one rule and throws a `not found` error. `deno lint` doesn't current handle this.

[code]

Looking in the linter code base, will need to update `parse_ignore_comment` to correctly parse the comma-separated rules.

[2020-06-20 04:17] magurotuna commented on #48
Is there anyone working on `no-extra-boolean-cast`? If none, I'd like to take it.

[2020-06-20 09:10] bartlomieju commented on #48
@magurotuna go ahead!

[2020-06-20 15:27] bartlomieju commented on #160
@disizali I just checked and it seems that `Loop` scope is never constructed - ie. `for (...)`, `for .. of ...` and `for .. in ..`. So tests added in #180 might not catch everything. I'll try to handle `Loop` scope this weekend

[2020-06-21 07:57] disizali commented on #160
@bartlomieju Before you get started, I had an active branch about adding loop scoops.
I'll open a PR in a few minutes.

[2020-06-21 12:37] bartlomieju commented on #156
The actual problem lies in the fact that there are multiple ignore directives created each of the comments - should be fixed by https://github.com/denoland/deno_lint/pull/187

[2020-06-21 12:44] bartlomieju opened #188 "False positives in no-const-assign"
Trying to run latest code on `std/` in `deno` repository I get:
[code]

CC @disizali

[2020-06-21 12:44] #156 closed

[2020-06-21 12:47] bartlomieju opened #189 "False positives in no-dupe-class-members"
`no-dupe-class-members` does not handle TS overloads correctly:

[code]

Actual source code:
[code]

This rule should probably skip all function that have no body.

CC @magurotuna

[2020-06-21 15:23] magurotuna commented on #189
Oh, I should have been careful about overloads. I missed that.
I'll fix the code.

[2020-06-21 16:18] #189 closed

[2020-06-22 01:51] dalisoft opened #191 "How to use this outside Deno?"
Hi @denoland and it's team and contributors.

Thanks for good work, but i'd like to test this, but it's possible to use outside Deno?

[2020-06-22 13:00] bartlomieju commented on #191
Hey @dalisoft you can try out `deno_lint` by building the included example called `dlint`:
[code]
Please keep in mind that it's really an example demonstrating `deno_lint` and is not really configurable

[2020-06-22 13:17] dalisoft commented on #191
Thanks a lot. I’ll try

[2020-06-22 13:17] #191 closed

[2020-06-23 15:27] magurotuna commented on #48
`no-dupe-else-if` rule seems able to be implemented without scope analysis. I will work on this rule next.

[2020-06-24 01:12] balupton opened #196 "bug: deno's linter should allow ts-expect-error"
I'm working on a pull request to deno that uses `// @ts-expect-error` to allow tests to be able to say "we know that the following code has a type error, but that is the point, we want to test the code against invalid types"

/ref https://github.com/typescript-eslint/typescript-eslint/issues/2093

/moved from https://github.com/denoland/deno/issues/6454

[2020-06-24 01:50] balupton commented on #196
nevermind, seems if you include the error description like so `// @ts-expect-error the error we are expecting` then the linter passes

[2020-06-24 01:50] #196 closed

[2020-06-24 23:07] humancalico commented on #48
I am working on `no-constant-condition`

[2020-06-27 14:48] bartlomieju opened #200 "Compare implemented rules with ESLint config in Deno repo"
Here's the list of ESLint rules currently configured in Deno repo. Before replacing ESLint entirely in Deno repo we'll need have those rules implemented.

Command used to get config:
[code]

[code]

Following rules are off:
[code]

CC @ry @lucacasonato

[2020-06-30 10:11] bartlomieju commented on #188
Unfortunately still the case:
[code]

[2020-06-30 14:52] bartlomieju commented on #188
@disizali I think we'll just have to finish scope analysis (by adding references) and fix this rule by changing how it works - ie. look for references that are "write" references.

[2020-07-01 10:30] magurotuna commented on #48
I'm working on `no-extra-semi`. Some fix to `swc` is needed to implement this rule, so I asked at https://github.com/swc-project/swc/issues/874

[2020-07-01 19:12] disizali commented on #188
totally agree 👍

not just this rule, but rules like `no-class-assign`, `no-func-assign`, `no-ex-assign` can use these references too.

eslint's astUtils calls it `ModifyingReferences`.

[2020-07-03 11:47] bartlomieju commented on #86
@iykekings are you still working on `no-non-null-asserted-optional-chain`?

[2020-07-03 12:37] iykekings commented on #86
Yes, had plenty on my plate at work. I will try to finish it ASAP

[2020-07-05 07:25] magurotuna commented on #48
As `no-extra-semi` is pended, I am working on `no-control-regex` instead.

[2020-07-07 09:25] AkinAguda commented on #48
I am working on `no-irregular-whitespace`

[2020-07-09 13:38] magurotuna commented on #86
I'm working on `adjacent-overload-signatures`.

[2020-07-14 11:47] bartlomieju opened #225 "Instrument code to measure time taken by critical functions"
Lately it seems that performance is dropping by few tens of ms with each new rule added. We're not sure what causes such drops and it's not wise to guess what might cause performance regressions. It means we should instrument code base with to take measurements how long critical functions are running.

Here's a list of functions that should be instrumented:
- `Context::create_diagnostic`
- `Linter

[2020-07-14 19:41] #225 closed

[2020-07-15 13:10] Brooooooklyn commented on #169
latest update

I got around `20x` performance vs `eslint`

[code]

[2020-07-15 13:20] bartlomieju commented on #169
@Brooooooklyn sounds great! Looking forward for development!

[2020-07-19 01:59] newtack opened #232 ".gitignore"
I have node modules in a subfolder, which is in the .gitignore file but deno lint still tries to lint it.

Can you either automatically disable/ignore linting for any files/folders in the .gitignore file or provide some option to ignore a folder/file?

[2020-07-20 18:01] qkniep commented on #48
I am working on `no-invalid-regexp`.

[2020-07-20 19:10] qkniep opened #233 "This project should have an .editorconfig file"
The deno project already has an .editorconfig file: https://github.com/denoland/deno/blob/master/.editorconfig
This makes working on the code easier for contributors with different editor settings.

[2020-07-21 09:11] qkniep commented on #48
Is `no-invalid-regexp` really that easy to implement? I can't simply check via Rust's regex crate as the feature set is different from ECMAScript's (e.g. Rust's regex has no lookahead/-behind), right? And as far as I have seen, there is no crate which implements ECMAScript's regex syntax. In ESLint they use regexpp's validator: https://github.com/mysticatea/regexpp/blob/master/src/validator.ts

Th

[2020-07-21 11:28] bartlomieju commented on #48
@qkniep it seems that this rule is not easy after all, I'll change the description. You're correct that you can't use Rust's regex crate - you don't want to parse using Rust rules, but perform JS regex analysis, so I guess porting `regexpp` is the way to solve it. Feel free to skip this one if that's too much work.

[2020-07-21 11:43] qkniep commented on #48
Ok, I will start with `no-unexpected-multiline` then. And come back to the regex one later.

[2020-07-22 08:38] humancalico commented on #86
@bartlomieju It seems `no-inferrable-types` is done. It's not updated in your comment

[2020-07-22 16:09] MartinChavez opened #238 "Could you help me create a pre-commit hook?"
I am running the following, in the **pre-commit** file:

[code]
It doesn't work, it stills commits the files, any ideas?

[2020-07-22 16:11] MartinChavez commented on #238
Actually, what I am trying to do is to just fail the commit, not to fix anything.

[2020-07-22 16:12] bartlomieju commented on #238
@MartinChavez you can check return code of `deno lint --unstable` - it will return code `1` if there's any diagnostic produced.

[2020-07-23 23:43] MartinChavez commented on #238
@bartlomieju , tried that:

[code]

It doesn't work, it succeds.

[2020-07-24 11:31] bartlomieju commented on #238
@MartinChavez I'm not an expert in bash but I think it shouldn't be `if [[ "$?" == 1 ]]; then` but rather `if [[ $? == 1 ]]; then`.

Also I'd recommend linting all files in one go, instead of linting file after file, it will be a lot faster.

[2020-07-26 12:04] qkniep commented on #48
I created a PR (#243) for `no-unexpected-multiline`.
Also I started work on porting regexpp to Rust over here: [https://github.com/qkniep/regexpp-rs](https://github.com/qkniep/regexpp-rs).

[2020-07-26 12:51] bartlomieju commented on #233
@qkniep sounds good, PRs welcome

[2020-07-26 14:02] #233 closed

[2020-07-28 01:30] kitsonk opened #246 "False positive on no-this-alias"
The following code triggers the rule `no-this-alias` inappropriately:

[code]

The rule should be catching only things like this:

[code]

[2020-07-28 16:09] #246 closed

[2020-07-29 13:03] qu4k commented on #86
Taking `explicit-module-boundary-types`

[2020-07-30 10:31] qu4k commented on #48
Taking a closer look on `no-useless-escape` I found out that [`swc_ecma_ast::Str`](https://swc-project.github.io/rustdoc/swc_ecma_ast/struct.Str.html) (StringLiteral) value is already escaped (there is a `has_escape` flag in the struct, but it's intrinsic to the string and not the single characters).
The rule cannot be implemented fully if this information is not available in the visitor.

[2020-08-03 14:59] bartlomieju opened #253 "LintDiagnostic should implement "Serialize" trait"
Required for https://github.com/denoland/deno/pull/6940

It should probably be gated behind `json` Cargo feature as it will introduce dependency on `serde`

[2020-08-03 16:03] souldzin commented on #253
@magurotuna, I see you have :eyes: on this issue. Are you planning on picking it up? I might be able to hop on it in a day or two :smile:

[2020-08-03 16:30] magurotuna commented on #253
@souldzin If I work on this, it will be this weekend.
So it would be better for you to pick it up👍

[2020-08-03 16:50] magurotuna commented on #253
Ah... I'm not sure I understand what you said correctly. (sorry for my poor English skill)
Would you like to take this issue yourself @souldzin ? Or do you want me to pick it up? (of course I can do if you want.)

[2020-08-03 18:14] souldzin commented on #253
It seems like we're talking about the same thing :smile:

I'm happy to. I'll probably be able to hop on it before the weekend. I'll let you know if anything changes. 👍

[2020-08-03 18:41] magurotuna commented on #253
I see!

[2020-08-05 13:44] Keimeno opened #254 "Deno CLI - allow ts-ignore comments by default"
### The problem
If we run `deno lint --unstable` on my package https://github.com/Keimeno/segno, we get a few `no-explicit-any` warnings, etc. However, we also receive an enormous amount of `ban-ts-comment` warnings.
Quite frankly I use `// @ts-ignore` comments above every import like such;
[code]
because I am using typedoc to automatically generate documentation for my library. The problem with t

[2020-08-06 14:51] humancalico commented on #253
@souldzin Are you still working on it? Can I pick it up?

[2020-08-08 06:07] sumitgoelpw opened #255 "Ignore specific rule for an entire file"
There seems to be a way to ignore linting a file, but I cannot find anything to ignore specific rule(s) for an entire file. What would be the best way to do that?

[2020-08-08 08:57] bartlomieju commented on #255
`deno_lint` does not provide a way to ignore certain diagnostic in whole file.

[2020-08-08 11:11] #253 closed

[2020-08-08 11:16] bartlomieju commented on #254
`deno lint` will stop complaining if you add explanation after the comment, eg. `// @ts-ignore Otherwise TS complains about .ts extension`

[2020-08-08 13:12] souldzin commented on #253
Sorry for the late reply. This week ended up being busier than I hoped :(

Thanks for taking care of this!

On Sat, Aug 8, 2020, 6:12 AM Bartek Iwańczuk <notifications@github.com>
wrote:

[2020-08-09 16:26] humancalico commented on #48
working on `no-misleading-character-class`

[2020-08-09 17:04] sumitgoelpw commented on #255
Thanks for the response, @bartlomieju. Can this be considered a feature request?

[2020-08-11 09:00] bartlomieju commented on #255
Sure, I've added appropriate label.

[2020-08-11 09:00] #238 closed

[2020-08-11 09:00] #254 closed

[2020-08-11 09:00] #158 closed

[2020-08-18 22:07] bartlomieju opened #265 "Update CLA"

[2020-08-19 00:16] #265 closed

[2020-08-19 03:01] Brooooooklyn commented on #169
Published [@node-rs/deno-lint@0.1.0](https://www.npmjs.com/package/@node-rs/deno-lint)

[2020-08-19 03:08] Brooooooklyn commented on #169
It's a wrong result due to wrong implementation....

The real benchmark result:

[code]

And it was just represent for the performance between `eslint` and `@node-rs/deno-int` in programmably usage.

[2020-08-19 06:44] jetfontanilla commented on #169
awesome work, thanks!

my next question is if I want to configure individual rules for the loader, how should i go about it?

[2020-08-19 08:19] Brooooooklyn commented on #169
I'm planning to implement `.denolintconfig` feature, maybe relate to https://github.com/denoland/deno_lint/issues/166.
I will implement the feature in [node-rs](https://github.com/napi-rs/node-rs) project. And if my implement meets the requirement of `deno_lint` itself, I'm happy to migrate it into `deno_lint` then.

[2020-08-20 17:05] caseyhoward opened #268 "Feature request: Use restrict-template-expressions rule"
Is there any plan to implement the restrict-template-expressions? One of the worst problems with I run into with Javascript is the way it tries to convert things automatically. Typescript solves this for the most part but I still run into this fairly often:

[code]

Obviously, I was trying to print the value of `x.a` but forgot the `.a`. I can't think of a reason I would ever want "[object Object]

[2020-08-20 17:15] bartlomieju commented on #268
This rule requires TS type checker: https://github.com/typescript-eslint/typescript-eslint/blob/b62331ad02dcff3236e18f10eb92d59e7371d4c3/packages/eslint-plugin/src/rules/restrict-template-expressions.ts#L96-L101

I don't expect we will have access to type checker in the near future so implementing this rule is not possible.

[2020-08-21 03:49] kitsonk commented on #179
I just ran across this in the `std` code base, trying to add two rules for a particular file, `deno lint` fails to handle it properly.

[2020-08-21 16:00] Soremwar opened #270 "Request: no-unhandled-rejection / promise checks"
This spawned from a conversation we had on Discord

A good idea to improve the quality of JS code is to throw warnings on promises without a rejection handler (`.catch` or `await catch{}`).

There is already a plugin for ESLint that checks this conditions, but given the nature of modern JS code (promises everywhere), deno_lint should definitely support this by default.

Possible proof of concept:

[2020-08-24 10:46] bartlomieju commented on #86
Done with #267

[2020-08-24 10:46] #86 closed

[2020-08-24 17:01] magurotuna opened #277 "Question: Why does deno not use `get_recommended_rules`?"
`deno_lint` provides `get_recommended_rules` function as public, so that users of `deno_lint` can get information about available implemented rules.
However, this function seems not to be used by `deno`, and `deno` has [its own `get_rules` function](https://github.com/denoland/deno/blob/master/cli/lint.rs#L99-L152).

Is this a temporary measure until `deno_lint` implements all of the recommended r

[2020-08-24 17:06] bartlomieju commented on #277
@magurotuna `no-const-assign`/`no-ex-assign` seem to be a bit broken 😅  and that's why I used it. Thanks for pointing this out, I forgot to update that list for some time now.

I think we could remove those rules from `get_recommended_rules` and switch Deno to use it.

[2020-08-24 17:19] magurotuna commented on #277
@bartlomieju Thanks for the quick answer! I understand the reason.
Are you going to work on removing those rules and switching? I'd like to work on it myself if you don't mind, because it would be a suitable task for my first contribution to `deno` :)

[2020-08-24 17:19] bartlomieju commented on #277
@magurotuna sure, that'd be very helpful, thanks!

[2020-08-24 17:30] magurotuna commented on #277
OK, I'll do it :+1:
Closing this issue because my question is resolved.

[2020-08-25 10:04] bartlomieju commented on #277
@magurotuna actually it seems that those rules will be fixed in #279 can you hold off a bit longer before working on the PR?

[2020-08-25 10:42] magurotuna commented on #277
@bartlomieju I see!

[2020-08-25 13:37] magurotuna commented on #277
I see #279 was merged into master. Can I start working on switching Deno to use get_recommended_rules instead of get_rules without removing any rules?

[2020-08-25 13:41] bartlomieju commented on #277
@magurotuna go ahead, although I expect there's gonna be quite a few error when running `cargo test lint` in `deno` repo

[2020-08-25 17:22] bartlomieju opened #280 "no-constant-condition should skip loops"
[code]
Shouldn't produce `no-constant-condition` diagnostic

[2020-08-25 17:22] bartlomieju opened #281 "no-self-assign false positives"
[code]
Produces `on-self-assign` diagnostic even though it shouldn't

[2020-08-25 17:23] bartlomieju opened #282 "Ignore directive false positive"
[code]
This code still produces diagnostic:
[code]

[2020-08-25 17:24] bartlomieju opened #283 "no-mixed-tabs-and-spaces panics"
[code]

[2020-08-25 17:25] bartlomieju opened #284 "Linting empty file panics"
File with no content causes panic when linting.

[2020-08-26 12:03] #280 closed

[2020-08-26 12:03] #281 closed

[2020-08-26 12:03] #282 closed

[2020-08-26 12:03] #283 closed

[2020-08-26 12:03] #284 closed

[2020-08-26 12:15] bartlomieju commented on #277
@magurotuna unfortunately I need to release a cascade of new crates to make upgrade possible

[2020-08-26 12:32] magurotuna commented on #277
@bartlomieju I see, thanks so much for letting me know!

[2020-08-27 17:03] magurotuna opened #287 "Bug: rule name prefixed with some characters works in deno-lint-ignore"
[code]

You can see that the rule name is wrong, prefixed with many `x` characters. We expect this directive not to have an effect.
However, it __does works__, just as we write a directive correctly like `// deno-lint-ignore ban-types`.

On the other hand, rule names __suffixed__ with characters like `ban-typesxxxxxxxx`__do not__ work, which is the behavior we expect.

I read the code and then fou

[2020-08-27 17:05] bartlomieju commented on #287
@magurotuna that's correct. To be honest neither of these solutions is perfect and it should be probably handled by having "aliases" for rules, but I haven't yet figured how to do that.

It was changed in https://github.com/denoland/deno_lint/pull/269. Feel free to revert to previous solution.

[2020-08-27 17:59] magurotuna commented on #287
@bartlomieju hmm... it's kind of more complex problem than I thought. :-|
Could you tell me why you think my solution (removing prefix when parsing) is not perfect? It won't work in some cases?

[2020-08-27 18:07] bartlomieju commented on #287
It's still hardcoded and won't work for rules with other plugins - but I guess we can not care ATM. So feel free to bring back previous behavior.

[2020-08-27 18:20] magurotuna commented on #287
Thank you for the explanation. Understood.
I think this bug is not so serious. So it's OK to pend until some great solution occurs to us.

[2020-08-29 11:12] bartlomieju commented on #169
@Brooooooklyn very nice binding! I'd be willing to link it in the README once it's somewhat stable. Please let me know if you need help with integration.

[2020-08-29 11:13] bartlomieju commented on #277
Done!

[2020-08-29 11:13] #277 closed

[2020-08-29 13:48] axetroy opened #290 "`start` and `end` for location and zero base"
before:

[code]

after:

[code]

[2020-08-29 13:51] bartlomieju commented on #290
Thanks @axetroy I actually intended to implement this, with recent changes to `Location` struct.

`snippet_length` and `line_src` fields will be removed

[2020-08-29 13:52] axetroy commented on #290
Good to hear. Here is the implement of vscode

[code]

[2020-08-29 16:09] bartlomieju commented on #290
@axetroy looking at `Diagnostic` interface I think we'll only use `range`, `code` and `message`. Can you fill out the rest of the values in the extension?

[2020-08-29 18:04] qu4k opened #291 "no-unexpected-multiline creates conflicts with deno fmt"
This discussion originated from the deno discord:

### Conflict

This code

[code]

Gets formatted (with `deno fmt`) to:

[code]

And `deno lint --unstable` throws:

[code]

### Possible solution

1. Remove the `no-unexpected-multiline` as it's scope is more towards formatting than linting
2. Patch `deno fmt` so no newline is added between a template tag and a template literal

### Opinion

Person

[2020-08-30 11:29] bartlomieju commented on #291
It might be a bug in rule implementation. To be verified.

[2020-08-31 13:45] #290 closed

[2020-08-31 15:37] dsherret commented on #291
@bartlomieju what's the purpose of this rule since `deno fmt` handles this automatically? Is it for people who use deno_lint without a formatter?

[2020-08-31 15:38] bartlomieju commented on #291
@dsherret no concrete purpose, it was blindly ported from ESLint. I'm happy to remove it if it's handled by formatter.

[2020-09-03 10:02] bartlomieju commented on #291
Removed in https://github.com/denoland/deno_lint/pull/300

[2020-09-03 10:02] #291 closed

[2020-09-05 11:07] bartlomieju opened #301 "Add camelcase rule"
We should have [`camelcase`](https://eslint.org/docs/rules/camelcase) rule and it should be in the recommended set.

[2020-09-05 11:15] bartlomieju commented on #255
This issue came up in `vscode_deno` as well (https://github.com/denoland/vscode_deno/pull/162#issuecomment-687577199). I think we can go ahead and add support for it.

[2020-09-05 12:17] magurotuna commented on #301
May I work on it?

[2020-09-05 12:24] bartlomieju commented on #301
@magurotuna please do

[2020-09-06 10:50] bartlomieju commented on #160
Done in #267

[2020-09-06 10:50] #160 closed

[2020-09-06 10:51] bartlomieju commented on #188
Fixed in #267

[2020-09-06 10:51] #188 closed

[2020-09-07 17:32] callionica opened #303 "Feature request: no-floating-promises"
I'd love to get a warning when I miss await from a call to a Promise-returning function.

[2020-09-08 22:39] Skillz4Killz opened #305 "TypeScript Specific Linter"
Hello 👋

I was hoping to open a discussion about possibly having a specific set of linter rules for TypeScript. Some rules in ESLint are because of the foot guns in JS which TS already prevents. An extra unnecessary clause for ESLint is just not nice to have. I just tried the deno lint on my project today and already noticed one of these situations.

![image](https://user-images.githubusercontent.

[2020-09-09 00:44] magurotuna commented on #305
I agree with you. Indeed there are quite of few rules that are not necessary if we use TypeScript.
To give TS users good user experience out of the box, we should probably split the rules into two; (a) the rules for JavaScript, (b)  for TypeScript. (of course, some rules will join both of them.)
Then the linter will be able to automatically decide what rules should be used from a file extension.
S

[2020-09-09 22:41] David-Else commented on #305
I have not looked into if this is being done already by deno_lint, but when TypeScript is being used then the `"plugin:@typescript-eslint/eslint-recommended"` rules should override the `eslint-recommended` rules. This is how the `typescript-eslint` plugin operates:

https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin/src/configs#eslint-recommended

https://git

[2020-09-10 01:10] magurotuna commented on #305
Sounds great!
Currently deno_lint doesn't do such override. It provides always the same rule set even when TypeScript is used, via
https://github.com/denoland/deno_lint/blob/v0.1.29/src/rules/mod.rs#L94

So we'd prefer to have something like `get_recommended_rules_js` and `get_recommended_rules_ts`, or to allow `get_recommended_rules` to receive `extension` parameter. And then in TS case we'd make

[2020-09-11 16:17] bartlomieju commented on #255
I will add support for this functionality - needed for https://github.com/denoland/deno_lint/pull/304 in `std/`

[2020-09-12 05:02] kdy1 commented on #48
I'm working on `no-global-assign` and `no-import-assign`.
`no-global-assign` is blocked by https://github.com/denoland/deno_lint/pull/304/files

[2020-09-12 09:59] #255 closed

[2020-09-12 12:39] bartlomieju commented on #48
We're left with `no-misleading-character-class` that is a single not implemented rule. There is PR going (#278) which requires to port some additional code. This rule is not critical, so I'm gonna close this issue as resolved.

[2020-09-12 12:39] #48 closed

[2020-09-13 10:46] #200 closed

[2020-09-13 19:24] KyleJune opened #317 "Deno lint doesn't recognize function arguments object"
If you have a function and want to use the arguments object, deno lint will show `(no-undef) arguments is not defined`. To pass lint I switched to using `(...args: any[])` in my call signature and `// deno-lint-ignore no-explicit-any` to ignore my use of any.

[2020-09-13 19:27] bartlomieju commented on #317
I think function scopes should have implicit `arguments` binding defined.

CC @kdy1

[2020-09-14 01:14] kitsonk opened #318 "bug: incorrect assessment of unreachable code"
The following code:

[code]

Results in the following incorrect lint violation:

[code]

[2020-09-14 01:19] kitsonk opened #320 "bug: incorrect indefinition of arguments in function"
In functions, `arguments` is being flagged as being undefined... 😢

For example:

[code]

Results in:

[code]

[2020-09-14 01:20] kitsonk commented on #320
Duplicate of #317

[2020-09-14 01:20] #320 closed

[2020-09-14 10:15] bartlomieju commented on #318
CC @kdy1

[2020-09-14 11:20] khrome83 opened #321 "bug: incorrect assesment of `no-undef` for import()"
Currently, I am seeing `no-undef` rule throw for global dynamic import.

[code]

`import()` should be a globally defined value already.

[2020-09-14 11:21] bartlomieju commented on #321
CC @kdy1

[2020-09-14 19:57] David-Else opened #322 "Number of supported rules and actual rules with `deno --rules` does not match"
The website README.md says 79 rules supported, `deno lint --rules --unstable` says 65 rules.
[code]

[2020-09-14 19:58] lucacasonato commented on #322
I only see 65 rules at https://deno.land/manual/tools/linter

[2020-09-14 19:59] David-Else commented on #322
I am talking about https://github.com/denoland/deno_lint having 79 rules

[2020-09-14 20:00] lucacasonato commented on #322
Oh this disparity comes from recommended vs all rules (deno lint only uses recommended).

[2020-09-14 20:01] David-Else commented on #322
How do you use all rules?

[2020-09-14 20:06] lucacasonato commented on #322
You can't

[2020-09-14 20:08] David-Else commented on #322
OK, I will close the issue, but I hope you can optionally use them soon, otherwise it is a waste of good lint rules!

[2020-09-14 20:08] #322 closed

[2020-09-15 03:36] #321 closed

[2020-09-15 03:38] #317 closed

[2020-09-15 03:43] bartlomieju commented on #322
Everything boils down to configuration. Currently there is non in `deno lint` subcommand and we've been very frugal in introducing configuration options to other subcommands. That said, it's pretty obvious that folks want to configure linter so we'll address it at some point in the near future.

[2020-09-15 03:58] #318 closed

[2020-09-15 04:01] bartlomieju commented on #176
Update: recommended set of rules from `ESLint` and `typescript-eslint` have been implemented.

We can now proceed to working towards better diagnostics and suggestions for lint rules as well as tentatively working on rudimentary configuration.

[2020-09-15 04:06] bartlomieju commented on #305
While I'm not specifically against this change, I'm also not super keen on it...

`typescript-eslint` disables some rules because they are handled by TSC (which is run by `typescript-eslint`) - however `deno_lint` does not use TSC. So it would be left to developer's IDE to catch those violations. However linter can be run from command line as well and it makes no sense to disable those checks for

[2020-09-15 16:41] Skillz4Killz commented on #305
Isn't this already true for Deno? Developers already depend on IDE to handle certain things. For example, you need the deno extension for vscode. You can't really code without it. Depending on a good IDE isn't really bad thing. We're okay with it.

I think most devs when making a change, will run their code to test it locally. If you use TS, your gonna want to compile ur code before deploying. So

[2020-09-20 11:41] bartlomieju opened #327 "no-unsafe-finally doesn't catch nested violations"
[code]

From https://rdambrosio016.github.io/rust/2020/09/18/pure-ast-based-linting-sucks.html

[2020-09-21 08:11] magurotuna opened #330 "Rules that should be refined further"
Now that all the recommended rules have been implemented, it's good time to look back at the rules again.
I have looked through how the rules are implemented, and have noticed that some rules need more refinement. Current issues I've found are:

- unable to catch violations in nested blocks, just like #327
- some cases that should be reported are ignored (e.g. normal funcions are considered, but _

[2020-09-21 09:41] #327 closed

[2020-09-21 10:16] bartlomieju commented on #330
@magurotuna have you found bugs in all the listed rules?

IIRC most of implemented rules have ESLint tests ported, but I'm more than happy to add more tests if they are lacking.

[2020-09-21 10:44] magurotuna commented on #330
@bartlomieju

not necessarily, but I feel like lots of the listed rules are unable to catch nested violations.
For example, with `no-with` rule, if we run a test like

[code]

it is expected to pass, but the rule doesn't detect `with(bar)`. This may go for the other rules.

I will fix them one by one, giving priority to "recommended" rules over the others. Hopefully it will not take much time, but

[2020-09-21 10:46] bartlomieju commented on #330
@magurotuna I see, thanks for digging into this problem.

[2020-09-26 09:40] bartlomieju opened #337 "Add prefer-const rule"
This is one of most useful rules, we should definitely add it.

https://eslint.org/docs/rules/prefer-const

[2020-09-26 13:30] magurotuna commented on #337
Agreed, `prefer-const` is actually one of the most useful rules. It seems very hard to implement, but I'd like to try.

[2020-09-26 13:34] bartlomieju commented on #337
@magurotuna great! Most likely this rule will require use of scopes, @kdy1 could you provide some guidance?

[2020-09-26 13:50] kdy1 commented on #337
You can implement this using two visitors.

First one should collect information from variable declarations and assignments.

From second one, you visit variable declarations with `var` or `let` and if collected usage does not contain any re-assignment, you can report an error.

As all identifiers are unique with respect to span hygiene, you don't need complex scope analysis. It's ok to store all

[2020-09-26 13:56] magurotuna commented on #337
@kdy1 Thanks a lot for the very clear guidance!

[2020-09-27 05:30] ynwd opened #339 "[dynamic import] import is not defined"
Typescript:
[code]

Error:
[code]

[2020-09-27 07:24] kitsonk commented on #339
Duplicate of #321

[2020-09-27 07:24] #339 closed

[2020-09-27 10:16] ynwd commented on #339
@kitsonk what is the solution of this error?

[2020-09-27 10:17] lucacasonato commented on #339
Fix will land in Deno 1.4.3

[2020-09-27 22:17] Soremwar opened #340 "Error with no-unreachable, but totally reachable"
[code]

https://github.com/Soremwar/deno/blob/13c74a19baff1d64c5511f9a9ba73d2dd1c8a74a/std/node/_stream/buffer_list.ts#L145

After the `else` statement ends, all bets seem to be off for deno_lint

[2020-09-28 10:25] bartlomieju commented on #340
CC @kdy1

[2020-09-28 10:33] kdy1 commented on #340
Seems like scope of `done` is wrong.
I'll fix it soon.

[2020-09-28 11:40] bartlomieju commented on #287
@magurotuna I've been pondering on this issue for some time. I think we can solve it by using `RuleContext` instead of `LintContext` - that way each rule could register multiple "codes" it recognizes (eg. `ban-types`, `@typescript-eslint/ban-types`).

Ignoring of produced diagnostics would happen when processing each lint rule instead of doing it in bulk at the end.

That should help us get rid of

[2020-09-28 11:43] #340 closed

[2020-09-28 16:24] magurotuna commented on #287
@bartlomieju
sounds great, that way we'll be able to solve this problem.

[2020-09-29 08:11] bartlomieju commented on #159
I think it's high time to start adding rules documentation so I'm pinning this issue.

So to support basic documentation and website generation we need to change `LintRule` trait minimally:
[code]

`LintRule::docs()` would return a string with written documentation. I think it makes sense to support markdown being returned from this function because we could print it out nice to terminal (using [`

[2020-09-29 08:16] bartlomieju commented on #162
This would be a very useful feature to have.

It can be implemented by adding a new field to `LintDiagnostic` called `suggestion` or `hint`, which could optionally be set when creating diagnostics in rules.

[code]

`Option<String>` should be a valid choice because not all rules must provide suggestions (eg. in trivial rules it might not make sense to add suggestions.

[2020-09-29 08:29] DomParfitt commented on #159
I'm happy to look at implementing this on the rules I've implemented once the trait is updated. From a quick scan that covers:
- `no-empty`
- `no-cond-assign`
- `valid-typeof`
- `no-unsafe-finally`
- `no-compare-neg-zero`
- `no-dupe-keys`

:slightly_smiling_face:

[2020-09-29 08:36] bartlomieju commented on #159
@DomParfitt great, thank you! I've already merged https://github.com/denoland/deno_lint/pull/343

[2020-09-29 12:09] #337 closed

[2020-09-29 16:16] magurotuna opened #344 "Bug: False positive on prefer-const"
[code]

This should be okay, but we're getting an error

[code]

I'll fix it soon.

[2020-09-29 16:31] magurotuna opened #346 "Bug: False positive on prefer-const (catch clause)"
[code]

This should be okay but we're getting an error like

[code]

[2020-09-29 17:04] #346 closed

[2020-09-29 17:04] #344 closed

[2020-09-29 17:24] iykekings commented on #162
@bartlomieju could there be a scenario where there are multiple solutions to one error?

[2020-09-30 07:24] callionica opened #348 "getter-return and infinite loops"
The following code produces "Getter requires a return deno-lint(getter-return)" despite the return statement.
I wonder if it's possible for the linter to recognize that the only way out of the loop and out of the function is through the return?

I would have just ignored the linter and not opened an issue except that the linter clearly recognizes that the last line when uncommented is redundant si

[2020-09-30 10:06] magurotuna commented on #348
Seems like that happens because `no-unreachable` analyzes control flow, but `getter-return` does not.
`getter-return` just checks `if` and `switch` statements only, and does not analyze complex flows like infinite loops.

I think we should get the same error if we use ESLint. I'll check it.

[2020-09-30 10:22] magurotuna commented on #348
hmm it looks like ESLint's `getter-return` _does_ analyze some control flows
https://github.com/eslint/eslint/blob/v7.10.0/lib/rules/getter-return.js#L77-L99
It checks whether the last segment is reachable or not.

So the following code would generate no error if linted by ESLint.

[code]

[2020-09-30 10:26] magurotuna commented on #348
I'll try to fix the `deno_lint` implementation of `getter-return`.

[2020-10-01 13:57] Xernisfy commented on #318
An unconditional return statement inside of a class constructor also leads to a "unreachable" linting error:

[code]
[code]

A conditional return however does not produce an error:
[code]

[2020-10-01 14:03] magurotuna commented on #318
@Xernisfy
Thanks for the clear report. Seems like that should be a bug. Could you open a new issue for that?

[2020-10-01 14:19] Xernisfy opened #353 "bug: unconditional return in constructor produces unreachable code after class"
An unconditional return statement inside of a class constructor also leads to a "unreachable" linting error:

[code]
[code]

A conditional return however does not produce an error:
[code]

_Originally posted in https://github.com/denoland/deno_lint/issues/318#issuecomment-702154495_

[2020-10-01 14:54] magurotuna commented on #353
Thanks for opening an issue!
I've fixed it in #355, so it'll be fixed in the next (or maybe after the next) version of Deno.

[2020-10-01 16:04] #353 closed

[2020-10-02 10:00] bartlomieju opened #358 "False positives in "prefer-const""
[code]

CC @magurotuna

I temporarly ignored them in `std/` to upgrade the linter, but we should fix those problems.

[2020-10-02 10:04] magurotuna commented on #358
I'll look into it.

[2020-10-02 10:17] magurotuna commented on #358
Seems like the second one, `std/node/module.ts`, has something to do with hoisting... I didn't care about that. I may need some time to fix it.

[2020-10-02 10:18] bartlomieju commented on #358
That's okay, I will just disable `prefer-const` rule for this release

[2020-10-03 02:39] magurotuna commented on #358
[code]

-> hoisting

[code]

-> hoisting

[code]

-> maybe nested assignment expression

-----------------------

So there are two causes why false positives occur. I'll fix one by one.

[2020-10-03 06:37] callionica opened #360 "no-this-alias is a bit noisy"
It's common to want to assign `this` to a variable when implementing tree methods and there's no harm in it (as below). Shouldn't this rule only fire if the alias is used in a local function or escapes the current method?

[code]

[2020-10-05 12:04] magurotuna commented on #358
The following might also be an edge case of `prefer-const`. It has a `for-in` statement of which the variable is declared beforehand, like `let pairKey = "";`

From `std/encoding/_yaml/type/omap.ts`:

[code]

[2020-10-05 12:06] bartlomieju commented on #358
@magurotuna is it marked as a violation? If so, then it's definitely a false positive ;)

[2020-10-05 12:20] magurotuna commented on #358
@bartlomieju currently not, but in my latest refactoring (#362), the above case may become an edge case, so I commented as a memo. I'm addressing this right now :)

[2020-10-06 10:57] magurotuna commented on #348
@kdy1
Could I ask you a question?
As far as I looked into it, `getter-return` also has to use `ControlFlow` because in ESLint `getter-return` uses so called "Code Path Analysis" which is similar to `ControlFlow` in some ways.
Specifically, `getter-return` in ESLint reports an error if the final segment of a getter method is reachable - in other words, if a getter method returns any value, it means

[2020-10-06 11:06] kdy1 commented on #348
Of course. Just ping me on github or discord.

I guess it's possible, but what is exit of function exactly? I'm not sure if you meant the last statement or statements like return, throw, etc.

This is impossible I guess, as there's no gc. Circular arc may work, but it will make code really dirty.

[2020-10-06 11:08] #358 closed

[2020-10-06 11:26] magurotuna commented on #348
I'm not 100% sure either, maybe "the exit of function" doesn't match any of such kind of stuff.

See the figure of https://eslint.org/docs/developer-guide/code-path-analysis#when-there-is-a-function.
 I think the black circle with white border is "exit". In this figure, the function reaches the "exit".

On the other hand, looking at https://eslint.org/docs/developer-guide/code-path-analysis#forsta

[2020-10-06 11:38] kdy1 commented on #348
Checking if a statement is end of function will be very easy. There's a function named stops_execution at https://github.com/denoland/deno_lint/blob/b1375b92df244aad5997f4e9a5e5ad0f54091830/src/control_flow/mod.rs#L57.
Modifing it to check if it's `Forced` would be enough.

You can then check if the last item of function body stops execution **and** reachable (to handle forever for statements). I

[2020-10-06 11:42] magurotuna commented on #348
That's great! I will try to implement that way. Thanks so much😆

[2020-10-06 11:44] kdy1 commented on #348
I made a mistake. I guess you should add a new method instead of modifing it.

[2020-10-06 11:56] bartlomieju opened #366 "Support linting scripts"
Currently `deno_lint` works only on ES modules.

In `deno` repo all runtime code is written as scripts, it'd be great if we could use `deno_lint` to lint those files as well.

This will require change to `LintRule` trait - instead of `lint_module()` there should be `lint_program()` method, as well as new method on `Linter` itself to treat loaded file as script instead of module.

Not sure about in

[2020-10-06 12:02] bartlomieju commented on #305
I think we can go ahead with this approach - each lint rule would define what "media types" it operates on - `js`/`ts`/`jsx`/`tsx` - that would be in line with `deno`'s `MediaType`.

It would imply that `Linter::lint()` method would need to be changed to accept some config.

A huge benefit of this approach would be that only rules matching media type would be actually run.

I will look into it.

[2020-10-06 12:04] bartlomieju commented on #166
I'm not 100% sold on the idea of config file, but we can prototype this functionality and use it in `dlint` example first for some bike-shedding.

[2020-10-06 12:06] nayeemrmn commented on #366
Only modules are supported in user space so the subcommand should continue to assume modules. Plus there's no way to infer between scripts and modules until https://github.com/tc39/proposal-modules-pragma passes... but that proposal puts scripts as the default. Not very good for us.

[2020-10-06 12:07] bartlomieju opened #367 "Release "dlint" example binary"
When releasing a new version "dlint" binary should be built and upload as an artifact.

We already had this functionality before - introduced in https://github.com/denoland/deno_lint/pull/88

It would be useful to bike-shed/try new features before they make it into `deno lint` subcommand.

[2020-10-06 12:08] bartlomieju commented on #366
@nayeemrmn thanks for pointing this out. Then I think `// deno-lint-pragma script` would be the way to go, we won't have to document it for `deno lint`, but use it only internally in tests.

[2020-10-06 12:09] bartlomieju commented on #166
Ref https://github.com/denoland/deno_lint/issues/367

[2020-10-06 12:21] bartlomieju opened #368 "Documentation website"
I did some exploring on how we could provide documentation website.

First idea was to use `docs.rs` which we'd get for free using module docs, but there are a few drawback to that approach:
a) not really well suited for end-user, there's a lot of unnecessary noise for lint rule documentation
b) `docs.rs` markdown cannot render code block for other languages than Rust

Other approach that [RSLint]

[2020-10-06 12:35] bartlomieju commented on #366
Just realized that this approach might not work - we first need to parse the file to check for such comment...

[2020-10-06 12:57] RDambrosio016 commented on #368
RSLint's docgen does more than only write to md files, it also generates a table of config info with their type and any documentation they have on them, it then crawls rule tests and generates "more examples" sections from it, and finally it adds a source hyperlink and adds the rule to the table at the group's top level. That approach means we have user facing docs and rustdoc docs as you can see

[2020-10-06 15:12] bartlomieju commented on #368
@RDambrosio016 thanks for stopping by :)

Thanks for detailed explanation. Crawling tests seems interesting, but how does it decide which examples should go into docs given there's a lot of them?

That's nice, although the problem described in point b) still stands:

That's why I'm not super keen on using `docs.rs` for lint rules documentation.

I guess you're referring to the fact that documentat

[2020-10-06 15:17] RDambrosio016 commented on #368
It just takes the first invocation of the macro and puts them all in, it doesnt really matter how many there are since they are put in expandable blocks, and you can tell it to ignore a test with `/// ignore`

Which is why we use `ignore` and not `js`, which yields rust syntax highlighting, its not the best but its way better than nothing. Then the docgen just translates to js, and for in-terminal

[2020-10-06 16:53] magurotuna commented on #348
@kdy1
I did some attempts, but I couldn't figure out how to realize... :(
For the simplest example:
[code]

Obviously, this example should result in `getter-return` error, so we have to make sure that this is an error using `ControlFlow`.

If we pass this code to `ControlFlow` and let the result output via `dbg!`, we get:

[code]

There's no information at all, we cannot decide the code should be

[2020-10-07 01:06] kdy1 commented on #348
In this case, I think you have to use the fact that body is empty.

In this case, I guess one entry is for return statement and the another is for the wrapping block statement.

To handle this case, you should modify `control_flow.rs` slightly. https://github.com/denoland/deno_lint/blob/b1375b92df244aad5997f4e9a5e5ad0f54091830/src/control_flow/mod.rs#L159-L171

[code]

Then you can check if the bl

[2020-10-07 01:31] magurotuna commented on #348
Great, I didn't notice one entry corresponds to a block statement (function body). It seems very useful.
I will give it a try again :)

As for the first example (no body), is there any reason that it doesn't have no metadata? I think It'd be nice if it could have an entry about block statement (function body).

[2020-10-07 01:34] kdy1 commented on #348
It's just current behavior. It's empty because there's no statement which marks the block statement as `done`.
You can change it to detect empty function body and mark it as done.

[2020-10-07 01:41] magurotuna commented on #348
I got it. Then, I'll change it so that it will be consistent with other cases.
Thanks a lot!

[2020-10-08 14:42] bartlomieju commented on #162
@iykekings sorry I missed you comment. Yeah, there might be such scenario - in that case we can change `LintDiagnostic::hint` to be `Vec<String>`.

[2020-10-12 11:02] bartlomieju opened #386 "Refactor diagnostic formatting in "dlint" example"
Currently "dlint" example uses diagnostic formatting similar to that of Rust.

This logic is not super robust and it turns out that there's a crate that handles this logic (used in rustc itself) - https://docs.rs/annotate-snippets/0.9.0/annotate_snippets/snippet/index.html

We should try to switch out to using this crate.

CC @lucacasonato

[2020-10-13 15:41] #348 closed

[2020-10-13 17:18] bartlomieju commented on #368
Website is now set up at https://lint.deno.land/

This issue is resolved for now.

[2020-10-13 17:18] #368 closed

[2020-10-15 11:56] #386 closed

[2020-10-15 12:24] bartlomieju opened #393 "example(dlint): uses wrong character to split lines"
Just a heads up, this is incorrect because ECMAScript defines `\n`, `\r`, `\u{2028}`, and `\u{2029}` all as valid linebreak characters (although we havent fixed it in rslint yet either 😄)

_Originally posted by @RDambrosio016 in https://github.com/denoland/deno_lint/pull/391#discussion_r505495786_

`examples/dlint/main.rs` should be updated to split source file into lines on all enumerated charact

[2020-10-15 16:17] magurotuna opened #395 "error messages and hints should be asserted in tests"
Current tests for the rules are checking if error spans and the number of errors match what we expect. I'd like error messages and hints to be asserted as well, because there are some rules that have more than one possible messages.

For example, `getter-return` has two possible error messages in [ESLint](https://github.com/eslint/eslint/blob/v7.11.0/lib/rules/getter-return.js#L58-L61) (and `deno_

[2020-10-15 18:21] bartlomieju commented on #395
@magurotuna I agree with your sentiment and it SGTM - I'm not a big fan of macros but in this case it does make sense. Will you look into that?

[2020-10-16 01:03] magurotuna commented on #395
@bartlomieju yes, I have been working on this, Maybe I'll open a PR in today.

[2020-10-16 21:03] cknight opened #401 "explicit-function-return-type does not work"
The deno lint rule `explicit-function-return-type` does not seem to work.

Given `test.ts`:
[code]
If I run `deno lint --unstable test.ts`, I expect to get 3 warnings on `explicit-function-return-type`, however I get none.  This is using `deno 1.4.6`.

[2020-10-16 21:16] bartlomieju commented on #401
`explicit-function-return-type` is not enabled in `deno lint`:
[code]

[2020-10-16 21:19] cknight commented on #401
Ah!  Ok, thanks.

[2020-10-17 16:43] #395 closed

[2020-10-17 20:42] cknight opened #408 "Poor UX/incorrect handling of constructor-super rule"
Given the following code:
[code]
`constructor-super` will flag with `Constructors of classes which inherit from a non constructor must not call super()`.  This seems non-nonsensical to me as the real issue is that constructors aren't allowed here, rather than anything to do with super().

Taking out the `super()` will then yield a second flag of this rule with `Classes which inherit from a non con

[2020-10-17 20:46] cknight commented on #408
I'm working on the documentation for this just now and looking at the code I think I can manage to combine these and just have it flag on the constructor presence, regardless of super(), but let me know if I'm missing anything here.

[2020-10-17 21:21] umucorn commented on #175
The protocol for serialization between plugins and `deno_lint` would be cap'n proto, right? Just to have a standard. This way it wouldn't break.

[2020-10-18 03:44] magurotuna commented on #408
@cknight

yeah, from my quick look, it seems you can manage to do so by fixing the implementation.
When trying to fix this, it would be helpful to assert error messages in tests. I introduced the test utility macro for asserting error messages in #400, and I'm replacing the existing tests with this macro.

[2020-10-18 11:43] bartlomieju commented on #175
That's highly unlikely, there's no need to introduce cap'n'proto because AST is already JSON serializable.

[2020-10-18 11:47] #408 closed

[2020-10-18 15:43] bartlomieju opened #412 "Implement RuleVisitor"
Given problems from #330 it's clear that `swc_ecma_visit::Visit` is not a great choice for implementing rule.
We should implement `RuleVisitor` trait that sits on top of `swc_ecma_visit::Visit` and unconditionally visits
whole tree recursively. It would provide the same API but instead of requiring implementor to visit child nodes
it should visit them automatically after calling `RuleVisitor::visi

[2020-10-18 16:34] littledivy opened #413 "JS Plugin Visitor"
Continuing discussion from [Deno Discord](https://discord.com/channels/684898665143206084/688040863313428503/767418764148736020).

The overall idea was to have javascript/typescript plugins with AST visitors for creating custom rules.
As a POC, https://github.com/littledivy/deno-lint-ast-visitor leverages swc's nodejs visitor for this purpose.

![image](https://user-images.githubusercontent.com/34

[2020-10-19 00:39] kdy1 commented on #412
Maybe I can provide one from swc_ecma_visit. (Or I can add feature to the proc macro)

[2020-10-19 12:08] bartlomieju commented on #412
@kdy1 that would be very useful, if you're fine with having it in SWC, I might look into implementing that in the coming days.

[2020-10-19 12:35] kdy1 commented on #412
I'm fine with it. Actually I think it's a must for visitor generator, but I was busy working on the type system.

Btw, I'm not sure about the name. Also, there are two way to go. First one is reusing `Visit` by creating a wrapper struct which accepts `Visit` as a type parameter will be enough.
Second way is creating a new trait - namely `VisitAll`.

I think first one would be better, but I'd like

[2020-10-19 12:37] bartlomieju commented on #412
@kdy1 both of the solutions sound good to me, I guess it's a matter of your preference and which one would produce smaller binary ;)

[2020-10-19 16:01] magurotuna opened #416 "Provide better hint in camelcase rule"
Given the code:

[code]

when applying `camelcase` rule to this code, we get a hint that looks like:

[code]

It's a little confusing because `= false` is gone.
So, we would be happier if hint was as follows:

[code]

_Originally posted https://github.com/denoland/deno_lint/pull/302#issuecomment-712252783_

[2020-10-19 21:52] kmurph73 opened #417 "no-constant-condition doesn't handle else case"
<img width="785" alt="deno_lint_bug" src="https://user-images.githubusercontent.com/74591/96515665-926d0500-121a-11eb-87b2-903012f711a3.png">

[2020-10-19 23:08] magurotuna commented on #417
Thanks for the bug report. I'll look into that.

[2020-10-19 23:24] magurotuna commented on #417
@kmurph73
That false negative will be fixed in the next release of Deno because it was addressed a few days ago :) #404
In addition to that, I have just added some more tests to make sure that `else-if` is handled correctly. #418

[2020-10-20 00:07] kmurph73 commented on #417
@magurotuna Good to know, thanks for the tests & looking into it.

[2020-10-20 00:07] #417 closed

[2020-10-20 01:27] kdy1 commented on #412
I've created `VisitAll` and `VisutAllWith`

See: https://swc.rs/rustdoc/swc_ecma_visit/trait.VisitAll.html

[2020-10-20 12:36] jsejcksn opened #419 "AggregateError is not defined deno_lint(no-undef)"
Seeing this in VS Code while using the official Deno extension with `"deno.lint": true` in `.vscode/settings.json`:

<img width="648" alt="Screen Shot 2020-10-20 at 07 24 35" title="VS Code theme: https://marketplace.visualstudio.com/items?itemName=hedinne.popping-and-locking-vscode" src="https://user-images.githubusercontent.com/868251/96585870-cb05f080-12a5-11eb-8b71-49f3364e6a14.png">

Pretty s

[2020-10-20 12:39] lucacasonato commented on #419
Do you have a larger code snippet? This is not enough to tell what is happening.

[2020-10-20 13:37] #419 closed

[2020-10-20 14:02] jsejcksn opened #423 "Globals discrepancies"
#419 was just fixed by #421, adding `AggregateError` to the globals list: https://github.com/denoland/deno_lint/blob/master/src/globals.rs

However, I noticed that there are some other inconsistencies between that list and what is produced by enumerating the list in Deno:

[code]

<details>
<summary>Which produces this list in Deno <code>1.4.6</code>:</summary>

[code]
</details>

How is [`src/glo

[2020-10-20 14:47] #412 closed

[2020-10-20 15:26] #301 closed

[2020-10-20 15:57] bartlomieju opened #424 "Changes to LintRule"
- Add `LintRule::lint_program(&self, context: &mut Context, program: &swc_ecmascript::ast::Program)` in favor of `LintRule::lint_module` - prerequisite for #366

- Rules should implement `Visit` trait directly on the struct implementing `LintRule` instead of creating additional visitor for each rule

[2020-10-20 16:41] magurotuna opened #425 "Consider creating new macro for asserting without redundancy"
See https://github.com/denoland/deno_lint/blob/4175773da7a43daecb80bbb5cd3a9025279321bb/src/rules/ban_ts_comment.rs#L174-L200

This test has three cases, and their expected messages & hints are identical.
In such cases, it would be nice if we could removed redundancy i.e. we need to specify expected message and hint _only once_ instead of specifying multiple times.

To make it realize, we should c

[2020-10-20 16:47] bartlomieju commented on #423
@jsejcksn thanks for the report, it is indeed a problem. I did an update to the list based on your findings in https://github.com/denoland/deno_lint/pull/426. Unfortunately I see no clear way to automate this process at the moment, so I'm gonna keep the issue open

[2020-10-20 17:01] jsejcksn commented on #423
@bartlomieju I see there are some entries in `globals.rs` which are not produced using the method above. I tried to access a couple of them and got `undefined`. Where are they coming from / why are they in the list?

[2020-10-20 17:04] bartlomieju commented on #423
@jsejcksn could you list those? I've checked the list when I added it originally so I'm a bit surprised something is `undefined`.

[2020-10-20 18:45] jsejcksn commented on #423
@bartlomieju See item 3 below. Here's a script that will

  - fetch the current source and save to `./globals-src.rs`
  - create an updated source from the computed globals and save to `./globals-computed.rs`
  - parse each list and log the types associated to the exclusive values (see output)

<details>
<summary><code>globals.ts</code>:</summary>

[code]
</details>

output:
[code]

[2020-10-20 20:08] RDambrosio016 commented on #424
You will encounter some problems when it comes to the second point. I tried this with the original version of rslint (back when it used a visitor which was made with the same macro as swc's) but it was a huge hack since you get context for a rule when you run it, but you also need to access that context through each visit function. Therefore you have to either construct the rule with the context a

[2020-10-20 21:46] bartlomieju commented on #424
@RDambrosio016 good point, I actually want to go other way. I took a closer look at [`declare_lint` from RSLint](https://github.com/RDambrosio016/RSLint/blob/0eb52aa41f8a9583423ec0b23c9ab34779617d75/crates/rslint_core/src/rule.rs#L226-L274) and I think it's pretty useful.

For `deno_lint` I'm thinking something along the lines:
[code]

which would expand to:

[code]

So that would actually mean th

[2020-10-20 21:50] RDambrosio016 commented on #424
I do not reccomend that for a couple of reasons:
1: you can capture docs from macro invocations, granted, it requires a bit of a cursed "recursive muncher" but it would allow you to make both rustdoc and user facing docs instead of only user facing docs.
2: you will get really bad autocompletion (or none at all most likely), at least for me, RA does not do autocompletion for macros when you take i

[2020-10-21 13:56] bartlomieju commented on #424
Discussed with @RDambrosio016 offline. I think we could settle on:
[code]

which would expand to:

[code]

Writing docs and handler would still require to write `impl BanTsComment { ... }` but that's fine, it's not that much boilerplate anymore.

[2020-10-24 08:48] magurotuna opened #431 "Tracking issue for switching to `assert_lint_err!` macro"
This is a tracking issue for switching from `assert_lint_err` functions to `assert_lint_err!` macro.

I introduced the new test utility macro `assert_lint_err!` which allows us to make sure lint error messages and hints are equal to what we expect.
Now we would like to replace the functions with the macro.

The current statuses of the rules:
(✅ means it is included in the recommended rules)

- [x]

[2020-10-24 11:02] magurotuna opened #432 "Replace `lazy_static!` with `once_cell::unsync::Lazy`"
Currently we're using `lazy_static` in many places for various purposes e.g. creating `regex`es or `HashMap`s.
It works fine, but the syntax of `lazy_static` looks a little bit strange to me; `static ref` doesn't appear outside of the `lazy_static` macro.
So I'd like to replace `lazy_static` with `once_cell`.  `once_cell` provides almost the same functionality as `lazy_static` with no macro.  `onc

[2020-10-24 11:06] bartlomieju commented on #432
@magurotuna sounds good to me

[2020-10-24 13:57] #432 closed

[2020-10-25 00:54] bartlomieju opened #443 "Add lint rule to check unversioned imports from deno.land/x/"
We should add a rule that verifies that imports from `deno.land/x/` are versioned.

It should have `recommended` and `deno` tags.

CC @lucacasonato

[2020-10-25 01:11] nayeemrmn commented on #443
-1 for special handling of any host. This should be a plugin.

[2020-10-26 17:29] sanderhahn commented on #424
@bartlomieju was looking if i can this to work...

The `LintRule` trait has more methods besides `tags` and `code`, for example: `lint_program` and `docs`.
Do you want to embed them inside the `define_lint_rule!` block like this?

[code]

[2020-10-26 17:30] RDambrosio016 commented on #424
That still suffers from the second issue i talked about

[2020-10-26 17:38] magurotuna commented on #424
IMHO that `define_lint_rule!` macro doesn't look really useful to me, because our current way of implementing `LintRule` trait is not so redundant. Plus as @RDambrosio016 says, using the token tree type can lead to bad developer experience

[2020-10-26 17:49] bartlomieju commented on #424
Do you want to embed them inside the define_lint_rule! block like this?

@sanderhahn no I only meant to define struct, code and tags using macro as per @RDambrosio016's suggestion that defining method in macro is error prone.

@magurotuna yeah, but there's a lot of `'static` in typings and it's really cumbersome to type it all out and it would also be a bit easier to do refactors if we were to ded

[2020-10-26 17:57] RDambrosio016 commented on #424
Could also do it the way rslint does and have a rule trait with the metadata and a CstRule trait with the actual implementation

[2020-10-26 18:48] sanderhahn commented on #424
Sorry new to this codebase and Rust and macro's in general. Maybe you could create a `#[lint_rule(code="ban-types",tags="recommended",docs="docs/ban_types.md")]` on the rule structs?

[2020-10-26 18:58] RDambrosio016 commented on #424
Yes but:
- it requires another proc macro crate
- it still does not fix the issue of needing the implementation to be in the macro invocation

The core issue is that rust doesnt allow you to partially impl a trait then finish impl'ing it somewhere else, so you cannot impl the code, tags, and docs methods and then impl the lint method. Which is why i chose to go with a rule trait then a CstRule tra

[2020-10-26 19:19] bartlomieju commented on #424
After second thought I will close this issue now and maybe revisit in the future - we got more important stuff to tend to than adding helper macros. Thanks to everyone for opinions 👍

[2020-10-26 19:19] #424 closed

[2020-10-27 17:05] ebebbington opened #454 "Add inter-file rules"
This feature requests stems from the request of a lint rule to **not allow** (or i guess allow if `// ... allow-...` is used) async methods that aren't awaited.

Related issues:
https://github.com/denoland/deno_lint/issues/303
https://github.com/denoland/deno_lint/issues/270
https://github.com/denoland/deno_lint/issues/43

But these rely on inter-file rules, which means the checking and grabbing o

[2020-10-27 17:07] RDambrosio016 commented on #454
This is impossible without type checking.

[2020-10-27 17:09] ebebbington commented on #454
I should note then, it relies on the roadmap for swc to enable type checking in rust

[2020-10-27 18:06] bartlomieju commented on #366
Waiting on https://github.com/swc-project/swc/pull/1189

[2020-10-27 18:08] bartlomieju commented on #287
After some more pondering I think we shouldn't support aliases after all and require the proper rule names from `deno_lint`.

[2020-10-28 13:49] magurotuna commented on #431
I'd appreciate it if anyone helped us to migrate to `assert_lint_err!` macro.
If you are interested in it, consider using [magurotuna/switch2macro-dlint](https://github.com/magurotuna/switch2macro-dlint). I think it will save your time, although it is a very ad-hoc tool.

[2020-10-28 16:06] bartlomieju commented on #287
@magurotuna what do you think?

[2020-10-28 16:37] magurotuna opened #457 "Proposal: refactor LintRule trait, message, hint"
I propose we do refactoring `LintRule` trait into:

[code]

After this refactoring, trait implementation will look like:

[code]

## Motivation

There are two reasons why I want to refactor. This refactor will allow us to:

1. avoid duplicate "code" definitions
2. get statically typed messages & hints that are associated with `LintRule` type

### 1. avoid duplicate "code" definitions

We already h

[2020-10-28 16:40] RDambrosio016 commented on #457
That will not work because trait objects do not support associated constants

[2020-10-28 16:44] magurotuna commented on #287
@bartlomieju

that makes sense to me.

[2020-10-28 17:01] magurotuna commented on #457
ah that's right... too bad 😢

[2020-10-28 17:16] magurotuna commented on #457
We cannot make it work, but I think declaring messages and hints as enum with `derive_more` still has room for consideration.

[2020-10-28 17:32] bartlomieju commented on #457
@magurotuna I thought about it in #424 but as @RDambrosio016 points out it's not doable due to trait object limitations. I'm open to refactors messages and hints as suggested.

[2020-10-28 17:43] magurotuna commented on #457
@bartlomieju

Actually I didn't think of #424 as a problem with trait object limitation - now I get it.

OK. Don't you mind my adding `derive_more` with `display` feature as a new dependency?

[code]

[2020-10-28 17:48] bartlomieju commented on #457
@magurotuna seems like a very elegant solution - let's try on a few rules with variable messages and see how it works

[2020-10-28 17:51] bartlomieju commented on #457
@magurotuna one more thing; in #424 @RDambrosio016 proposed to implement rules [not as traits but regular objects](https://github.com/denoland/deno_lint/issues/424#issuecomment-716723621) - maybe it's worth exploring this approach

[2020-10-28 17:56] magurotuna commented on #457
@bartlomieju

okay, I will try this approach on one rule tomorrow.

sounds interesting... I also will dig deep into that approach.

[2020-10-28 18:29] #367 closed

[2020-10-28 20:33] RDambrosio016 commented on #457
That's not exactly what i meant, i meant to just separate rule metadata and rule implementation into two separate traits like rslint does.
e.g. [`Rule`](https://docs.rs/rslint_core/0.2.2/rslint_core/trait.Rule.html) which has name, group, and docs
and [`CstRule`](https://docs.rs/rslint_core/0.2.2/rslint_core/trait.CstRule.html) which has the actual implementation functions

[2020-10-28 21:41] bartlomieju opened #460 "constructor-super gives false positives for declaration"
[code]

[code]

[2020-10-28 21:43] bartlomieju opened #461 "triple-slash-reference gives false positives for d.ts files"
[code]

[code]

We must ensure that declaration files are properly linted. Ref #305

[2020-10-28 21:45] bartlomieju opened #462 "getter-return false positive"
[code]

there is no branch that doesn't return value

[2020-10-28 21:46] bartlomieju opened #463 "no-undef false positive"
[code]

[code]

Note: the file in question is a script, but it shouldn't really matter here.

[2020-10-28 21:47] bartlomieju opened #464 "no-global-assign false positives"
[code]

[code]

It's perfectly valid to assign value to `onmessage` (and similarly `onerror`)

[2020-10-28 21:51] bartlomieju opened #465 "no-namespace gives false positives"
[code]

`declare namespace <name>` should be allowed

[2020-10-28 21:59] cknight opened #466 "no-eval false negatives"
es-lint flags the following three examples with the no-eval rule which deno lint does not:
[code]

[2020-10-28 22:18] bartlomieju opened #467 "no-fallthrough misses some statements"
[code]

[code]

`case "symbol"` should be marked as well

[2020-10-28 22:28] bartlomieju opened #469 "no-empty ignores block comments"
[code]

[2020-10-28 22:41] bartlomieju commented on #464
Error on my side, when porting globals in #309 I did not take into account if the variable is overridable.

[2020-10-29 00:47] magurotuna commented on #460
Fixed by #470

[2020-10-29 00:49] magurotuna commented on #464
looks like this should be reopened

[2020-10-29 01:09] #460 closed

[2020-10-29 12:08] magurotuna commented on #469
I'm working on it

[2020-10-29 12:43] #465 closed

[2020-10-29 13:16] magurotuna commented on #463
I'm looking into it.

[2020-10-29 13:21] #464 closed

[2020-10-29 13:28] #469 closed

[2020-10-29 13:34] ebebbington opened #475 "camelcase Throwing Errors When Database Is In The Mix"
Related project: https://github.com/drashland/deno-drash-realworld-example-app

I'm in the progress of a PR, and im currently making sure. it all abides by deno fmt and lint. But i'm getting camelcase errors:

![image](https://user-images.githubusercontent.com/47337480/97580360-18dbd080-19eb-11eb-98f4-8748d194e2a2.png)

And many more, i assume deno lint **shouldn't** be throwing these errors in th

[2020-10-29 13:38] magurotuna commented on #475
Thanks for the report. I didn't take into account that such cases where object interfaces are defined externally. I'll try to fix it.

[2020-10-29 13:41] ebebbington commented on #475
I am interested how you've took it into account currently - to me atleast, it seems impossible to allow camelcase for 'some db logic', whereas don't allow it for 'other stuff'

[2020-10-29 13:49] magurotuna commented on #475
Currently, `camelcase` rule reports an error if a key in object literal is not in camelcase, regarding object literals. There's no other logic at the moment.
You can see the description and some examples here: https://lint.deno.land/#camelcase, which should help you understand.

[2020-10-29 13:51] ebebbington commented on #475
Ok cool thanks :)

[2020-10-29 14:06] bartlomieju commented on #461
I'm a bit puzzled at this rule now... @kitsonk does it even make sense in context of Deno to prohibit tripe slash references?

[2020-10-29 14:47] ebebbington commented on #475
Very good write up @magurotuna, i think that solution is the best of both worlds:

* I can still use snake_case for the 'entities'
* I don't need to ignore whole files or ignore the whole project (ie `deno lint --ignore-rule=camelcase`)
(By I i generally mean the user base)

But it means some refactoring will have to take place which is ok, nothing is perfect, but i like the solution described abo

[2020-10-29 14:53] nayeemrmn opened #476 "Ignore directives should affect the entire next AST node"
As in, the following should be valid:
[code]

This is taken from Rust, `#[rustfmt::skip]` and `#[allow(warnings)]` work this way. `// deno-fmt-ignore` already works this way also. It's much a much nicer way of handling ignore ranges than `// deno-lint-ignore-start` etc.

[2020-10-29 14:56] magurotuna commented on #475
@ebebbington Thanks for your feedback 😃  then I will fix both the hint message and the documentation, leaving the rule behavior as is.

[2020-10-29 19:14] kitsonk commented on #461
There are a lot of cases where they shouldn't be used but several cases where they should be used. A linter isn't going to be able to tell that. Best to be left to the documentation.

[2020-10-29 21:33] lucacasonato opened #477 "no-unreachable false positive"
[code]

Here the `return 0;` is marked as unreachable, although it is reachable if partsA.length == 0 & partsB.length == 0.

[2020-10-29 22:06] qwerasd205 commented on #477
Minimal reproduction (that also shows a missed case, the interior of the for loop is unreachable)
[code]

[2020-10-29 23:43] magurotuna commented on #477
I'll fix it

[2020-10-30 19:34] #477 closed

[2020-10-31 08:45] magurotuna commented on #463
A Minimal reproducible example is:

[code]

Currently `no-undef` rule only checks variables in the global scope, though non-global variables (including class declaration) should also be checked as the above example shows.
To achive it, it seems like the analyzer similar to the one that is used in `prefer-const` rule is suitable. I'll fix this issue in this way.

[2020-10-31 12:02] #475 closed

[2020-10-31 12:05] bartlomieju commented on #416
Done in #480

[2020-10-31 12:10] bartlomieju opened #482 "Consider using "rslint_errors" crate for diagnostics"
RSLint's facilities for creating diagnostics are much more advanced than deno_lint's. We should consider using [`rslint_errors`](https://crates.io/crates/rslint_errors) crate for creating diagnostics. I'm a bit worried about dependencies and how that would impact main `deno` binary, but it's worth exploring.

CC @RDambrosio016 @magurotuna

[2020-10-31 12:39] bartlomieju commented on #467
Actually I think `no-fallthrough` doesn't work as expected - it shouldn't produce diagnostics if there's no body for case statement.

[2020-10-31 13:12] ross-weir commented on #467
Yeah it looks like this is the case. I'll have a shot at fixing this

[2020-10-31 13:36] #461 closed

[2020-10-31 14:26] ross-weir commented on #467
If someone else wants to fix this go ahead, it's a bit outside my current level of knowledge. I'm not sure how to detect/handle [case statement bodies made up of only new lines](https://eslint.org/demo#eyJ0ZXh0IjoiZnVuY3Rpb24gdGVzdCgpIHtcblx0cmV0dXJuICdoaSdcbn1cblxuc3dpdGNoKCd0ZXN0Jykge1xuICBjYXNlICdhJzpcbiAgY2FzZSAnYic6XG5cblxuICBjYXNlICdjJzpcblx0dGVzdCgpO1xufSIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucy

[2020-10-31 14:31] bartlomieju commented on #467
@ross-weir you can use [`SourceMap::span_to_snippet`](https://docs.rs/swc_common/0.10.4/swc_common/struct.SourceMap.html#method.span_to_snippet) to get a slice of source code. You can construct a span by taking `span.hi()` from `case` at question and `span.lo()` of following statement.

[2020-10-31 15:20] magurotuna commented on #416
@bartlomieju
This issue is different from what's done in #480 - This is about assignment pattern (for providing default value) in destructuring assignments (typically appearing in _left-hand_ side of assignment expressions), while in #480, I fixed only about object literals (typically appearing in _right-hand_ side of assignment expressions).

[2020-11-01 13:53] bartlomieju commented on #393
Note to self: use [`SourceFile.lines`](https://docs.rs/swc_common/0.10.4/swc_common/struct.SourceFile.html#structfield.lines) to acquire line indexes from file. All newline characters are handled by SWC.

[2020-11-01 13:58] #467 closed

[2020-11-02 00:50] magurotuna commented on #462
I'll look into it after #463.

[2020-11-02 11:03] ross-weir commented on #466
I'll try fix this one 👍

[2020-11-02 12:20] sanderhahn opened #491 "Feature: import cycle warnings"
Would be nice to get `lint` results for cyclic (static) import dependencies, to stimulate writing code with layered responsibilities. Current lint rules works on a file basis, however the dependency information is available in the cache and using the `deno info` command.

Made a prototype based upon the `deno info --json` output: https://github.com/sanderhahn/deno_cycle

https://en.wikipedia.org/w

[2020-11-02 15:09] magurotuna opened #492 "Consider putting rule-specific analyzers into single one"
We have many scope analyzers dedicated to each rule right now. In fact, as far as I see, the following rules have their own scope analyzer:

- prefer-const
- no-undef (#486)
- no-unused-vars
- no-import-assign
- no-global-assign

On the other hand, the following rules use the common scope analyzer (implemented in `scopes.rs`):

- no-ex-assign
- no-func-assign
- no-class-assign
- no-const-assign
-

[2020-11-02 15:26] #393 closed

[2020-11-02 21:46] bartlomieju commented on #476
@nayeemrmn very sensible feature, I'm in favor of supporting it. Implementing it will require some refactor to `ignore_directive.rs` and filtering diagnostics, but both of them were ripe for a cleanup.

[2020-11-02 22:24] bartlomieju commented on #491
https://github.com/denoland/deno_lint/issues/454 is required to implement this feature

[2020-11-02 23:56] #287 closed

[2020-11-03 03:48] RDambrosio016 commented on #482
Currently rslint_errors relies on rowan for rowan/rslint specific span stuff, i may be able to feature gate it soon (kind of busy with other rslint stuff right now), other than that, it relies on the following crates:
- unicode-width (for vendored codespan)
- text-diff for automatic suggestion labeling
- rslint_text_edit as the backing structures for ^
- termcolor and colored for standard cross-pl

[2020-11-03 12:19] #463 closed

[2020-11-03 12:20] #462 closed

[2020-11-03 12:25] #416 closed

[2020-11-03 13:30] bartlomieju commented on #492
@kdy1 can you look into this issue?

[2020-11-03 13:46] kdy1 commented on #492
@bartlomieju Of course.

The rules below can be merged using a simple trait.

 - no-undef
 - no-import-assign
 - no-ex-assign (uses `scopes.rs`)
 - no-func-assign (uses `scopes.rs`)
 - no-class-assign (uses `scopes.rs`)
 - no-const-assign (uses `scopes.rs`)
 - no-const-assign (uses `scopes.rs`)
 - no-shadow-restricted-names (uses `scopes.rs`)

Alternatively, `no-undef` and `no-import-assign` can b

[2020-11-03 13:48] bartlomieju commented on #492
@kdy1 either of solutions works fine for me, decide yourself which one makes more sense.

[2020-11-03 14:02] bartlomieju opened #500 "Handle recoverable errors from SWC"
Much like TSC, SWC can recover from number of errors during parsing. Currently we treat any error as terminal and don't proceed to work on AST.

`Parser.take_errors()` can be used to obtain recoverable errors.

This issue can be treated as an umbrella issue for dependency analysis, `deno doc` and `deno lint`.

CC @kdy1

[2020-11-03 16:26] bartlomieju opened #502 ""ban-unknown-rule-code" should distinguish between known and unknown rules"
Configuring linter to run only a single rule will cause a lot of `ban-unknown-rule-code` errors
due to other rules not being run. This is wrong - `ban-unknown-rule-code` should know
all available rules codes even if certain rule is not being run.

Instead, `ban-unused-ignore` should be raised in case of running with only a single rule configured.

Ref https://github.com/denoland/deno_lint/pull/499

[2020-11-03 16:35] bartlomieju opened #503 "Add require-await rule"
[`require-await`](https://eslint.org/docs/rules/require-await) was used in `deno` repository and helped to catch inefficiencies in code. We should add this rule and make it `recommended`.

CC @kdy1 can you look into it?

[2020-11-03 16:36] bartlomieju opened #504 "Add no-use-before-define rule"
[`no-use-before-define`](https://eslint.org/docs/rules/no-use-before-define) was used in `deno` repo in a few places, I think it might be worth getting this rule working and maybe making it `recommended`.

[2020-11-03 17:28] magurotuna commented on #503
Looking at ESLint's implementation, this rule doesn't seem so much difficult to port to me.

[2020-11-03 18:25] #502 closed

[2020-11-05 05:34] magurotuna commented on #504
@kdy1
Could I ask you a question about `swc_ecmascript::utils::Id`?  If there are one variable `foo` and the reference to `foo`, are their `Id`s designed to be always the same? And vice versa?

For example

[code]

I want to know if it is possible to use `Id` as something like a "mapper" of declarations and references.

[2020-11-05 05:36] kdy1 commented on #504
You are correct.
I recently added some documents for the resolver at https://swc.rs/rustdoc/swc_ecma_transforms/resolver/fn.resolver_with_mark.html

[2020-11-05 05:41] magurotuna commented on #504
Oh that's awesome!
Then it seems a kind of easy to implement `no-use-before-define` rule, though it will likely conflict with #492

[2020-11-06 02:09] #466 closed

[2020-11-06 12:42] bartlomieju commented on #503
Sorry @magurotuna I've missed your comment. If you want to work on this rule I'm more than happy :)

[2020-11-06 20:58] andykais opened #513 "deno lint allow snake_case"
Hi, so I have a deno project that I chose to write in snake case. I have just started integrating deno lint & deno test, and deno lint isnt really usable because it just outputs a ton of linter errors stating that I should use camelCase instead of snake_case. So my options are to either:
a) give up on the linter
b) add ignore line comments on every line that uses a snake_case variable

I would lov

[2020-11-08 13:48] bartlomieju commented on #476
@nayeemrmn I gave this a bit more thought and I'm not so sure anymore - ignoring diagnostic in whole AST means that all diagnostics in children of the node would be ignored as well.

Example:
[code]

In above example ignore directive above function would also ignore diagnostics inside block. In real world code this might lead to ignoring very deeply placed diagnostics.

Did I get the idea wrong? C

[2020-11-08 13:55] nayeemrmn commented on #476
I considered that, I presume the user would have to do this if they really only wanted to capture the return type:
[code]
If that's unacceptable, I don't mind making exceptions for functions and similar, or even if this proposal only applied to basic
`{}` blocks.

[2020-11-08 13:58] bartlomieju commented on #476
I don't like inline block comments, but I think applying to block nodes makes sense.

[2020-11-08 13:59] RDambrosio016 commented on #476
In my opinion this should only be done if the comment is above a statement or module item (this is actually how ignore directives work in rslint 👀). Anything else will give you really weird unpredictable scoping. Then after that you can add `deno-lint-ignore-next-line` to be more explicit if somebody wants to ignore a whole line. You should reject any directives in that format which are not above

[2020-11-08 14:04] bartlomieju commented on #476
@RDambrosio016 `deno-lint-ignore` currently works only on next line. I agree with you on the scoping problem (hence my above comment) but I see value in @nayeemrmn's proposal and I think it does make sense for blocks but only blocks. I really don't want to add more ignore directives, I find it super confusing to have 4 different ignore directives.

[2020-11-08 14:46] bartlomieju commented on #482
Actually I think we should try to use `swc_common::errors` first because it's already one of our dependencies.

Skimming through docs there's https://docs.rs/swc_common/0.10.5/swc_common/errors/struct.Diagnostic.html that seems to be suitable for our use case. The only missing things is that `Diagnostic` doesn't have `Serialize` trait.

[2020-11-08 14:58] #503 closed

[2020-11-09 00:51] kitsonk opened #522 "Prefer const too aggressive on destructuring"
In my opinion, prefer const should not "trigger" in situations where one of the variables gets reassigned during destructuring.  For example, given:

[code]

This would error that `a` is not re-assigned, but this should be allowed, as `b` gets reassigned and you can mix mutability on destructuring.

[2020-11-09 01:38] magurotuna commented on #522
@kitsonk
That makes sense. So you mean our `prefer-const` rule should behave like ESLint with `{ "destructuring": "all" }` enabled?

https://eslint.org/docs/rules/prefer-const#destructuring

[2020-11-09 01:58] kitsonk commented on #522
In my opinion yes.

[2020-11-09 06:14] ross-weir opened #523 "Detecting the object used for a method call"
In order to improve rules like `no-eval` we need to be able to detect the object a method call is using.

For example when detecting `eval` usages we need to know if the `eval` method is being called specifically using the `window`, `globalThis` or `this` object at a global scope. [Some related discussion on a recent `no-eval` PR.](https://github.com/denoland/deno_lint/pull/490#discussion_r5172109

[2020-11-09 06:33] kdy1 commented on #523
I think it can be implemented using

[2020-11-09 07:24] nayeemrmn commented on #366
@bartlomieju We lint `cli/rt` with `dlint` now. I don't think we did anything though... it seems the scripts are valid modules as they are written.

Either way, can this be closed? There's no other motivation to support scripts.

[2020-11-09 10:26] lucacasonato commented on #366
Indeed resolved through https://github.com/denoland/deno_lint/pull/484

[2020-11-09 10:26] #366 closed

[2020-11-09 14:18] bartlomieju commented on #366
FYI discovering whether a file is a script/module is now handled implicitly by SWC when using `parse_program()` API.

[2020-11-09 16:38] andykais commented on #513
thank you, I was not aware of of the deno_lint repo. It looks like my concern is already addressed!

[2020-11-10 13:12] magurotuna commented on #513
@andykais Good to hear that :)

@bartlomieju I think this issue can be closed as resolved.

[2020-11-10 13:15] #513 closed

[2020-11-10 18:07] ebebbington opened #525 "Using `--ignore` Still 'Checks' The Specified Files"
To reproduce, do the follwing:

[code]

Whilst deno lint wont check those files, due to the time difference it seems like still iterates over the ignored dirs/files but just doesn't add them to the 'linterrors' array

Using deno v1.5.2

[2020-11-10 18:13] bartlomieju commented on #525
This is being worked on in https://github.com/denoland/deno/pull/8040

[2020-11-10 18:15] ebebbington commented on #525
Oh :D I'm sure i mentioned it before but couldn't find a ref - assumed it would be an issue with the deno_lint repo. I will close this then, thanks @bartlomieju

[2020-11-10 18:15] #525 closed

[2020-11-13 01:32] jcc10 commented on #162
I would just like to add that trivial depends on who you are talking to. Some cases may be trivial but the conventional way is the wrong way.

The best example is ```const self = this```. This is a "hack" for when you are running a function in a different scope and the linter hates it. But it has been the convention for the past forever. The better(?) way is to use a arrow function, but even I, wh

[2020-11-13 02:10] Soremwar opened #529 "Support for global declarations"
Note: This demonstration is a corner case and should be avoided by developers when possible. However since it's supported by TypeScript and in lack of a better solution it should be considered a "feature".

#### types.ts
[code]

#### mod.ts
[code]

TypeScript is ok with this, and since you are writing a property in `globalThis` on import, JavaScript is as well. However deno lint will mark `x` as u

[2020-11-14 17:36] Skillz4Killz commented on #303
I really love and desperately need this rule! However, I think this error should only occur when your trying to use the promise for something.

[code]

I would not want to see EVERY promise required to be awaited. A lot of times you don't need to wait for the end result of the promise you just need it done. You don't need for the function to finish updating the lastUpdatedAt in the db to return th

[2020-11-14 22:58] bartlomieju opened #534 "ban-untagged-todo could be better"
Currently `ban-untagged-todo` allows following cases:
[code]

But prevents such cases:
[code]

The latter case is prevalent in deno's codebase and I'd rather not add 100s of `@` to satify the linter; so I propose to allow username just after `TODO` and don't require `@`, eg. `// TODO(bartlomieju) Improve calc engine`

Ref https://github.com/denoland/deno/issues/7410

[2020-11-15 04:25] magurotuna commented on #534
I think that makes sense. Then, will the allowed TODO style be expressed like `todo\(\S+\)` in regex?

FYI: the current `ban-untagged-todo` implementation doesn't allow your first examples actually, since we currently use regex like

[code]

so `TODO` and `(@username)` must be neighbored. I'm not sure if this is intentional behavior though.

[2020-11-15 12:39] bartlomieju commented on #534
@magurotuna good catch, my main concern is requirement for `@` which I believe is superficial.

[2020-11-15 12:53] magurotuna commented on #534
Yeah I agree with you, atmark before username isn't really necessary, considering about current usage of them.

[2020-11-16 02:07] #534 closed

[2020-11-20 22:26] ihack2712 opened #548 "Linter expects constructor overloads to call super."
The lint logs: https://github.com/ihack2712/vterm/runs/1433708813
The source code: https://github.com/ihack2712/vterm/blob/dee4c012f24cec39da4fd9890f4003ac71a6981b/lib/ScreenBuffer.ts#L117

[2020-11-21 00:54] bartlomieju commented on #548
@ihack2712 declarations are currently ommited: https://github.com/denoland/deno_lint/blob/4cb2659c8e81a225cc0673d97d91953d8c6b0a1b/src/rules/constructor_super.rs#L173-L176

This behavior was fixed in https://github.com/denoland/deno_lint/pull/470 and should be working as expected since Deno `v1.5.1`. What's the deno version that you're experiencing this problem?

[2020-11-21 01:11] ihack2712 commented on #548
I updated the CI script to use the latest version of Deno. That did work! Thanks!

[2020-11-21 01:11] #548 closed

[2020-11-21 11:16] faith commented on #176
I dont think the development team should use issues for tracking reasons, there is projects and readme or other markdown files or such that should be used instead in my opinion.

[2020-12-04 09:55] jcc10 opened #555 "Triple Slash Directives ignored in Linter"
The following code triggers a linter error:
[code]
outputs
[code]
This indicates that the linter is not working.

I should note that there is no issues with the bundling
[code]
However, removing the 1 or more of the triple slash directives does cause the bundling to fail.

[2020-12-04 12:29] mvolkmann opened #556 "missing recommended rules"
The description says "Supports recommended set of rules from ESLint and @typescript-eslint out of the box with no config."
It seems it does implement all the `eslint:recommended` rules, but only some of the `plugin:@typescript-eslint/recommended` rules.
For example, I think the following rules are missing:

await-thenable, explicit-module-boundary-types, no-floating-promises, no-for-in-array, no-n

[2020-12-04 12:33] bartlomieju commented on #556
@mvolkmann could you link to relevant configuration in `typescript-eslint` that lists these rules as recommended? Last time I checked I did not see most of them in recommended set.

[2020-12-04 14:37] mvolkmann commented on #556
https://www.npmjs.com/package/@typescript-eslint/eslint-plugin#supported-rules

[2020-12-04 14:41] bartlomieju commented on #556
@mvolkmann it seems the rules you've enumerated require type checking to enforce, which `deno_lint` can't do at the moment: #303, #270

[2020-12-05 16:42] MierenManz opened #558 "linter ignores private properties"
i got this property
`#input: string = "";`
It doesn't show that it is a problem
if I do
`input: string = "";`
Then it does show that is is a problem
[code]

[2020-12-05 17:23] magurotuna commented on #558
Thanks for the bug report. I'm fixing it

[2020-12-05 17:58] #558 closed

[2020-12-07 12:09] bartlomieju opened #561 "deno_lint should generate an unused tag as part of its diagnostic structure to flag unreachable code"
In particular we want to integrate with new `deno lsp` so diagnostics should include some info that could be mapped to [`lsp_types::DiagnosticTag::Unnecessary`](https://docs.rs/lsp-types/0.85.0/lsp_types/enum.DiagnosticTag.html#variant.Unnecessary). This is mostly a concern for diagnostics produced by `no-unreachable` rule.

[2020-12-10 22:05] kmurph73 commented on #500
Just want to toss in a +1 for this issue.  Constantly receiving the "A request has failed. See the output for more information." popup in VS Code is quite jarring.  Thank you.

[2020-12-10 23:39] bartlomieju commented on #500
@kmurph73 it looks like a [`vscode_deno`](https://github.com/denoland/vscode_deno) error; can you open an issue there?

[2020-12-11 00:09] kmurph73 commented on #500
@bartlomieju thanks, just looked, and found that an issue already exists... https://github.com/denoland/vscode_deno/issues/200

Looks like errors from `deno.format` just needs to be rescued?  I can play around with the extension locally and create a PR tomorrow for that.

[2020-12-11 00:10] bartlomieju commented on #500
@kmurph73 extension undergoes a major refactor and this problem should be fixed soon.

[2020-12-11 12:43] AnInternetTroll opened #566 "Comparing a literal string union variable to `typeof` throws a `valid-typeof` error"
When I run `deno lint --unstable` on this typescript I am getting a error
[code]
[code]

[2020-12-11 12:49] magurotuna commented on #566
Thanks for the report!
The linter should check `typeof` comparison only when it's compared to string literals, not variables.
I'll fix it.

[2020-12-11 13:22] magurotuna commented on #566
@bartlomieju
Looking at #38, which is the PR that introduced `valid-typeof` rule, there was a discussion that you adopted a stricter option `"requireStringLiterals": true` over the default option in ESLint (actually the default is `false`).

It seems like @AnInternetTroll's example shows one of the useful and practical usages of `typeof` comparison with what's not string literals, although `typeof

[2020-12-14 05:24] kitsonk opened #567 "prefer-as-const panics on empty file"
Opening a new document in an editor and starting to type causes panics in the LSP:

[code]

It seems like we need to keep "empty" documents from being linted.

[2020-12-14 14:24] magurotuna commented on #567
I'll fix it.

[2020-12-14 20:32] oganexon opened #569 "[require-await] no need for await in a return statement"
The `require-await` rule was recently added but it does not help when I return a promise.

[code]

This works fine with `foo` but not with `bar`. Yet `bar` returns a promise, it is thus a valid async function.

[code]

Unfortunately this would require some type checking to enforce, which `deno_lint` can't do at the moment.

[2020-12-14 20:57] Soremwar commented on #569
`async` is only required when you use `await` inside that same function, not when you are returning an async value. If you were to remove `async` from `bar` you would still return a promise that is the result of `foo`.

[2020-12-14 21:35] oganexon commented on #569
You're absolutely right. Thanks !

[2020-12-14 21:35] #569 closed

[2020-12-15 13:10] #567 closed

[2020-12-15 15:55] magurotuna opened #571 "Try re-implementing some rule using dprint-swc-ecma-ast-view"
https://github.com/dsherret/dprint-swc-ecma-ast-view

@dsherret created this awesome crate that wraps swc's AST, which allows navigating AST more freely than swc's visitor we're currently using.
I think it will make lots of rules easy to implement, e.g. `no-await-in-loop` in nearly the same way as RSLint does. So I'd say it's worth trying to use it.

[2020-12-15 16:09] dsherret commented on #571
There's a few small details I need to work out, but it's basically ready. I'm going to spend another weekend on it and then it should be good for use!

[2020-12-16 03:08] ModProg opened #572 "insufficient advice with ban-types, `{}`"
When using the type `{}` deno-lint recommends to replace it with `Record<string, unknown>`.
In my case this lead to the following error message:

Argument of type 'object' is not assignable to parameter of type 'Record<string, unknown>'.
  Index signature is missing in type '{}'.

It seams like I cannot assign an `typeof == "object"` to the Record. `any` would work, but is less restrictive than ne

[2020-12-16 04:46] kitsonk commented on #572
It mirrors the hint from eslint.  `{}` is a dangerous type, as it can often equate to `any` in very surprising ways.  You can also use `object` as a guard, but that has some suprising behaviours too.

[Take a look at this example](https://www.typescriptlang.org/play?#code/CYUwxgNghgTiAEA3W8D2AjAVgLngVwDsBrA1AdwIG4AoUSWBZGeAMwNwAoBKeAXgD4kqAJbAadaHCQoAzgBcYueTGEEA5jWotCYOcNQF4UDqlwAlcKhjAAPMtVqANPm

[2020-12-26 18:00] dsherret commented on #571
@magurotuna ok, should be good to use in 0.3.0 I believe. Let me know if you have any suggestions for anything or find any bugs.

[2020-12-27 02:16] magurotuna commented on #571
@dsherret Great! I'll take a stab at it :)

[2020-12-28 22:18] bartlomieju opened #580 "Add API to lint AST instead of source code"
For the purpose of https://github.com/denoland/deno/issues/8641 we should have additional APIs on `Linter` struct that allows to pass already parsed AST instead of source code.

Current API:
https://github.com/denoland/deno_lint/blob/14a4dccfbd84e13f3fc2e245961f3c84f3ffc339/src/linter.rs#L212-L216

Proposed API:
[code]

[2020-12-28 22:59] kitsonk commented on #580
small nit... `lint_with_ast`?

Are you proposing maintaining existing API as well?

[2020-12-28 23:06] bartlomieju commented on #580
Sounds good to me.

Yes, most of the code would still be shared, if it proves to difficult in the long run I'll be happy to remove existing APIs.

[2021-01-01 12:41] antca opened #582 "Nested try/catch statements trigger the no-unreachable rule incorrectly"
The following code produces the issue:

[code]

deno 1.6.3 (release, x86_64-unknown-linux-gnu)
v8 8.8.294
typescript 4.1.3

[2021-01-01 12:44] magurotuna commented on #582
Thanks for the report, I'll look into it.

[2021-01-05 16:25] magurotuna commented on #582
I've found where the cause is, but it will take some time to fix it. I hope I'll make it before the next release of Deno.

[2021-01-05 16:33] magurotuna commented on #571
I'm kind of busy recently, which prevents me from trying to implement it. Although I don't have time to implement, I elaborate on how to make it in my mind. I'll manage it as soon as possible :)

[2021-01-05 20:23] antca commented on #582
Thanks for your work on this. It is not something blocking me in any way.
I would like to help but I don't know rust at all (yet).

[2021-01-11 22:31] caspervonb opened #587 "The camel-case rule should probably not apply to ambient declarations"
So I've been dabbling a little bit with an AssemblyScript port and ran into this scenario

[code]

We probably shouldn't be doing that, reasoning being that ambient declarations are the environment's fault and the user is unable to do anything about it.

[2021-01-12 05:49] JLarky commented on #176
I'm pretty ignorant on the topic, but would you be able to use deno linter in VSCode for nodejs/webpack projects? :) I tried to look up the answer and so far it looks like it would only work with [this plugin](https://marketplace.visualstudio.com/items?itemName=denoland.vscode-deno) and only for deno project.

[2021-01-12 10:19] magurotuna commented on #176
@JLarky As far as I know, there's no extension that makes it possible for deno_lint to be integrated into VSCode for Node projects. But I would say that technically it could be realized.

[2021-01-14 15:44] #582 closed

[2021-01-14 15:49] #522 closed

[2021-01-15 21:30] ebebbington opened #590 "Document is not defined"
Possible to use any tsconfig with `deno lint`, or any other way to bypass these errors?

[code]

[2021-01-16 06:10] magurotuna commented on #590
As far as I know, there's no way of configuring what variables are defined globally.
Currently the list of global variables is constant, being managed in [this file](https://github.com/denoland/deno_lint/blob/master/src/globals.rs). This list doesn't contain `document`, so `no-undef` error was triggered in your example.

I'm not really sure `document` should be listed here, but I guess it should.

[2021-01-16 13:15] ebebbington commented on #590
Thanks for the response :) I was curious if there's a way about it, currently i am just slapping `// deno-lint-ignore no-undef` on, and if it helps, my use case is I have code that talks to the DOM (not client side code im trying to lint),and this is exposed via the modules API

So linting is a big part of the project,  i guess it isn't 'breaking', but it would be really nice to have :) Though say

[2021-01-16 13:36] bartlomieju commented on #590
I'm leaning towards accepting more configuration in Rust API for the linter so we can synchronize list of globals based on the `lib` value in `tsconfig.json` users are using. I guess we need to use more of the available sets from https://www.npmjs.com/package/globals and add proper API to the `Linter`; then we can handle that in `deno` to sniff out what `lib`s user wishes to use.

[2021-01-16 14:50] bartlomieju opened #591 "Output from dlint example is not deterministic"
Before printing diagnostics in `dlint` they should be first sorted by files to ensure deterministic output; currently there is no sorting so running `dlint` multiple times will reorder diagnostics.

[2021-01-16 15:36] #587 closed

[2021-01-16 23:37] kitsonk commented on #590
We need to find a way to integrate the linter with TypeScript in the long term so that tsc can be queried and get type information. Maintaining lists of global variables is intenrsincly a bad idea, as any number of things can be changed which impact the global variables.

[2021-01-17 02:58] magurotuna commented on #580
I'll work on it.

[2021-01-17 14:49] bartlomieju opened #594 "no-invalid-regex rule is probably broken"
Reported by @BorgerKing on Discord:

[code]

[code]

[2021-01-18 11:35] Soremwar opened #596 "no-undef gets triggered after destructure parameters on functions"
I found a quite weird corner case here

If I were to create a function with the following structure

[code]

Deno lint will warn me that next is not defined, however doing any changes to the function parameters (such as changing the first parameter for a non-destructurable one) will remove the warning

[2021-01-18 17:19] bartlomieju commented on #594
Further investigation by @RDambrosio016 https://discord.com/channels/684898665143206084/775366479143108608/800774226894258207

[code]

[2021-01-18 22:37] umucorn opened #597 "Use `indoc!()` for multiline strings"
https://docs.rs/indoc/1.0.3/indoc/ crate provides functionality for using nested multiline strings. We use multiline strings for documentation and tests. But they look totally out of order in our code.

It improves code readability.

Example:

[code]

would be equivalent to:

[code]

[2021-01-18 22:51] ebebbington opened #598 "Add `no-unused-imports`?"
Are there plans to add this rule? I know personally it'd be amazing if `deno lint` could also throw errors/warnings on unused imports

[2021-01-20 09:31] thgh opened #599 "Invalid output for JSX comment"
Input:
[code]

Output: (comment is moved into children)
[code]

Expected:
[code]

[2021-01-20 09:32] lucacasonato commented on #599
I assume you mean `deno fmt` and not `deno lint`?

[2021-01-20 09:33] thgh commented on #599
Ow sorry, yes, can you move the issue to the correct repo?

[2021-01-24 12:14] #580 closed

[2021-01-24 14:19] #591 closed

[2021-02-04 23:25] darklight9811 opened #607 "no-undef when exporting types"
# How to reproduce

[code]

# Error
![image](https://user-images.githubusercontent.com/20667774/106968142-0dedb600-6727-11eb-9161-7781bed0557c.png)

[2021-02-05 00:41] magurotuna commented on #607
@darklight9811 Thanks for the bug report :) I'll fix it soon

[2021-02-05 02:44] darklight9811 commented on #607
@magurotuna, hey, just another question related to typescript. Shouldn't arguments that start with `_` be ignored by typescript? It is complaining that it has any type, but it doesn't matter anyway because I'm not using it.

[2021-02-05 04:16] magurotuna commented on #607
@darklight9811 could you show me a specific code snippet? Also, note that deno_lint is independent of the type checker of TypeScript. So if you're talking about TypeScript's quirk, there may be nothing we can do.

[2021-02-05 04:21] darklight9811 commented on #607
@magurotuna, oh, so probably that is the case, but just to show the code snippet:

[code]

I'm using this in a propertyDescriptor to format incoming values, the second parameter is actually the entire object.

[2021-02-05 10:32] magurotuna commented on #607
@darklight9811 Yeah, unfortunately it looks like we can't do anything with deno_lint to suppress the warning message you get with your code.

[2021-02-05 10:50] darklight9811 commented on #607
@magurotuna , I would like to thank you for your patience, I've been encountering some pretty (censored word) here on github and it's a relief to find someone like you.

[2021-02-05 12:07] #607 closed

[2021-02-06 03:21] darklight9811 opened #609 "class property initializers"
I actually came here with a doubt. Because deno doesn't allow you to create properties in classes without their initiacialization. And this is really preventing me from making my model package. I tried disabling it with tsconfig, but got lectured hard by some github users. And making the user have to disable their lint or anything else seems kinda dumb.

## Example
### Base Model
[code]

### Model

[2021-02-06 05:48] kitsonk commented on #609
This is the official way (for TypeScript) and has nothing to do with Deno lint. It is working as designed.

[2021-02-06 05:48] #609 closed

[2021-02-07 03:00] Skillz4Killz opened #610 "Remove Camel Case Rule"
I'd like to propose the removal of this rule from deno lint.

I've seen some others complain of this rule as well in the past. It causes issues for some users and is one of the least impactful rules. This is a stylistic decision and in my opinion should not be in a linter. I hope deno lint can stick to rules for common issues and errors, and give you back a report with line numbers that you can us

[2021-02-07 04:22] Soremwar commented on #610
Second this, or please add it to a list of rules that you can enforce optionally

[2021-02-08 12:25] henryboisdequin commented on #597
I would like to work on this issue.

[2021-02-08 15:10] henryboisdequin commented on #597
I found that using the macro `indoc` actually breaks things. In your code example, the test fails.

[code]

[2021-02-08 19:37] umucorn commented on #597
I didn't test my example. But it's interesting now. Or I didn't get how this macro works.

[2021-02-09 19:47] kitsonk commented on #597
Let's not fix something that works with something that doesn't.

Respectfully closing.

[2021-02-09 19:47] #597 closed

[2021-02-11 11:37] JamesHenry commented on #176
Creator of @typescript-eslint here 👋

I stumbled upon this project via a tweet.

I’m just curious, were any experiments undertaken to try and ingest rules as they exist today (in TS) but execute them in rust?

ie replace the ESLint libraries but keep the existing low barrier to entry authoring experience (and 10000s of hours of already invested dev time in existing rules and plugins).

[2021-02-11 12:13] bartlomieju commented on #176
Hey @JamesHenry, thanks for dropping by!

I'm not sure I understand the question, but let me try to answer anyway. Initially, before the inception of this project we explored the idea of using `eslint` directly by running it in Deno, however we were unsuccessful in producing something a'la browser build (nor did we find such build, let me know if it exists). From my understanding `typescript-eslin

[2021-02-11 13:05] JamesHenry commented on #176
Yeah it was a genuinely open question - I haven't thought about it in any detail and I also don't know that much about rust or deno :)

I do know of interesting experiments involving mixing JS tooling with rust and was genuinely just curious if there are ways to achieve the best of both worlds for linting too.

So yeah nothing more from my side on this but I'll keep thinking about it - I have a go

[2021-02-11 16:49] RDambrosio016 commented on #176
Ive juggled with the idea of reusing js rules for a project i am making too and i eventually reached a conclusion of "its too hard and limits things too much" for the following reasons:
- Most users don't use "esoteric" rules from random plugins beyond popular ones like vue, react, import, and typescript, which i believe should be supported natively by the linter.
- It limits performance optimizat

[2021-02-19 03:50] 00ff0000red opened #615 "deno lint mis-parses private method parameters?"
Run the following through `deno lint`:
[code]

`deno lint` claims that I have declared `x` and `y` twice, as if they were were properties, instead of parameters.

[2021-02-19 10:29] magurotuna commented on #615
@kdy1
It seems like this issue happens due to swc's bug; in the following snippet, both `x` have the same `Id` unexpectedly.

[code]

Could you take a look into it?

[2021-02-19 10:34] kdy1 commented on #615
@magurotuna I'll take a look.

[2021-02-19 10:43] kdy1 commented on #615
@magurotuna You are right. It was a bug of swc.
I fixed it with https://github.com/swc-project/swc/pull/1414.

But updating swc will need some work because I made one breaking change recently - `Ident` does not have `type_ann` anymore. If you are okay with it, I'll make a pr for upgrading swc.

[2021-02-19 11:12] magurotuna commented on #615
@kdy1
Great job!
At a glance, `type_ann` of `Ident` is being used currently (for instance: https://github.com/denoland/deno_lint/blob/main/src/rules/no_unused_vars.rs#L71), and I'm not sure whether there will be a workaround after `type_ann` is removed from `Ident`. But I'm willing to adjust deno_lint to the new version of swc.

[2021-02-19 11:18] kdy1 commented on #615
@magurotuna There's a new type named `BindingIdent` which is used by parameters or patterns and has `type_ann`.

See: https://docs.rs/swc_ecma_ast/0.39.0/swc_ecma_ast/struct.BindingIdent.html

Then I'll focus on fixing bundler instead :). Thanks!

[2021-02-21 18:10] #615 closed

[2021-02-22 06:45] magurotuna commented on #598
This should be covered by `no-unused-vars`. In fact, if this particular rule is enabled, the following snippet will give us a lint error.

[code]

output:

[code]

(It might be a bug to get duplicate errors, but ignore it for now)
I don't have an idea why `no-unused-vars` is not listed in the "recommended" set. I guess the reason is that the rule is prone to have false positives.
@bartlomieju do y

[2021-02-22 07:04] magurotuna commented on #596
Minimal reproduction I've found is:

[code]

[code]

If we add an additional parameter `c` to the function like:

[code]

output changes to:

[code]

And if we place `{ a }: Foo` between `b: boolean` and `c: number` like:

[code]

then we get:

[code]

From these results, it seems like parameters placed after destructuring pattern trigger the lint error unexpectedly.

[2021-02-22 07:27] littledivy opened #619 "no-unreachable: Ignore type declarations"
[code]
[code]
Expected behaviour: The rule should ignore type decls.

[2021-02-22 10:58] #619 closed

[2021-02-22 10:59] bartlomieju commented on #598
@magurotuna I'm not sure why it's not in recommended set. I guess it would make sense to add it.

[2021-02-22 17:22] 00ff0000red opened #620 "Disallow re-assigning constant variables"
Deno lint should support ESLint [no-const-assign](https://eslint.org/docs/rules/no-const-assign#disallow-modifying-variables-that-are-declared-using-const-no-const-assign).

[2021-02-22 19:23] kitsonk commented on #620
Lint rules should identify only stylistic errors, not duplicate what checking for syntactical runtime errors.

[2021-02-22 19:45] 00ff0000red commented on #620
This isn't a syntatical error, it's a recommended ESLint, and Deno lint supports no-func-assign, no-import-assign, no-ex-assign already.

Do note that no-import-assign prevents runtime errors, as re-assigning an import always throws a TypeError for assigning to a "constant variable," regardless of whether it was exported with `let`, `var`, or `const`.

Therefore, based on your logic, the "no-impor

[2021-02-23 00:35] 00ff0000red commented on #610
It is a stylistic decision, and that is one of the main points of a linter, to enforce a code style across a code base, but snake_case is hands down my favorite, regardless of whether it's being used in a camalCase language such as JavaScript, or not.

[2021-02-23 22:39] kitsonk opened #622 "Globals should be derived from parsing lib files..."
Instead of maintaining a hand crafted list of global variables, deno_lint should take either a list generated externally when the API is called, or parse a set of provided API files when the API is called.

With the generated list, the Deno CLI (or other consumer) would generate a list of global symbol names and pass in based on the ambient configuration.

The other option would be that Deno CLI (

[2021-02-23 22:40] kitsonk opened #623 "JSDoc `@deprecated` diagnostics"
deno_lint should be able to parse the JSDoc for symbols and identify ones that have the `@deprecated` flag and issue a diagnostic if the `@deprecated` APIs are being used.

[2021-02-23 22:41] lucacasonato commented on #623
This is not possible without type information.

[2021-02-23 22:43] kitsonk commented on #623
How so?  swc bundling tracks symbols across modules without type information, so the swc parser is aware of what symbols are used where and what JSDoc is associated with them.

[2021-02-23 23:29] lucacasonato commented on #623
The linter operates on single files though, not on an entire graph. We don't have info about any symbols outside of the file being linted.

[2021-02-23 23:54] kitsonk commented on #623
At the moment, and that is different than requiring type information.

[2021-02-25 09:32] ebebbington commented on #598
That would be amazing if it’s part of the default set!!! 😊

[2021-02-28 08:54] lcrocker opened #628 "Linter objects to "any" even in type guards"
The linter (correctly, in general) objects to any use of "any", but there's one place where TypeScript all but requires it, which is user-defined type guards. For example:

[code]

One might argue that this is an issue with TypeScript in that it doesn't allow the use of "unknown" here without throwing errors and doesn't have any other way to check for the existence and type of properties of an unk

[2021-03-01 23:47] kitsonk commented on #628
Correct, `unknown` should be used in user-defined type guards.

[2021-03-01 23:47] #628 closed

[2021-03-02 17:32] lcrocker commented on #628
Using "unknown" is user-defined type guards is the right thing to do, but it doesn't work, at least in the current state of TypeScript because there's no way to assert the presence of a property.
See https://github.com/microsoft/TypeScript/issues/25720 . We should say explicitly that we won't fix this because we expect TypeScript to fix their end.

[2021-03-02 17:43] Soremwar commented on #628
@lcrocker

This is a safe way of asserting a value using unknown, it won't trigger getters or return false on validation over falsy values

[code]

[2021-03-04 06:47] kdy1 commented on #620
I tried working on this, but I found that the `no-const-assign` rule already exists.

See https://github.com/denoland/deno_lint/blob/07e0ff827e85efb06661844599fbddc89b394c53/src/rules/no_const_assign.rs

[2021-03-04 07:13] kdy1 commented on #443
How about checking if the url contains semver?
I think it would work for most of CDNs.
Also, it would emit errors for using files from githubusercontent.com

[2021-03-04 07:24] kdy1 commented on #476
I think the intention of the user is important.

I mean, if ecmascript syntax forces the user to place a node on the specific position, like the return type in the code below,

[code]

the ignore directive should go before the ast node, like

[code]

At the same time, I think directives for parameter should be placed before the line because user can change order of parameters.

[code]

---

The sa

[2021-03-04 21:10] carlosala opened #630 "Node Functions Support"
**Is your feature request related to a problem? Please describe.**

Hi! The Deno linter is absolutely amazing, the best that we have in JS/TS development. But if you try to use it in a Node project, tipical functions as `require()`, `module.exports` or `process.env` are not recognized. Even though, it's possible to use the LSP to every project with the `"deno.lint": false`, but we just have the cl

[2021-03-04 21:10] kitsonk commented on #630
This really is a request to allow customisation of globals support for `deno_lint`

[2021-03-04 21:22] ebebbington commented on #630
Granted, I feel like Deno could replace ESLint and Prettier for Node projects

I mean, if Deno did allow the customisation, i'd straight up make the move to use Deno over prettier and eslint

[2021-03-05 11:23] #596 closed

[2021-03-05 11:55] David-Else commented on #630
I am using the LSP/linter for browser code, and adding `/// <reference lib="dom" />` at the top of modules that require it. I can use the `.ts` extension for local imports and `esbuild` understands and bundles :)

Unfortunately for API's that Deno does not include I get `not defined`:
[code]
What is the recommended way to overcome this problem? Do I need to wait for the ability to Customise global

[2021-03-05 11:59] bartlomieju commented on #630
We've discussed this issue with @lucacasonato several times and we're leaning towards disabling `no-undef` altogether. Adding additional globals requires some kind of configuration and since topic of configuration is rather controversial and we can't seem to find a consensus I think it'd be better to skip this rule.

[2021-03-05 12:12] David-Else commented on #630
@bartlomieju Can I turn off `no-undef` per module like eslint's `/* eslint-disable <rule> */`?

[2021-03-05 12:18] bartlomieju commented on #630
@David-Else sure: `// deno-lint-ignore-file no-undef`

[2021-03-05 12:24] David-Else commented on #630
@bartlomieju Would be great to get that added to the docs. I did search for the information before but found nothing.

[2021-03-05 12:26] bartlomieju commented on #630
@David-Else this info is available at https://lint.deno.land/ignoring-rules

[2021-03-05 12:31] carlosala commented on #630
That is what I want. Is it possible to globalise this config?

[2021-03-05 12:33] bartlomieju commented on #630
No, currently there's no way as `deno_lint` has no config besides those ignore directives

[2021-03-05 13:04] magurotuna commented on #620
Our `no-const-assign` is disabled by default because it doesn't have a "recommended" tag. I am not sure if it's intentional, but maybe it's intentional because typescript-eslint's recommendation disables it too. (See https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/src/configs/eslint-recommended.ts#L13)
But if this is the case, other rules such as [no-dupe-

[2021-03-08 21:57] sno2 opened #633 "rule(no-namespace): allow regular `namespace` in ambient context"
You are not able to nest declaration namespaces within other declaration namespaces because they are all in an ambient context.  However, Deno Lint does not know this so it throws a style rule error for [no-namespace](https://lint.deno.land/#no-namespace).  For example, let's say we have the following code:

[code]

But when you run `deno lint --unstable <file>`, it throws the namespace rule again

[2021-03-16 10:48] MierenManz opened #635 "namespace `Intl` undefined"
The code does run, lint just doesn't know that `Intl` exists
![Deno-lint](https://cdn.discordapp.com/attachments/684898665151594506/821333626007977984/Naamloos.png)

[2021-03-16 11:55] #635 closed

[2021-03-17 06:00] KotlinIsland opened #637 "Add lint inspection for unused value"
[code]
These should be reported as unused values.

[2021-03-17 06:00] KotlinIsland opened #638 "lint: add inspection for uncalled function"
[code]

[2021-03-19 18:25] ewired opened #640 "False no-undef when destructuring object with type"
When destructuring an object in an arrow function argument and defining its type, the linter reports a no-undef warning for the argument following the object, and reports a no-undef warning for all other references to the argument.
[code]

[2021-03-20 02:28] magurotuna commented on #640
Thanks for reporting.
This issue was already fixed in #596, #629 but it's not been adopted in the Deno CLI.
Maybe in the next release of Deno it'll be available for you.

[2021-03-20 03:06] ewired commented on #640
Ah okay, I should have noticed that, thanks.

[2021-03-20 03:06] #640 closed

[2021-03-23 04:29] KotlinIsland opened #643 "false positive no-undef with export default function"
[code]
[code]

[2021-03-23 09:17] somebody1234 opened #644 "`break` or `continue` in a function appear to panic the language server"
**Describe the bug**
See title. Backtrace here, full Rust backtrace can be provided if I can figure out how.
[code]

**To Reproduce**

1. Type the following in any file:
[code]
Exports (including default exports), functions in objects, arrow functions and also `continue` rather than `break` appear to produce the same problem. Unknown if there are other cases in which this error occurs.

**Expected

[2021-03-29 14:18] #633 closed

[2021-03-29 14:19] #643 closed

[2021-03-29 14:21] #644 closed

[2021-03-30 14:06] bartlomieju commented on #630
So `no-undef` rule has been removed from "recommended" rule set in #649

[2021-04-01 23:40] lucacasonato opened #650 "Add `no-deprecated-deno`"
This lint would error on all uses of the APIs that we are going to deprecate as per https://github.com/denoland/deno/issues/9795. The lint only has to appear on the most obvious cases (e.g. `new Deno.Buffer`, but not `const { Buffer } = Deno; new Buffer();`).

The lint rule should be `recommended`.

For Deno 1.9 the lint should highlight the following APIs:
- `Deno.Buffer`
- `Deno.readAll`
- `Deno

[2021-04-02 00:24] magurotuna commented on #650
How about clarifying a little more by adding `api` as postfix like `no-deprecated-deno-api`?

Anyway, I would like to work on it :D

[2021-04-02 00:31] lucacasonato commented on #650
Sounds good. Let's bike-shed the name in the PR.

[2021-04-03 10:09] magurotuna commented on #457
Closing as this should be considered further and is not an urgent issue. I'll open a new issue when the time comes.

[2021-04-03 10:09] #457 closed

[2021-04-07 10:40] #650 closed

[2021-04-08 18:38] OverGlass opened #658 "Function parameters are not defined."
Hello 👋
Deno lint say that my second destructuring assignment arguments is not defined.

Minimal reproduction :
[code]
![Deno Lint visual](https://i.ibb.co/QDrrk8L/Bug-Deno-Lint.png)

Thank's you :)

[2021-04-08 20:57] magurotuna commented on #658
Thanks for reporting!
I can reproduce what you encountered in my environment:
[code]

But it seems like the bug disappeared in the latest deno_lint (which means the current main branch, 1a1718b). Therefore I think the fix will be included in the next release of Deno (probably in 4 or 5 days).

[2021-04-08 21:40] lucacasonato commented on #658
Let's add a regression test for this case then.

[2021-04-09 14:10] #658 closed

[2021-04-14 00:17] kitsonk opened #662 "Severity of lint issues and tags"
We should consider enriching the internal API around lint errors so that they can be better handled by the language server.

When working on code with the Deno LSP, I have noticed some challenges where the linting sorts of gets in the way, and I think if we enrich the data back, we can better surface that in the LSP.

For example it is really common to start writing an `async` function in a way th

[2021-04-14 17:38] Skalman opened #663 "`no-unused-vars` doesn't support JSX"
`no-unused-vars` emits an error for the following code, even though `React` is required.

[code]

Not even when a function is explicitly used in a JSX tag does `no-unused-vars` understand what's going on:

[code]

Unfortunately, I'll need to downgrade to Deno 1.8, where this rule wasn't enabled by default.

[2021-04-15 02:19] magurotuna commented on #663
Thanks for reporting! That must be a bug. I'll dig into it.

[2021-04-15 17:39] Skalman opened #665 "`prefer-const` false positive when reassigned in `switch`"
`prefer-const` emits an error, even though the variable is assigned in the `case`.

[code]

Changing the `switch` to an `if`works as expected.

[2021-04-16 09:18] lucacasonato opened #666 "no-self-assign error message is bad"
[code]

This error message should be reworked. It need a better help text, and a better error text.

[2021-04-16 10:24] magurotuna commented on #665
Thanks for reporting that too. I'll fix it.

[2021-04-17 12:47] aricart opened #667 "1.9.0 - `no-unused-vars` diagnosis is wrong in cases where the value is accessible via a closure"
1.9.0 complaints about values that will be found in the closure, here's an example:

[code]

The linter will:

[2021-04-17 12:54] magurotuna commented on #667
@ebebbington Thanks for additional info. That looks a little bit different from what @aricart showed, but is indeed a false positive. I'll try to fix it too.

Looking at the rule implementation, both of those cases will require much rework to fix. It'll likely take a while.

[2021-04-17 17:05] Soremwar commented on #667
An easier reproduction

[code]

[2021-04-17 17:16] KyleJune commented on #667
I use a class as a mixin, copying all of its methods onto objects. Before I specified the type for this in the toString function's signature. Now it shows this as unused.

[code]

[2021-04-17 20:39] CrimsonCodes0 commented on #620
@magurotuna Has there been any update with that idea?

Seems like they never responded? 😟

[2021-04-17 20:54] CrimsonCodes0 commented on #566
Of the three items mentioned, only `null` is a literal, the others are global variables, does that complicate anything?

[2021-04-18 03:01] magurotuna commented on #620
@CrimsonCodes0 No update or response yet. Maybe I should ping them...

@bartlomieju @kitsonk Would love to hear your thoughts on my idea that we'll create an additional tag like "js-only", which means lint rules with that tag won't check TS files. Probably we should assign "js-only" tag to the rules that are disabled in typescript-eslint.

[2021-04-18 13:40] magurotuna commented on #667
@Soremwar Seems like the linter emits the right error in your example. `variable` is declared and then mutated to `2`, but _never read out_. Variables that will never be read out are thought of as "unused".

@KyleJune Thanks for the info, that's a bug of the linter. I'll look into it.

[2021-04-19 14:27] #665 closed

[2021-04-19 16:08] #663 closed

[2021-04-19 16:16] Skalman opened #670 "`no-unused-vars` in constructor in declared classes"
`no-unused-vars` emits an error for the following code. This is probably not very common in regular TypeScript, but of course very common in type declaration files.

[code]

[2021-04-19 17:42] Soremwar commented on #667
@magurotuna I'm sorry, wrong reproduction

[code]

[2021-04-20 12:26] magurotuna opened #672 "Use `MediaType` to determine if the file is JSX or not in `no-unused-vars`"
_Originally posted by @lucacasonato in https://github.com/denoland/deno_lint/pull/664#discussion_r615969757_

[2021-04-21 15:22] magurotuna commented on #670
@Skalman Thanks for reporting! That will be fixed by #673.

[2021-04-22 19:39] GCSBOSS opened #674 "Statement is unreachable after a conditional `throw`"
Linting the following code:

[code]

I get:

[code]

The issue is, said statement is actually reachable.

The warning goes away if:
- the `throw` line is removed entirely
- the `throw` is nested in an `else` block.

[2021-04-23 00:25] magurotuna commented on #674
Thanks for reporting! I'll look into it.

[2021-04-25 16:00] KyleJune opened #676 "Deno lsp showing false errors and stops linting new code, requires reloading window to resolve"
In the video linked below, both primaryGroupServiceTests and secondaryGroupServiceTests are a valid first argument for the test function. I recorded this last week and no longer have the code. I tried finding a minimum reproduction path but it seems to happen randomly. To capture it happening I just had to record myself coding. It was most common for me when using backspace or deleting lines. Some

[2021-04-25 16:04] wperron commented on #676
Moving this as it is an LSP issue rather than a linting issue

[2021-04-27 09:32] #674 closed

[2021-04-27 09:32] #670 closed

[2021-05-04 19:24] ry opened #680 "Allow caller to provide list of globals"
Deno CLI should provide the list of global variables to check, it should not be hardcoded in deno_lint.

When we added WebSocketStream support to deno, it required making a release to deno_lint: https://github.com/denoland/deno_lint/pull/679

[2021-05-04 19:27] lucacasonato commented on #680
@ry `deno lint` does not use `no-undef` rule anymore, so globals are not used anymore. This is just because we use the `dlint` executable in CLI repo.

[2021-05-05 03:24] magurotuna commented on #680
It looks like the main repo uses dlint v0.2.18 which is outdated. https://github.com/denoland/deno_third_party/tree/master/prebuilt
Additionally, the release of dlint executable doesn't follow the progress of deno_lint lib. So what we should do to address the issue are:

1. release the latest dlint executable (v0.4.0, in this version `no-undef` is disabled)
2. update dlint in deno_third_parth repo

[2021-05-05 13:43] kamchy commented on #666
I'll try to look into this issue.

[2021-05-05 22:18] lucacasonato opened #682 "Add rule disallowing prefixing of web APIs with `window`"
There should be a warning for `window.fetch`, recommending to replace with `fetch` or `globalThis.fetch` for compatibility between window, web workers, and service workers.

This should be limited to the known subset of APIs that are available in both the window, and workers.

[2021-05-06 00:16] bartlomieju commented on #682
AFAIK `self` is valid in all of the contexts you enumerated.

[2021-05-06 09:32] magurotuna commented on #666
@bartlomieju @lucacasonato This issue can be closed as it's been resolved by #681.

[2021-05-06 09:36] #666 closed

[2021-05-06 21:25] kamchy commented on #431
There are not many rules to refactor left, perhaps I could help here?

[2021-05-06 21:38] ry commented on #431
@kamchy Help is always appreciated!

I'm not sure what the best rule to get started on is tho... Maybe @bartlomieju can recommend one?

[2021-05-06 21:45] bartlomieju commented on #431
@kamchy thanks! There's not much difference between the rules left - this task is mostly about switching rules from using `assert_lint_err::<>` and `assert_lint_err_n::<>` to using `assert_lint_err!` macro. I think starting with [`eqeqeq`](https://github.com/denoland/deno_lint/blob/main/src/rules/eqeqeq.rs) might be good first try. As an example here's how to use `assert_lint_err!` macro [in `for_

[2021-05-06 21:55] kamchy commented on #431
Thanks for the example. Should I issue separate PRs for each rule I've refactored or just single PR?

[2021-05-07 01:17] magurotuna commented on #431
I think either way is fine!

[2021-05-07 12:45] magurotuna commented on #667
@bartlomieju oh sorry, #678 doesn't fix all issues reported here. I'll tackle the rest ones.

[2021-05-08 14:11] magurotuna commented on #431
@bartlomieju we've completed all replacement, this issue can be closed now😉

[2021-05-08 14:11] #431 closed

[2021-05-08 16:02] lowlighter opened #687 "`no-unused-vars` wrong diagnostic when using destructuring and defaults"
[code]
When using destructuring assignement along with default subsequent values, linter report false positives:
[code]

[code]

Edit: Actually maybe it is actually expected to do the following?
[code]

[2021-05-09 02:27] magurotuna commented on #687
Thanks for reporting! Looks like a little bit tricky code that I've never seen before, but should not trigger the lint error.
I've fixed it in #688.

[2021-05-09 12:13] #687 closed

[2021-05-09 22:26] KyleJune opened #690 "Constructor overload arguments never used warnings"
For method overloads we don't show any warnings for arguments going unused but for constructor overloads we do.

[code]

In the example above it warns about x and y not being used in the constructor overloads but doesn't warn about that in the add method's overloads. It should not be warning about these overloads being unused since they cannot be used directly.

[code]

[2021-05-10 06:23] magurotuna commented on #690
I'll fix it.

[2021-05-10 13:25] #690 closed

[2021-05-16 02:14] magurotuna opened #697 "False negative: `no-unused-vars` doesn't check variables introduced in `for-of`, `for-in`"
### Lint Name

no-unused-vars

### Code Snippet

[code]

### Expected Result

The linter spots all `x` as errors

### Actual Result

No error spotted

### Additional Info

None

### Version

deno 1.10.1 (release, x86_64-unknown-linux-gnu)
v8 9.1.269.27
typescript 4.2.2

[2021-05-16 09:31] Timmmm opened #699 "How do you configure rules?"
Might be obvious but I can't see it mentioned anywhere in the readme or in the Deno docs how you actually choose which rules are enabled.

[2021-05-16 10:51] magurotuna commented on #699
Currently, there's no way to configure which rules are enabled. deno_lint is designed to be as opinionated as possible - having no config file, which leads to a circumstance where all people are following the same lint rules, would be great for the entire Deno ecosystem.
That being said, we're aware that there are not a few people who want a config file. We have a issue about it (https://github.co

[2021-05-16 10:56] Timmmm commented on #699
I wondered if that might be the case. I doubt it is achievable to be honest due to the number of mad old JavaScript features people are going to want to use, and just differing opinions, but it is a commendable goal.

So how come on lint.deno.land some rules are "Recommended" and others aren't?

[2021-05-16 11:07] magurotuna commented on #699
Recommended rules are just brought from [ESLint](https://eslint.org/docs/rules/) and [typescript-eslint](https://github.com/typescript-eslint/typescript-eslint/blob/cae4f4a0f33f8c954b1670d0abcfc8edd6193a06/packages/eslint-plugin/src/configs/eslint-recommended.ts). These recommended rules are widely accepted among JS/TS community.
In deno_lint, to be honest, the rules that are not in "recommended"

[2021-05-16 12:20] #697 closed

[2021-05-16 16:21] Timmmm commented on #699
Right, but what's the point of marking some as recommend and not others if they are all enabled and there's no way to change that?

[2021-05-16 16:22] lucacasonato commented on #699
Only recommended rules are enabled. The other rules are currently not available. We might provide a configuration for enabling these later down the line.

[2021-05-16 19:59] Timmmm commented on #699
Ah ok. Might be worth clarifying that for now at least.

[2021-05-16 23:25] kitsonk commented on #699
Duplicate of #166

[2021-05-16 23:25] #699 closed

[2021-05-20 16:25] magurotuna opened #701 "Enrich `ban-ts-comment` message/hint"
Users who want to suppress the TypeScript checker may get puzzled about how they can get along with the TS directives and the diagnosis from deno_lint. To clearly learn how, they need to visit lint.deno.land and to look at the example of `ban-ts-coment`.
https://lint.deno.land/#ban-ts-comment

To address this situation, it would be great to entich the rule's message and/or hint. Particularly, the

[2021-05-20 16:56] #701 closed

[2021-05-23 07:13] magurotuna commented on #662
Regarding `require-await`, I agree that the returned span should just correspond to `async` keyword, not to overall function. But unfortunately, this is not feasible easily because the AST nodes of swc don't store the span of `async` keyword...

[2021-05-23 12:39] MierenManz opened #705 "no-unused-vars warning when variable and type have the same name"
Linter thinks type is unused if the variable name is the same as the type name
### Lint Name
`no-unused-vars`

### Code Snippet
a.ts
[code]

types.ts
[code]
### Expected Result

No warnings

### Actual Result

linter keeps warning that I'm not using `Filters`

### Additional Info

this happens when the type name is the same as the variable name\
using `filters` instead of `Filters` as variable nam

[2021-05-26 15:06] magurotuna commented on #705
Thanks for the report!

---

Minimal snippet that results in false positive is:

[code]

But the following code is linted _correctly_ (i.e. true negative):

[code]

Looking into it further, I found that

- in the former snippet, `Foo` (b) has `ctxt: #2`, while `Foo` (a) has `ctxt: #1`
- in the latter snippet, `Foo` (d) has `ctxt: #1`, which is equivalent to the ctxt of `Foo` (c)

So I think this b

[2021-05-27 11:31] ry opened #706 "Add lint rule to avoid bad triple slash references"
We've had a lot of confusing around triple slash references using the wrong property. [For example](https://github.com/esbuild/deno-esbuild/blob/28b04eedb1583a7c1c55aa83fc678c5b4a783c63/mod.js#L1)
[code]
should actually be
[code]
Ideally deno lint would complain about bad triple slash references.

[2021-05-27 13:48] magurotuna commented on #706
I'll implement it

[2021-05-28 05:08] kdy1 commented on #705
Fixed with a new version of `swc_ecma_transforms_base`.

[2021-05-29 05:08] magurotuna commented on #705
@kdy1 Great work, thanks!

[2021-05-29 15:03] #706 closed

[2021-06-02 02:44] brandly opened #710 ".tsx support"
Hello! I'm excited by this project. I keep running it against various repos, and it fails on `.tsx` files. It seems like [there's some awareness](https://github.com/denoland/deno_lint/blob/c2f71275fbd38e71076146e34ff79aac77cf3f9f/src/rules/no_unused_vars.rs#L84-L88) of tsx files, but I can't tell if they're truly supported.

For example, if I run it against [some file](https://github.com/brandly/b

[2021-06-02 12:28] bartlomieju commented on #710
Looks like a problem on our side, TSX is supposed to be supported (we got some tests that check it). It might either be a problem when parsing file extension or it's a bug in SWC. We'll investigate.

[2021-06-02 12:52] magurotuna commented on #710
I think it's because the dlint binary has limited capabilities; it always parses the input programs as TypeScript so encountering TSX syntax causes a panic.
It would be good to have dlint check for file extensions so it can parse the program with appropriate parse config. I'll do it.

[2021-06-02 12:56] bartlomieju commented on #710
Ah that makes sense, I was going through the linter logic trying to find where it misparses file extension. Thanks for looking into it Yusuke!

[2021-06-02 13:47] magurotuna opened #712 "`no-unused-vars` rule doesn't work for JSX or TSX"
### Lint Name

no-unused-vars

### Code Snippet

[code]

### Expected Result

`no-unused-vars` rule is triggered regardless of the file type (extension).

### Actual Result

When the preceding snippet is saved as `foo.ts` or `foo.js`, the rule works as expected:

[code]
But no diagnostic appears when saved as `foo.tsx` or `foo.jsx`:

[code]

### Additional Info

nothing

### Version

deno 1.10.3 (

[2021-06-02 22:49] #710 closed

[2021-06-02 22:50] #705 closed

[2021-06-03 00:59] magurotuna commented on #712
Oh, I was stupid, `no-unused-vars` skips linting jsx / tsx files _intentionally_ to avoid false positives around the factory functions...
https://github.com/denoland/deno_lint/blob/1c2ba8e10ce9f6e5406047e6165cf277aa2b92cc/src/rules/no_unused_vars.rs#L59-L64

[2021-06-03 00:59] #712 closed

[2021-06-03 02:00] brandly commented on #710
thanks for the quick fix!!

[2021-06-03 13:25] magurotuna opened #714 "Add new lint that bans `private` modifiers"
TypeScript 4.3 supports private class fields with `#`, aligning with the ECMAScript proposal.
The hash prefix (`#`) will work in both TypeScript and JavaScript, while `private` modifier doesn't once transpiled to JS - the `private` keyword is finally eliminated while being converted to JS. [playground](https://www.typescriptlang.org/play?target=99#code/MYGwhgzhAEBiD29oG8CwAoaXoAcBOAlgG5gAuAptAGaIB

[2021-06-03 20:50] kitsonk commented on #714
I'm not a big fan of this.  While there are now JavaScript standards for things like this, there is still a "benefit" to having type only modifiers like `public`, `protected` and `private` to allow some people to make code more readable, but also situations where having an "escape hatch" at runtime (while there is no escape hatch for private fields and methods (`#`) at runtime).

I can see that so

[2021-06-03 22:25] Guergeiro commented on #714
I agree with @kitsonk. Putting my own feelings aside about the whole `private` and `#` (already explained on Deno's discord), having a `private` field is not necessarily a mistake, but could be and intended *feature* as "soft private". A nice reading material that goes back and forth between TypeScript devs and users. microsoft/typescript#31670

[2021-06-03 22:27] crowlKats commented on #714
example?

[2021-06-04 15:51] Guergeiro commented on #714
Hum, the fact you'll go from `public`, `protected`, `private` to `public`, `protected`, `#`; Obviously the symbol *"pops"* as the different one from the keywords.

Using `this.foo` for every variable inside a class to `this.foo` + `this.#bar`, making it not "the same way".

[2021-06-04 21:27] kitsonk commented on #714
More readable is entirely subjective, so I am not sure an example would help you understand how using `private`, `protected` and `public` helps some code bases. :shrug: 😕

[2021-06-04 21:54] crowlKats commented on #714
Ah my bad, i misunderstood something.

[2021-06-05 07:51] magurotuna commented on #714
My thought is that if the objection is a matter of readability (here I define "readability" as "people feel more comfortable with a syntax because the keyword is more descriptive and they are used to it"), it's not a big deal as it will be resolved as time goes. I'm sure people will get used to `#` as its usage expands.
What I think really matters is `private` and `#` can have different purposes;

[2021-06-05 08:44] crowlKats commented on #714
In my opinion using a different name to say it is private (so using a `#` in front of the name) is better than having to check the definition for whether it has a `private` keyword or not.
Also I see people still using the `private` for properties even though ES private properties has been a thing for a long time, and their reason mostly is they either don't know about it or "just because".

[2021-06-06 11:18] magurotuna opened #716 "False positive: `no-unreachable` unexpectedly flags statements inside catch clause"
### Lint Name

no-unreachable

### Code Snippet

[code]

### Expected Result

No error happens

### Actual Result

[code]

### Additional Info

If the if-else block is removed this false positive goes away.

I found this bug when browsing oak's code
https://github.com/oakserver/oak/blob/51c02fc1979c8e2f921f91099a390ecc4727fb7a/application.ts#L428-L433

### Version

deno 1.10.3 (release, x86_64-unk

[2021-06-07 11:05] kitsonk opened #718 "Linting diagnostics for valid tripe-slash directives"
### Lint Name

no-invalid-triple-slash-reference

### Code Snippet

[code]

### Expected Result

No diagnostics.

### Actual Result

[code]

### Additional Info

We should allow all proper triple-slash references in a TypeScript file.

### Version

Deno Canary

[2021-06-07 11:24] magurotuna commented on #718
Thanks, I forgot to let the allow list include `no-default-lib`. I'll fix it.

[2021-06-07 12:05] #718 closed

[2021-06-07 16:11] #716 closed

[2021-06-13 00:01] somebody1234 opened #729 "[feature-request] Quick Actions"
the ability to ctrl+. then adding a deno-lint-ignore(-file) comment would be nice. currently I have to manually type it out, not sure if there's a better way

[2021-06-13 02:11] magurotuna commented on #729
Yes that would be a nice feature we should have, and there's a draft PR for that: https://github.com/denoland/deno/pull/10627

[2021-06-13 05:22] kitsonk commented on #729
Duplicate of denoland/deno#10122

[2021-06-13 05:22] #729 closed

[2021-06-13 07:44] somebody1234 opened #730 "Unused import triggers no-unused-vars rule"
### Lint Name

no-unused-vars

### Code Snippet

[code]

### Expected Result
Warning related to unused import

### Actual Result
no-unused-vars warning

### Additional Info
To be specific, renaming... certainly works, but isn't as simple as the warning suggests

### Version
deno 1.11.0 (release, x86_64-unknown-linux-gnu)
v8 9.1.269.35
typescript 4.3.2

[2021-06-14 01:28] magurotuna commented on #730
This behavior is in accordance with [ESLint's `no-unused-vars` rule](https://eslint.org/demo#eyJ0ZXh0IjoiaW1wb3J0IGZvbyBmcm9tIFwiYmFyXCI7Iiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjoxMiwic291cmNlVHlwZSI6Im1vZHVsZSIsImVjbWFGZWF0dXJlcyI6e319LCJydWxlcyI6eyJjb25zdHJ1Y3Rvci1zdXBlciI6MiwiZm9yLWRpcmVjdGlvbiI6MiwiZ2V0dGVyLXJldHVybiI6Miwibm8tYXN5bmMtcHJvbWlzZS1leGVjdXRvciI6Miwibm8tY2FzZS1kZWN

[2021-06-14 09:55] somebody1234 commented on #730
@magurotuna i don't mind that; it's still important to note that the suggested fix is wrong

[2021-06-14 09:56] somebody1234 commented on #730
could possibly also see if eslint could split that lint into `no-unused-imports`

[2021-06-14 13:03] magurotuna commented on #730
@somebody1234
Could you provide a specific example please? I don't understand what you mean by "the fix for them is different".
Perhaps you mean that the hint should be fixed? i.e. the current hint `` If this is intentional, prefix it with an underscore like `_anything` `` could be better, like ``If this is intentional, consider aliasing it like `anything as _anything`  ``?

Again I can't imagine

[2021-06-14 13:29] cvng opened #731 "accept `underscore` in enum declaration"
### Lint Name

camelcase

### Code Snippet

[code]

### Expected Result

No warning

### Actual Result

Identifier 'Identifier_2' is not in camel case.

### Additional Info

<img width="522" alt="Capture d’écran 2021-06-14 à 17 22 11" src="https://user-images.githubusercontent.com/7042907/121899122-2903ae80-cd35-11eb-9fd4-638a493a6982.png">

(those are generated from a graphql schema)

### Version

[2021-06-14 17:20] somebody1234 commented on #730
yes, by "fix" i mean the fix mentioned in the hint.
and i really doubt it's "a little too special to be covered by the linter" - especially since the linter can probably already find the location where a variable is defined (and therefore whether it's an import, a parameter, or a local variable)

[2021-06-15 03:36] magurotuna commented on #730
OK, that makes sense to me too. I'll make the hint clear.

I don't really get the point... how does the linter's capability of finding variable declaration location have something to do with your previous explanation about methods with empty default implementation? Could you show me an example?

[2021-06-15 08:13] somebody1234 commented on #730
well my point is, it shouldn't be *too* hard to make this change in the linter

[2021-06-15 08:55] magurotuna commented on #730
Which change? I don't ever get your point as your explanation sounds too abstract to me.

Could I have the following resources?

- sample code snippet including "an empty default implementation"
- what you expect the linter to do for the snippet
- the current behavior of the linter for the snippet

[2021-06-15 14:50] ry opened #733 "Dogfood lint.deno.land on Deno Deploy"
Also use Deno frontend tooling instead of Node tooling.

[2021-06-15 15:05] magurotuna commented on #730
@somebody1234 I have fixed the issue regarding the hint for named imports and opened #734. Do you think this PR addresses all issues you're having?

[2021-06-15 21:46] somebody1234 commented on #730
yea, looks great, thanks

[2021-06-16 13:57] magurotuna commented on #731
Currently, `camelcase` rule allows PascalCase or CAPITAL_SNAKE_CASE in enum variants, so `Identifier_2` in your example should be `Identifier2` or `IDENTIFIER_2`.
Is it impossible to change your GraphQL schema to follow this naming convention for some reason? If it's possible, please consider changing the schema. Otherwise, we have to discuss whether we should allow PascalCase to include underscor

[2021-06-17 10:56] magurotuna opened #736 "Maybe `camelcase` should be renamed to more appropriate one"
The `camelcase` rule complains about names of variables, functions, classes, enums, etc. that don't follow the naming convention. The rule name `camelcase` is named based on the fact that the naming convention encourages us to use camelCase for variables, functions, and object keys. But for other kind of names like classes, enums, or types, we're encouraged to use PascalCase instead of camelCase.

[2021-06-17 21:13] lawrence-dol commented on #176
Also need the ability to define a global set of rules, not just per project. Per project include/exclude then override (fully replace) the global rule set. Per file excludes (using `// deno-lint-ignore-file ...`) add to the the project excludes.

A possible nice enhancement would be to add `// deno-lint-include-file` to add to the project includes. And if done, `// deno-lint-ignore-file` should be

[2021-06-19 17:58] Soremwar opened #739 "Private overload arguments get flagged as unused"
The arguments inside the overloads get flagged by `no-unused-vars` as if the private overloads were in fact real functions

### Lint Name
no-unused-vars

### Code Snippet
[code]

### Expected Result
Since private functions became a supported feature by TS 4.3, they should behave as normal functions would do regarding overloads

### Version
deno 1.11.1 (release, x86_64-unknown-linux-gnu)
v8 9.1.269

[2021-06-19 18:09] #730 closed

[2021-06-20 05:12] 1e1001 opened #741 ""Invalid typeof comparison value" warning when using backtick strings"
### Lint Name

valid-typeof
### Code Snippet

[code]

### Expected Result
no warning
### Actual Result
warning on the \`string`, "Invalid typeof comparison value deno-lint(valid-typeof)"
### Additional Info

### Version
deno 1.11.1 (release, x86_64-unknown-linux-gnu)
v8 9.1.269.35
typescript 4.3.2

[2021-06-20 12:16] magurotuna opened #744 "`ban-unused-ignore` and `ban-unknown-rule-code` should be documented"
`ban-unused-ignore` and `ban-unknown-rule-code` are not documented in https://lint.deno.land/ right now, but they should be.

[2021-06-20 13:00] somebody1234 opened #745 "Feature Request: lint rule for empty enums? (including const enums)"
considering there's already a lint rule for empty interfaces, i think this would be not a bad idea at least

[2021-06-20 13:30] #739 closed

[2021-06-20 13:30] #741 closed

[2021-06-21 22:27] lawrence-dol opened #746 "Incorrect Flagging of Fallthrough"
When braces are used around a switch's case block, and the block is empty, dlint incorrectly flags the case as a fallthrough. Also, note that the same error is reported twice, which is a separate bug.

### Lint Name

no-fallthrough

### Code Snippet

[code]

### Expected Result

No errors.

### Actual Result

[code]

### Additional Info

This is using dlint.

### Version

deno 1.11.1 (release, x86

[2021-06-22 15:35] magurotuna commented on #746
Thanks for the bug report! I'm fixing the false positive.
On the other hand, in my environment, your second bug (the same error reported twice) isn't reproduced. I tried both deno v1.11.2 and dlint v0.6.0.
Does this bug happen for this specific case? Or this happens for all diagnostics?

[2021-06-22 16:04] #746 closed

[2021-06-22 16:52] lawrence-dol commented on #746
@magurotuna : Thanks for fixing this issue so quickly!

The duplicate report bug happens consistently for at least most diagnostics. I'll open a new issue for this, since it can create a lot of noise when linting code that was never linted before.

[2021-06-22 17:08] lawrence-dol opened #750 "Errors reported twice by dlint."
### Lint Name

All, or at least most.

### Code Snippet

[code]

### Expected Result

[code]

### Actual Result

[code]

### Additional Info

This happens for almost all errors reported.

It's strange that this has not be noticed before. Perhaps this is unique to the Windows executable?

Just in case it helps to see more examples, I've added an additional, much larger, output from a module that is

[2021-06-23 12:40] magurotuna commented on #750
@lawrence-dol Thanks. Is this issue specific to dlint? That is, if you run `deno lint` rather than `dlint run`, it doesn't happen, right?
Unfortunately, I don't have a Windows machine so I think it will likely take a while to figure out the cause. Please give me a moment.

[2021-06-23 14:11] magurotuna commented on #750
Hmm, I attempted to run `dlint` in the windows runner on GitHub Actions, but I didn't see the issue happen.
https://github.com/magurotuna/deno_lint/pull/1/checks?check_run_id=2895483816#step:8:294

So I suspect it's not related to Windows. Not quite sure, but it might be because of the config file. Can I have a look at the content of your `DenoLintRules.json`?

[2021-06-23 16:56] lawrence-dol commented on #750
Confirmed that the problem is only with `dlint` and does not happen with `deno lint`.

DenoLintRules.json (BTW, what does `tags` do? I just copied from examples for this file.):

[code]

[2021-06-23 17:07] lawrence-dol opened #752 "Syntax errors panic instead of emitting a cleanly formatted error."
### Lint Name

N/A.

### Code Snippet

[code]

### Expected Result

[code]

### Actual Result

[code]

### Additional Info

This looks like a simple case of default error handling that could be formatted to be much easier to parse, and therefore more useful.

### Version

dlint 0.6.0

[2021-06-24 02:16] magurotuna commented on #750
@lawrence-dol
Thanks for the additional info, I got it. The "recommended" tag enables the set of recommended rules, which you can see at [lint.deno.land](https://lint.deno.land/) with "Show only recommended rules" on. And you enable a bunch of rules in `include` section, some (or perhaps all?) of which are also tagged with "recommended and therefore it results in the same rule being run twice.
May

[2021-06-24 16:41] #750 closed

[2021-06-24 17:11] lawrence-dol commented on #750
@magurotuna : Doh! Thanks!

Yes, I do have all the rules listed, as either included or excluded, and that was my intent.

[2021-06-24 18:21] lawrence-dol commented on #750
@magurotuna : A few questions, then.

Have the contents of the config file been documented yet, and can you point me to it?

I've noted that the output of `dlint rules` and `deno lint --rules` appear to be incomplete (e.g. `no-vars` is missing). Will there be a reliable way to get a complete list of the currently supported rules eventually, or should I expect to add rules with new versions as I en

[2021-06-25 02:27] magurotuna commented on #750
@lawrence-dol
There's no documentation about the config file but ideally it should. I'll add it to my TODO list 👍

`deno lint` runs the "recommended" rules only, thus running `deno lint --rules` shows you the "recommended" only. On the other hand, `dlint rules` shows all the implemented rules.
In `deno lint`, the reliable way is `deno lint --rules`; In `dlint`, it is `dlint rules`.
There are docum

[2021-06-25 02:46] lawrence-dol commented on #750
@magurotuna 👍 👍 👍

That appears not to be the case -- I suspect it's showing only the recommended rules. Certainly, `no-var`, `eqeqeq`, `explicit-function-return-type`, and `explicit-module-boundary-types` are not being listed in 0.6.0.

[2021-06-25 06:18] magurotuna commented on #750
@lawrence-dol
Ooops. Actually `--all` is required to get all the rules, like `dlint rules --all`. Please try this out :)

And FYI, each dlint command can output help messages. For instance, running `dlint run --help` outputs:

[code]

or `dlint rules --help`:

[code]

These help messages might be helpful to some extent.

[2021-06-25 18:35] lawrence-dol commented on #750
Nuts! I didn't think to try that. Thanks for all the help!

[2021-06-25 18:47] lawrence-dol commented on #750
Hmmm. I don't suppose `"tags": [ "all" ], "exclude": ... ]` will enable all rules except those in the exclude list?

[2021-06-25 22:56] magurotuna commented on #750
"all" is not a tag. Currently the only valid tag is "recommended".
And the application order of the config is `tag` -> `exclude` -> `include`. For example, if we use the following config, `eqeqeq` is enabled eventually.

[code]

The point is, if you want to enable as many rules as possible, the config file would look like:

[code]

Note that the rules that don't belong to "recommended" are kind of

[2021-06-30 03:38] magurotuna opened #757 "New lint: `prefer-primordials` (dedicated to deno_core)"
From https://github.com/denoland/deno/pull/10939#issue-668829704

given script use primordials. We should consider adding a plugin for this to
dlint too. See https://github.com/nodejs/node/blob/master/tools/eslint-rules/prefer-primordials.js

[2021-07-01 02:19] magurotuna opened #761 "Render hyperlinks in docs nicely to the terminal"
Currently, links in docs are rendered as they are, like `[foo](https://example.com)`.
(as we can see in https://github.com/denoland/deno_lint/pull/756#issuecomment-870692549)

This is not so bad, but some terminal emulators support hyperlinks (just like HTML `<a>` tag) as described in [this gist](https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda). Probably we could make use of thi

[2021-07-01 14:01] bartlomieju opened #762 "LinterBuilder should accept tsconfig"
There are some options in tsconfig that we want to change default values for `deno` (https://github.com/denoland/deno/issues/11186). `deno_lint` should be able to take those options into account and warn about changes.

We actually parse tsconfig into strictly type structure in `deno` so I'm not yet sure which approach would be better:
- create a custom rule in `deno` that will accept that strictl

[2021-07-01 16:48] magurotuna commented on #762
I've been thinking about the same kind of problem in #672.
In #672, we plan to use [`MediaType`] to determine whether the target file is TS or JS. The problem here is [`MediaType`] is defined in deno_cli so we can't pass the value of type [`MediaType`] to deno_lint directly.

Similarly, in this issue, we want to pass the typed tsconfig values (which are effectively [`EmitConfigOptions`] I guess) f

[2021-07-01 17:43] bartlomieju commented on #762
@magurotuna I agree, it's better to duplicate a bit of code than introduce another inter-crate dependency. In linter we only care about 4 out of 9 variants in `MediaType` anyway (`JavaScript`, `Jsx`, `TypeScript`, `Dts`, `Tsx`). This should be way simpler to implement and leave most of complexity in CLI.

[2021-07-01 21:58] kitsonk commented on #762
Two thoughts...

Is MediaType actually a core concept like ModuleSpecifier. While core doesn't use it, it has become a foundational concept where we want reliable handling. Should we move it to core?

Also while we are only concerned about a few keys in the compiler options part of the config at the moment, that structure is intended to be "the structure" for config, including deno lint and deno f

[2021-07-02 03:18] magurotuna commented on #762
@kitsonk
Moving the two into deno_core would also be fine except that it leads to "fat" core. Also, as far as I understand deno_core is carefully kept to be TypeScript agnostic, right? I'm a bit worried that having TS-related stuff in deno_core would violate this philosophy.

[2021-07-02 09:01] mitranim opened #1327 "`deno lint` needs detection of undefined identifiers (`no-undef`) to be useful"
Currently, `deno lint` doesn't complain about missing identifiers. The following JS program passes linting but explodes at runtime:

[code]

In my experience, this is an _extremely_ common source of bugs. The TS compiler checks this, but not every project uses TS. For JS, a linter able to detect this is essential; as a result, `deno lint` is not sufficient, forcing the use of `eslint`.

The main d

[2021-07-03 01:41] tamusjroyce opened #763 "Any documentation / roadmap autofix lint?"
Any documentation / roadmap autofix link? Trying to finish a PR and was hoping some of the non-issue lint errors would be auto-fixed. I haven't done too much digging. So maybe autofix is a feature of deno lint command

[2021-07-03 02:22] magurotuna commented on #763
Autofix is not yet implemented. I think its priority is relatively low so it will take a while to get it available.

[2021-07-03 04:38] tamusjroyce commented on #763
Sounds good. Once [deno_wsc](https://github.com/nestdotland/deno_swc/pulls) is updated, might be easier. Turning minify to false in the example does a good job of formatting the code (code -> pure ast -> formatted code).

I think a little more needs exposed from rust to adjust 2 spaces instead of 4 and other tslint defined controlling variables. But it is a MVP sample to work from. If this is inte

[2021-07-03 09:49] magurotuna commented on #763
I don't think I understand your idea so please correct me if I'm wrong, but is it that you will implement the auto-fix feature in TypeScript rather than Rust, using `deno_swc`? If it's correct, I don't think it's a good idea, because `deno_lint` needs to be a library written in Rust so that Deno CLI (which resides in https://github.com/denoland/deno) can depend on and make use of it.

Linter and f

[2021-07-04 04:31] tamusjroyce commented on #763
Excellent point. I completely agree it should be written in Rust. My point was that the example in deno_wsc (deno wrapper around ast) has a good example. No reason why we shouldn’t be able to easily do the same in Rust.

Great answer. Sounds like there are a lot of things outside of code that are blocking lint fix. So maybe even lint fix belongs as a different tool outside of lint? In any way, tha

[2021-07-04 04:31] #763 closed

[2021-07-04 05:52] magurotuna commented on #763
I thought that integrating the auto-fix feature into deno_lint itself would be fine, but your idea also sounds good and reasonable. It would be something like receiving diagnostic results from the linter and performing the auto-fix to the code based on the results. This separation of responsibility would be really nice.

[2021-07-08 01:12] magurotuna opened #765 "Replace `markdown` and `ansi_term` with `pulldown-cmark`, `termcolor`"
In dlint we are using `markdown` and `ansi_term` to render markdown docs to the terminal, but when porting this feature to Deno CLI, it's desirable to replace these crates with ones that already exist in the dependency tree of deno cli. For compatibility dlint should probably depends on the same crates as well.
ref: https://github.com/denoland/deno/pull/11244#issuecomment-875321311

[2021-07-08 16:05] bartlomieju commented on #765
CC @dsherret I think you mentioned that you wanted to move away from `pulldown-cmark`?

[2021-07-08 17:47] dsherret commented on #765
Hey @magurotuna, there was a discussion today again about adding deno lint rules to the CLI docs and we thought linking to https://lint.deno.land would be sufficient enough information to give to users. The main reason is that we don't believe many people will be reading the lint rules from the CLI and linking them to https://lint.deno.land is a better experience with less for us to maintain in th

[2021-07-09 02:37] magurotuna commented on #765
@dsherret
I agree that linking to https://lint.deno.land would be sufficient, but I don't think it's that much of a burden for us to maintain CLI doc because the source of docs is identical. Also, syntax highlight for markdown could be used for other purposes like `deno doc` command output, so even if we decide to not add the feature of lint docs as CLI, the code for markdown pretty printer will p

[2021-07-12 15:01] magurotuna opened #772 "`no-redeclare` should not check `let` and `const`"
### Lint Name

### Code Snippet

[code]

### Expected Result

No `no-redeclare` errors

### Actual Result

[code]

### Additional Info

In fact `no-redeclare` and `@typescript-eslint/no-redeclare` don't check `let` and `const`. These two declaration kinds, if redeclared, are just syntax errors, so it's not an error the linter should cover.

### Version

34e4147

[2021-07-13 15:14] oganexon opened #774 "Empty object: "This type may be different from what you expect it to be""
### Lint Name

`ban-types`

### Code Snippet

[code]

### Expected Result

Linter should not complain because I expect `{}` to be an empty object. Perhaps there's another way to type this?

### Actual Result

[code]

### Additional Info

I use an API that returns an array of `User` objects and empty objects. This example is way simplified, but this is the idea.

### Version

deno 1.11.3 (release,

[2021-07-13 21:39] magurotuna commented on #774
@oganexon
If you want to specify an empty object type, try using `Record<string, never>` instead of `{}`.

[code]

Alternatively the following also works:

[code]

The linter should add this information to the hint. I'll do it.

[2021-07-13 22:18] oganexon commented on #774
Thanks, I didn't think of that!

[2021-07-13 22:18] #774 closed

[2021-07-14 02:27] magurotuna opened #775 "`ban-types` should show hint that suggests `Record<string, never>` for typing empty object"
Ref #774

[2021-07-15 21:27] lawrence-dol commented on #772
I have to disagree; whether a syntax error or not, it's definitely a redeclaration and it's useful for the linter to pick it up before having to actually run the code.

[2021-07-15 21:28] lawrence-dol commented on #752
This is sufficiently clean and useful now. Much easier to find the actual fault. Thanks!

[2021-07-15 21:28] #752 closed

[2021-07-17 00:10] magurotuna commented on #772
OK that makes sense. I thought being compatible with ESLint / typescript-eslint would be good, but as you say it's useful even for syntax errors to be flagged when working with JS code. I'll keep this rule's behavior as it is and close this issue.

[2021-07-17 00:10] #772 closed

[2021-07-17 21:02] #775 closed

[2021-07-18 21:48] 0kku commented on #714
Isn't the whole point of the linter being configurable so people can turn off the options they don't want? Seems quite reasonable that some people would want to disallow the usage of `private` and `public`. I myself have disallowed their usage in some of my projects through ESLint, and I'd find it quite disappointing if Deno's linter didn't have this option because… It might not be useful to every

[2021-07-18 22:38] grian32 opened #779 "[Suggestion] Lint rule to disallow `arr[arr.length - 1]`"
With the new `arr.at(-1)` syntax introduced V8 9.2, perhaps it would be a good idea to have a rule to disallow `arr[arr.length - 1]` syntax, ass `arr.at(-1)` is imo cleaner and was made for this purpose more or less.

This would of course have to wait for 1.12.1 or whatever version fixes the issue that doesn't let ts recognize `.at`

[2021-07-19 22:27] David-Else opened #780 "Use linter for Browser code. Have selector for Deno/Browser?"
I would like to use the linter for all my Browser-based TypeScript and replace ESLint, but I need to use `"deno.enable": true,` to turn the linter on. This stops the use of some DOM API's and means you need to add `.ts` to imports.

**Describe the solution you'd like**

It seems that Deno is ready to replace ESLint inside Visual Studio Code, but is just missing something in this extension. Maybe h

[2021-07-19 22:29] kitsonk commented on #780
I moved this from vscode_deno, because not only does this apply for linting in the editor, but elsewhere. Maybe we should consider having lint inspect the ConfigFile compiler options, and seeing what the `"lib"` value is for those and have that impact what global symbols it has?

[2021-07-22 13:13] tamusjroyce commented on #763
I was able to assist updating [deno_swc](https://github.com/nestdotland/deno_swc) to the latest (littledivy and wongjiahau did the heavy lifting). I am thinking deno_lint and deno_lint_typescript that would both be able to consume deno lint results. The typescript version would be extendable, per-project, using deno_swc to manipulate ast.

[2021-07-22 14:21] magurotuna commented on #744
This has been resolved by #769

[2021-07-22 14:21] #744 closed

[2021-07-23 21:44] metanomial opened #782 ""Fallthrough is not allowed" after calling a function that never returns"
"Fallthrough is not allowed" is flagged after making a call to a function with the return type `never`.

[code]

### Version

deno 1.12.1 (release, x86_64-unknown-linux-gnu)
v8 9.2.230.14
typescript 4.3.5

[2021-07-23 21:49] kitsonk commented on #782
The challenge is that currently `deno_lint` cannot utilise types when linting, so it doesn't know that it is a `never` function.

[2021-07-23 22:24] magurotuna commented on #782
Yes, as @kitsonk said, this case is pretty hard to be handled correctly by the linter due to the inability to know the return type of the function. I'd add `// deno-lint-ignore no-fallthrough` for the moment.

[2021-07-26 11:51] #757 closed

[2021-07-28 12:08] magurotuna commented on #765
According to the design meeting held on July 8th (#11365), it seems like this feature is not what we should land. Close.

[2021-07-28 12:08] #765 closed

[2021-07-28 12:09] magurotuna commented on #761
According to the design meeting held on July 8th (#11365), it seems like this feature is not what we should land. Close.

[2021-07-28 12:09] #761 closed

[2021-07-28 13:22] ry commented on #761
@magurotuna Yes, I should have commented here already. We don't want to bloat the code with all of these nice-to-have terminal rendering features when a link to lint.deno.land would solve the problem.

[2021-07-28 16:44] kecrily opened #784 "import_map.json and lint don't work well together"
### Lint Name

import-prefix-missing

### Code Snippet

[code]

import_map

[code]

### Expected Result

Not subject to import-prefix-missing

### Actual Result

Relative import path "clippy" not prefixed with / or ./ or ../ from “........”

### Additional Info

This happens when only a typescript file is imported, and prompt for error in VSCode only.

### Version

[code]

[2021-07-28 16:51] kecrily commented on #784
Maybe I should go to `vscode_deno` and submit an issue.

[2021-07-28 16:51] #784 closed

[2021-08-01 12:58] magurotuna opened #786 "Move rules' docs to separate markdown files and let them be included via `include_str!`"
Currently, rules' docs are written directly in the Rust source code in markdown format, like https://github.com/denoland/deno_lint/blob/219f132d9c8a9864ce3eaea338ac6068cf0ecb7b/src/rules/no_with.rs#L36-L52

This works fine, but we could move them to separate markdown files and let them be included via `include_str!` like

[code]

The nice things about it are:

1. docs will be rendered on GitHub. (

[2021-08-07 08:11] ry opened #788 "Deno lint error messages are not easily visible in github actions"
<img width="835" alt="Screen Shot 2021-08-07 at 10 09 13 AM" src="https://user-images.githubusercontent.com/80/128593534-ae511192-2f91-4b30-b417-435eed062da0.png">

In [this example](https://github.com/denoland/deno/runs/3268467754#step:33:1395) the string "no-deprecated-deno-api" has a dark color that is not easily visible on dark backgrounds.

[2021-08-10 20:12] dsherret opened #790 "Remove usage of `SourceMap` and `SourceFile`"
I'm going to work on https://github.com/dprint/dprint-swc-ecma-ast-view/issues/28 first, but we should remove the usage of these as there is no need to have them and they do not implement `Sync`.

This is part of the work for reducing extra parses in Deno's language server.

[2021-08-11 17:35] lawrence-dol opened #791 "Semicolon Ambiguity."
Would it be feasible to create an optional (off by default) rule to enforce consistent use of semicolons in JavaScript, such that auto semicolon insertion is never depended on? In particular, I would like the linter to ensure that if two lines are concatenated behavior is not altered because a semicolon is no longer inserted where it would otherwise have been if the lines were separate.

Rationale